<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Intro" data-toc-modified-id="Intro-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Intro</a></span></li><li><span><a href="#‚≠ê-STAR-‚≠ê" data-toc-modified-id="‚≠ê-STAR-‚≠ê-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>‚≠ê STAR ‚≠ê</a></span><ul class="toc-item"><li><span><a href="#üîé-Situation-üîç" data-toc-modified-id="üîé-Situation-üîç-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>üîé Situation üîç</a></span></li><li><span><a href="#‚ö†Ô∏è-Threat-‚ö†Ô∏è" data-toc-modified-id="‚ö†Ô∏è-Threat-‚ö†Ô∏è-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>‚ö†Ô∏è Threat ‚ö†Ô∏è</a></span></li><li><span><a href="#‚öíÔ∏è-Action-‚öíÔ∏è" data-toc-modified-id="‚öíÔ∏è-Action-‚öíÔ∏è-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>‚öíÔ∏è Action ‚öíÔ∏è</a></span></li><li><span><a href="#üìã-Result-üìã" data-toc-modified-id="üìã-Result-üìã-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>üìã Result üìã</a></span></li></ul></li><li><span><a href="#üö¢-Import" data-toc-modified-id="üö¢-Import-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>üö¢ Import</a></span></li><li><span><a href="#üßº-Cleaning" data-toc-modified-id="üßº-Cleaning-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>üßº Cleaning</a></span></li><li><span><a href="#Workflow-1:-Keep-All-Row-Labels" data-toc-modified-id="Workflow-1:-Keep-All-Row-Labels-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Workflow 1: Keep All Row Labels</a></span><ul class="toc-item"><li><span><a href="#‚úîÔ∏è-FIXED-ERROR-‚úîÔ∏è" data-toc-modified-id="‚úîÔ∏è-FIXED-ERROR-‚úîÔ∏è-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>‚úîÔ∏è FIXED ERROR ‚úîÔ∏è</a></span></li></ul></li><li><span><a href="#‚ö†Ô∏è-‚öíÔ∏è-TODO:-‚öíÔ∏è-‚ö†Ô∏è" data-toc-modified-id="‚ö†Ô∏è-‚öíÔ∏è-TODO:-‚öíÔ∏è-‚ö†Ô∏è-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>‚ö†Ô∏è ‚öíÔ∏è TODO: ‚öíÔ∏è ‚ö†Ô∏è</a></span></li><li><span><a href="#Workflow-1:-Dropping-Unused-Labels" data-toc-modified-id="Workflow-1:-Dropping-Unused-Labels-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Workflow 1: Dropping Unused Labels</a></span></li><li><span><a href="#‚ö†Ô∏è-CONDENSE-W/-UPPER-WF-‚ö†Ô∏è" data-toc-modified-id="‚ö†Ô∏è-CONDENSE-W/-UPPER-WF-‚ö†Ô∏è-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>‚ö†Ô∏è CONDENSE W/ UPPER WF ‚ö†Ô∏è</a></span></li></ul></div>

# Intro

# ‚≠ê STAR ‚≠ê

## üîé Situation üîç

---

* NA uses DRR summary reports to post revenue in LS
* I use report packet to review for DRR

---

## ‚ö†Ô∏è Threat ‚ö†Ô∏è

---

* **Pro:** clearly provide total sum amounts for audit to post directly

* **Cons:**
    * "Food" = "Food" + "Other"
    * Discounts are ambiguous
        * FBC vs. Assoc vs. others
    * *LOTS* of unused rows/labels create visual confusion
    * Not always clear to which XAC to post revenue/tax/tips
    * Unusual/new/unused categories are not always accounted for

All issues result in manual review of all transactions during the Daily reporting process.

---

## ‚öíÔ∏è Action ‚öíÔ∏è

---

**Create workflow to:**

* *Read existing DD reports*


* *Clean the report to isolate relevant details*


* *Report any irregularities:*
    * Any discounts or charges?
    * Any new/non-standard MOPs?
    * Report exact amounts to post to each LS XAC
        * See below

---

---

**End Goal:**

---

> **Post these amounts in LightSpeed:**

<!-- | |Dept | Rain 903 | IRD  | CC | Bar| 
| - | - | - | - | - | - |
|**Sub-Dept** | |  |  |  |
|Food | 1.00 | 1.00 | 1.00 | 1.00 |
|Liquor | 2.00 | 2.00 | 2.00 | 2.00 
|Tax | 3.00 | 3.00 | 3.00 | 3.00 
|Gratuity | 4.00 | 4.00 | 4.00 | 4.00  -->

|Dept| Food | Liquor | Tax  | Gratuity | 
| -  | -    | -      | -    | -        |
| DR | 1.00 | 1.00   | 1.00 | 1.00     |
| RS | 4.00 | 4.00   | 4.00 | 4.00     |
| CC | 1.00 | 1.00   | 1.00 | 1.00     |
| LB | 4.00 | 4.00   | 4.00 | 4.00     |

---

 >**Investigate these amounts:**
 
 | Item            | Amount |
 | -               | - |
 | Discount        | 1.00 |
 | Charge          | 1.00 |
 | $2 Tip - Coupon | 1.00 |

---

## üìã Result üìã

# üö¢ Import

---

I will **use standard data reading/wrangling/EDA packages,** such as Numpy, Pandas, Matplotlib, and Seaborn, to prepare and review my data prior to generating the final report.

Additionally, I will **import my own personal EDA module,** containing a selection of hand-written functions to make the EDA process a bit easier.

Finally, I will **create two particular variables to help determine the source data:**
1. A Boolean variable controlling whether to use the reference files included in this repo (versus live/new reports).
2. A filepath as a string datatype to import the data.

---

In [113]:
## Importing Packages

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime, timedelta

import bmcds.eda as eda

pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', '{:.2f}'.format)
%matplotlib inline

In [114]:
## Setting to use reference files vs. actuals
use_ref_rpt = True

In [115]:
## Specify file path

file_path = './data/02_25_2022_pc.xls'

In [116]:
# ## Read specific columns from Excel file

# df = pd.read_excel(file_path, skiprows = 3, header = None,
#                    usecols = 'A, B, D, F, H', 
#                    names = ['Label', 'Lounge', 'Rain 903', 'In-Room Dining',
#                             'Coffee Corner'])
# df

In [117]:
## Read all columns from file (incl. empty columns)

df = pd.read_excel(file_path, skiprows = 2)
df

,Bar,Unnamed: 1,Dining Room,Unnamed: 3,Room Service,Unnamed: 5,Starbucks,Unnamed: 7,Page Total,Unnamed: 9
0,Food,742.00,NaN,273.00,NaN,62.00,NaN,247.65,NaN,1324.65
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Beverage,1215.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,1215.00
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Other,0.00,NaN,0.00,NaN,20.00,NaN,16.25,NaN,36.25
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Sales Subtotal,1957.00,NaN,273.00,NaN,82.00,NaN,263.90,NaN,2575.90
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Discount,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Charge,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Total before tax,1957.00,NaN,273.00,NaN,82.00,NaN,263.90,NaN,2575.90
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MD Food 6%,44.52,NaN,16.38,NaN,3.72,NaN,16.04,NaN,80.66
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,MD Liq 9%,109.35,NaN,0.00,NaN,0.00,NaN,0.00,NaN,109.35
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,None,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,None,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Tax Subtotal,153.87,NaN,16.38,NaN,3.72,NaN,16.04,NaN,190.01
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Receipt Rounding,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Total of check,2110.87,NaN,289.38,NaN,85.72,NaN,279.94,NaN,2765.91
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,,,NaN,,NaN,,NaN,,NaN,
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Tip collected,338.98,NaN,53.50,NaN,27.40,NaN,26.00,NaN,445.88
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,PaidIn - AR,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,PaidIn - Debitek,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,PaidIn - Gift Certificates,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Unadjusted receipts,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,,,NaN,,NaN,,NaN,,NaN,
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,No of Covers,65.00,NaN,12.00,NaN,4.00,NaN,43.00,NaN,124.00
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,No of Checks,66,NaN,12,NaN,4,NaN,43,NaN,125
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Avg cover,30.11,NaN,22.75,NaN,20.50,NaN,6.14,NaN,20.77
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Avg check,29.65,NaN,22.75,NaN,20.50,NaN,6.14,NaN,20.61
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,,,NaN,,NaN,,NaN,,NaN,
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,ALL A&G CHRG,31.25,NaN,31.20,NaN,0.00,NaN,0.00,NaN,62.45
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Room Charge,585.90,NaN,102.20,NaN,70.88,NaN,46.80,NaN,805.78
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,American Express,91.79,NaN,0.00,NaN,0.00,NaN,10.22,NaN,102.01
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Cash,240.84,NaN,0.00,NaN,0.00,NaN,35.60,NaN,276.44
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Discover Card,134.73,NaN,0.00,NaN,0.00,NaN,0.00,NaN,134.73
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,MasterCard,334.45,NaN,58.32,NaN,0.00,NaN,31.38,NaN,424.15
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,Visa,1030.89,NaN,151.16,NaN,42.24,NaN,181.94,NaN,1406.23
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,$2 Tip - Coupon,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,PMS A&G,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,Paper Gift Certificate,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,LevelUp,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,S & P,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,20% Discount,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,Bad Payment,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,External Payment,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,,,NaN,,NaN,,NaN,,NaN,
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Unadjusted receipts,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,Total Paid Outs,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,Server bank,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,Total tips,338.98,NaN,53.50,NaN,27.40,NaN,26.00,NaN,445.88
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,Server credit card fees,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,Net tips,338.98,NaN,53.50,NaN,27.40,NaN,26.00,NaN,445.88
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,Net Cash,-98.14,NaN,-53.50,NaN,-27.40,NaN,9.60,NaN,-169.44
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,Other receipts turned in,2209.01,NaN,342.88,NaN,113.12,NaN,270.34,NaN,2935.35
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,Server Drops,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,Turned in,2110.87,NaN,289.38,NaN,85.72,NaN,279.94,NaN,2765.91
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,Restaurant credit card fees,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,Estimated deposit,2110.87,NaN,289.38,NaN,85.72,NaN,279.94,NaN,2765.91
107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,,,NaN,,NaN,,NaN,,NaN,
109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,Beginning NRS Total,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,Total Receipts,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,Discounts,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,Paid Ins,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,Gross Total,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NRS Total,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,*** End of Report ***,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# üßº Cleaning

---

I imported the data into a dataframe and immediately see that I will need to fix the alignment of my column names.

Additionally, there are several "Unnamed" columns (representing empty, unlabeled columns generated as part of the report). Knowing those columns are empty, I will drop those as well.

---

In [118]:
## Shifting label names one to the right and drop extra column

df.columns = ['Label', *df.columns[:-1]]
df

,Label,Bar,Unnamed: 1,Dining Room,Unnamed: 3,Room Service,Unnamed: 5,Starbucks,Unnamed: 7,Page Total
0,Food,742.00,NaN,273.00,NaN,62.00,NaN,247.65,NaN,1324.65
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Beverage,1215.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,1215.00
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Other,0.00,NaN,0.00,NaN,20.00,NaN,16.25,NaN,36.25
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Sales Subtotal,1957.00,NaN,273.00,NaN,82.00,NaN,263.90,NaN,2575.90
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Discount,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Charge,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Total before tax,1957.00,NaN,273.00,NaN,82.00,NaN,263.90,NaN,2575.90
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MD Food 6%,44.52,NaN,16.38,NaN,3.72,NaN,16.04,NaN,80.66
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,MD Liq 9%,109.35,NaN,0.00,NaN,0.00,NaN,0.00,NaN,109.35
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,None,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,None,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Tax Subtotal,153.87,NaN,16.38,NaN,3.72,NaN,16.04,NaN,190.01
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Receipt Rounding,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Total of check,2110.87,NaN,289.38,NaN,85.72,NaN,279.94,NaN,2765.91
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,,,NaN,,NaN,,NaN,,NaN,
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Tip collected,338.98,NaN,53.50,NaN,27.40,NaN,26.00,NaN,445.88
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,PaidIn - AR,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,PaidIn - Debitek,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,PaidIn - Gift Certificates,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Unadjusted receipts,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,,,NaN,,NaN,,NaN,,NaN,
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,No of Covers,65.00,NaN,12.00,NaN,4.00,NaN,43.00,NaN,124.00
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,No of Checks,66,NaN,12,NaN,4,NaN,43,NaN,125
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Avg cover,30.11,NaN,22.75,NaN,20.50,NaN,6.14,NaN,20.77
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Avg check,29.65,NaN,22.75,NaN,20.50,NaN,6.14,NaN,20.61
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,,,NaN,,NaN,,NaN,,NaN,
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,ALL A&G CHRG,31.25,NaN,31.20,NaN,0.00,NaN,0.00,NaN,62.45
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Room Charge,585.90,NaN,102.20,NaN,70.88,NaN,46.80,NaN,805.78
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,American Express,91.79,NaN,0.00,NaN,0.00,NaN,10.22,NaN,102.01
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Cash,240.84,NaN,0.00,NaN,0.00,NaN,35.60,NaN,276.44
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Discover Card,134.73,NaN,0.00,NaN,0.00,NaN,0.00,NaN,134.73
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,MasterCard,334.45,NaN,58.32,NaN,0.00,NaN,31.38,NaN,424.15
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,Visa,1030.89,NaN,151.16,NaN,42.24,NaN,181.94,NaN,1406.23
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,$2 Tip - Coupon,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,PMS A&G,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,Paper Gift Certificate,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,LevelUp,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,S & P,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,20% Discount,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,Bad Payment,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,External Payment,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,,,NaN,,NaN,,NaN,,NaN,
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Unadjusted receipts,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,Total Paid Outs,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,Server bank,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,Total tips,338.98,NaN,53.50,NaN,27.40,NaN,26.00,NaN,445.88
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,Server credit card fees,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,Net tips,338.98,NaN,53.50,NaN,27.40,NaN,26.00,NaN,445.88
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,Net Cash,-98.14,NaN,-53.50,NaN,-27.40,NaN,9.60,NaN,-169.44
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,Other receipts turned in,2209.01,NaN,342.88,NaN,113.12,NaN,270.34,NaN,2935.35
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,Server Drops,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,Turned in,2110.87,NaN,289.38,NaN,85.72,NaN,279.94,NaN,2765.91
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,Restaurant credit card fees,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,Estimated deposit,2110.87,NaN,289.38,NaN,85.72,NaN,279.94,NaN,2765.91
107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,,,NaN,,NaN,,NaN,,NaN,
109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,Beginning NRS Total,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,Total Receipts,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,Discounts,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,Paid Ins,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,Gross Total,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NRS Total,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,*** End of Report ***,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
## Creating list of columns to keep/drop

col_labels = ['Label', 'Bar', 'Dining Room', 'Room Service', 'Starbucks']
drop_cols = []

for col in df.columns:
    if col not in col_labels:
        drop_cols.append(col)
        
drop_cols

['Unnamed: 1', 'Unnamed: 3', 'Unnamed: 5', 'Unnamed: 7', 'Page Total']

In [120]:
## Dropping columns not representing an outlet

df = df.drop(columns = drop_cols)
df

                           Label      Bar Dining Room Room Service Starbucks
0                           Food   742.00      273.00        62.00    247.65
1                            NaN      NaN         NaN          NaN       NaN
2                       Beverage  1215.00        0.00         0.00      0.00
3                            NaN      NaN         NaN          NaN       NaN
4                          Other     0.00        0.00        20.00     16.25
5                            NaN      NaN         NaN          NaN       NaN
6                 Sales Subtotal  1957.00      273.00        82.00    263.90
7                            NaN      NaN         NaN          NaN       NaN
8                       Discount     0.00        0.00         0.00      0.00
9                            NaN      NaN         NaN          NaN       NaN
10                        Charge     0.00        0.00         0.00      0.00
11                           NaN      NaN         NaN          NaN       NaN
12              Total before tax  1957.00      273.00        82.00    263.90
13                           NaN      NaN         NaN          NaN       NaN
14                    MD Food 6%    44.52       16.38         3.72     16.04
15                           NaN      NaN         NaN          NaN       NaN
16                     MD Liq 9%   109.35        0.00         0.00      0.00
17                           NaN      NaN         NaN          NaN       NaN
18                          None     0.00        0.00         0.00      0.00
19                           NaN      NaN         NaN          NaN       NaN
20                          None     0.00        0.00         0.00      0.00
21                           NaN      NaN         NaN          NaN       NaN
22                  Tax Subtotal   153.87       16.38         3.72     16.04
23                           NaN      NaN         NaN          NaN       NaN
24              Receipt Rounding     0.00        0.00         0.00      0.00
25                           NaN      NaN         NaN          NaN       NaN
26                Total of check  2110.87      289.38        85.72    279.94
27                           NaN      NaN         NaN          NaN       NaN
28
29                           NaN      NaN         NaN          NaN       NaN
30                 Tip collected   338.98       53.50        27.40     26.00
31                           NaN      NaN         NaN          NaN       NaN
32                   PaidIn - AR     0.00        0.00         0.00      0.00
33                           NaN      NaN         NaN          NaN       NaN
34              PaidIn - Debitek     0.00        0.00         0.00      0.00
35                           NaN      NaN         NaN          NaN       NaN
36    PaidIn - Gift Certificates     0.00        0.00         0.00      0.00
37                           NaN      NaN         NaN          NaN       NaN
38           Unadjusted receipts  2449.85      342.88       113.12    305.94
39                           NaN      NaN         NaN          NaN       NaN
40
41                           NaN      NaN         NaN          NaN       NaN
42                  No of Covers    65.00       12.00         4.00     43.00
43                           NaN      NaN         NaN          NaN       NaN
44                  No of Checks       66          12            4        43
45                           NaN      NaN         NaN          NaN       NaN
46                     Avg cover    30.11       22.75        20.50      6.14
47                           NaN      NaN         NaN          NaN       NaN
48                     Avg check    29.65       22.75        20.50      6.14
49                           NaN      NaN         NaN          NaN       NaN
50
51                           NaN      NaN         NaN          NaN       NaN
52                  ALL A&G CHRG    31.25       31.20         0.00      0.00
53                           NaN      NaN         NaN          NaN       NaN
54                   Room Charge   585.90      102.20        70.88     46.80
55                           NaN      NaN         NaN          NaN       NaN
56              American Express    91.79        0.00         0.00     10.22
57                           NaN      NaN         NaN          NaN       NaN
58                          Cash   240.84        0.00         0.00     35.60
59                           NaN      NaN         NaN          NaN       NaN
60                 Discover Card   134.73        0.00         0.00      0.00
61                           NaN      NaN         NaN          NaN       NaN
62                    MasterCard   334.45       58.32         0.00     31.38
63                           NaN      NaN         NaN          NaN       NaN
64                          Visa  1030.89      151.16        42.24    181.94
65                           NaN      NaN         NaN          NaN       NaN
66               $2 Tip - Coupon     0.00        0.00         0.00      0.00
67                           NaN      NaN         NaN          NaN       NaN
68                       PMS A&G     0.00        0.00         0.00      0.00
69                           NaN      NaN         NaN          NaN       NaN
70        Paper Gift Certificate     0.00        0.00         0.00      0.00
71                           NaN      NaN         NaN          NaN       NaN
72                       LevelUp     0.00        0.00         0.00      0.00
73                           NaN      NaN         NaN          NaN       NaN
74                         S & P     0.00        0.00         0.00      0.00
75                           NaN      NaN         NaN          NaN       NaN
76                  20% Discount     0.00        0.00         0.00      0.00
77                           NaN      NaN         NaN          NaN       NaN
78                   Bad Payment     0.00        0.00         0.00      0.00
79                           NaN      NaN         NaN          NaN       NaN
80              External Payment     0.00        0.00         0.00      0.00
81                           NaN      NaN         NaN          NaN       NaN
82
83                           NaN      NaN         NaN          NaN       NaN
84           Unadjusted receipts  2449.85      342.88       113.12    305.94
85                           NaN      NaN         NaN          NaN       NaN
86               Total Paid Outs     0.00        0.00         0.00      0.00
87                           NaN      NaN         NaN          NaN       NaN
88                   Server bank     0.00        0.00         0.00      0.00
89                           NaN      NaN         NaN          NaN       NaN
90                    Total tips   338.98       53.50        27.40     26.00
91                           NaN      NaN         NaN          NaN       NaN
92       Server credit card fees     0.00        0.00         0.00      0.00
93                           NaN      NaN         NaN          NaN       NaN
94                      Net tips   338.98       53.50        27.40     26.00
95                           NaN      NaN         NaN          NaN       NaN
96                      Net Cash   -98.14      -53.50       -27.40      9.60
97                           NaN      NaN         NaN          NaN       NaN
98      Other receipts turned in  2209.01      342.88       113.12    270.34
99                           NaN      NaN         NaN          NaN       NaN
100                 Server Drops     0.00        0.00         0.00      0.00
101                          NaN      NaN         NaN          NaN       NaN
102                    Turned in  2110.87      289.38        85.72    279.94
103                          NaN      NaN         NaN          NaN       NaN
104  Restaurant credit card fees     0.00        0.00         0.00      0.00
105                          NaN      NaN         NaN          NaN       NaN
106            Estimated deposit  2110.87      289.38        85.72    279.94
107                          NaN      NaN         NaN          NaN       NaN
108
109                          NaN      NaN         NaN          NaN       NaN
110          Beginning NRS Total     0.00        0.00         0.00      0.00
111                          NaN      NaN         NaN          NaN       NaN
112               Total Receipts  2449.85      342.88       113.12    305.94
113                          NaN      NaN         NaN          NaN       NaN
114                    Discounts     0.00        0.00         0.00      0.00
115                          NaN      NaN         NaN          NaN       NaN
116                     Paid Ins     0.00        0.00         0.00      0.00
117                          NaN      NaN         NaN          NaN       NaN
118                  Gross Total  2449.85      342.88       113.12    305.94
119                          NaN      NaN         NaN          NaN       NaN
120                    NRS Total  2449.85      342.88       113.12    305.94
121                          NaN      NaN         NaN          NaN       NaN
122                          NaN      NaN         NaN          NaN       NaN
123                          NaN      NaN         NaN          NaN       NaN
124                          NaN      NaN         NaN          NaN       NaN
125        *** End of Report ***      NaN         NaN          NaN       NaN

---

Now that I re-labeled the columns to match the data, I see there are blank rows between each row, similar to the blank columns experienced above.

Knowing that the reports do not have any rows that are either missing values or completely blank, I will drop rows with any blank values.

---

In [121]:
## How many rows have missing values, and how many do they contai ?

df.isna().sum(axis=1).value_counts()
# df.isna().sum(axis=0)

5    64
0    61
4     1
dtype: int64

In [122]:
## Displaying only rows without any missing values

df[df.isna().sum(axis=1) == 0]

                           Label      Bar Dining Room Room Service Starbucks
0                           Food   742.00      273.00        62.00    247.65
2                       Beverage  1215.00        0.00         0.00      0.00
4                          Other     0.00        0.00        20.00     16.25
6                 Sales Subtotal  1957.00      273.00        82.00    263.90
8                       Discount     0.00        0.00         0.00      0.00
10                        Charge     0.00        0.00         0.00      0.00
12              Total before tax  1957.00      273.00        82.00    263.90
14                    MD Food 6%    44.52       16.38         3.72     16.04
16                     MD Liq 9%   109.35        0.00         0.00      0.00
18                          None     0.00        0.00         0.00      0.00
20                          None     0.00        0.00         0.00      0.00
22                  Tax Subtotal   153.87       16.38         3.72     16.04
24              Receipt Rounding     0.00        0.00         0.00      0.00
26                Total of check  2110.87      289.38        85.72    279.94
28
30                 Tip collected   338.98       53.50        27.40     26.00
32                   PaidIn - AR     0.00        0.00         0.00      0.00
34              PaidIn - Debitek     0.00        0.00         0.00      0.00
36    PaidIn - Gift Certificates     0.00        0.00         0.00      0.00
38           Unadjusted receipts  2449.85      342.88       113.12    305.94
40
42                  No of Covers    65.00       12.00         4.00     43.00
44                  No of Checks       66          12            4        43
46                     Avg cover    30.11       22.75        20.50      6.14
48                     Avg check    29.65       22.75        20.50      6.14
50
52                  ALL A&G CHRG    31.25       31.20         0.00      0.00
54                   Room Charge   585.90      102.20        70.88     46.80
56              American Express    91.79        0.00         0.00     10.22
58                          Cash   240.84        0.00         0.00     35.60
60                 Discover Card   134.73        0.00         0.00      0.00
62                    MasterCard   334.45       58.32         0.00     31.38
64                          Visa  1030.89      151.16        42.24    181.94
66               $2 Tip - Coupon     0.00        0.00         0.00      0.00
68                       PMS A&G     0.00        0.00         0.00      0.00
70        Paper Gift Certificate     0.00        0.00         0.00      0.00
72                       LevelUp     0.00        0.00         0.00      0.00
74                         S & P     0.00        0.00         0.00      0.00
76                  20% Discount     0.00        0.00         0.00      0.00
78                   Bad Payment     0.00        0.00         0.00      0.00
80              External Payment     0.00        0.00         0.00      0.00
82
84           Unadjusted receipts  2449.85      342.88       113.12    305.94
86               Total Paid Outs     0.00        0.00         0.00      0.00
88                   Server bank     0.00        0.00         0.00      0.00
90                    Total tips   338.98       53.50        27.40     26.00
92       Server credit card fees     0.00        0.00         0.00      0.00
94                      Net tips   338.98       53.50        27.40     26.00
96                      Net Cash   -98.14      -53.50       -27.40      9.60
98      Other receipts turned in  2209.01      342.88       113.12    270.34
100                 Server Drops     0.00        0.00         0.00      0.00
102                    Turned in  2110.87      289.38        85.72    279.94
104  Restaurant credit card fees     0.00        0.00         0.00      0.00
106            Estimated deposit  2110.87      289.38        85.72    279.94
108
110          Beginning NRS Total     0.00        0.00         0.00      0.00
112               Total Receipts  2449.85      342.88       113.12    305.94
114                    Discounts     0.00        0.00         0.00      0.00
116                     Paid Ins     0.00        0.00         0.00      0.00
118                  Gross Total  2449.85      342.88       113.12    305.94
120                    NRS Total  2449.85      342.88       113.12    305.94

In [123]:
## Displaying only rows missing any values

# df[df.isna().sum(axis=1) > 0]
df[df.isna().sum(axis=1) > 0].value_counts(dropna=False)

Label                  Bar  Dining Room  Room Service  Starbucks
NaN                    NaN  NaN          NaN           NaN          64
*** End of Report ***  NaN  NaN          NaN           NaN           1
dtype: int64

---

The simple filtering above confirms my assumption that rows missing any number of missing values do not contain any relevant information.

Additionally, I noticed there are a few rows that are "blank;" they contain some sort of data, but they do not provide meaningful information.

I will filter out rows with missing values and blank rows.

---

In [124]:
## Checking size of dataframe prior to dropping rows

df.shape

(126, 5)

In [125]:
## Filter out those rows with missing/blank values

df_cleaned = df[df.isna().sum(axis=1) == 0]
df_cleaned = df_cleaned[~df_cleaned.loc[:, "Label"].isin([' '])]
df_cleaned = df_cleaned.reset_index(drop=True)
df_cleaned

                          Label      Bar Dining Room Room Service Starbucks
0                          Food   742.00      273.00        62.00    247.65
1                      Beverage  1215.00        0.00         0.00      0.00
2                         Other     0.00        0.00        20.00     16.25
3                Sales Subtotal  1957.00      273.00        82.00    263.90
4                      Discount     0.00        0.00         0.00      0.00
5                        Charge     0.00        0.00         0.00      0.00
6              Total before tax  1957.00      273.00        82.00    263.90
7                    MD Food 6%    44.52       16.38         3.72     16.04
8                     MD Liq 9%   109.35        0.00         0.00      0.00
9                          None     0.00        0.00         0.00      0.00
10                         None     0.00        0.00         0.00      0.00
11                 Tax Subtotal   153.87       16.38         3.72     16.04
12             Receipt Rounding     0.00        0.00         0.00      0.00
13               Total of check  2110.87      289.38        85.72    279.94
14                Tip collected   338.98       53.50        27.40     26.00
15                  PaidIn - AR     0.00        0.00         0.00      0.00
16             PaidIn - Debitek     0.00        0.00         0.00      0.00
17   PaidIn - Gift Certificates     0.00        0.00         0.00      0.00
18          Unadjusted receipts  2449.85      342.88       113.12    305.94
19                 No of Covers    65.00       12.00         4.00     43.00
20                 No of Checks       66          12            4        43
21                    Avg cover    30.11       22.75        20.50      6.14
22                    Avg check    29.65       22.75        20.50      6.14
23                 ALL A&G CHRG    31.25       31.20         0.00      0.00
24                  Room Charge   585.90      102.20        70.88     46.80
25             American Express    91.79        0.00         0.00     10.22
26                         Cash   240.84        0.00         0.00     35.60
27                Discover Card   134.73        0.00         0.00      0.00
28                   MasterCard   334.45       58.32         0.00     31.38
29                         Visa  1030.89      151.16        42.24    181.94
30              $2 Tip - Coupon     0.00        0.00         0.00      0.00
31                      PMS A&G     0.00        0.00         0.00      0.00
32       Paper Gift Certificate     0.00        0.00         0.00      0.00
33                      LevelUp     0.00        0.00         0.00      0.00
34                        S & P     0.00        0.00         0.00      0.00
35                 20% Discount     0.00        0.00         0.00      0.00
36                  Bad Payment     0.00        0.00         0.00      0.00
37             External Payment     0.00        0.00         0.00      0.00
38          Unadjusted receipts  2449.85      342.88       113.12    305.94
39              Total Paid Outs     0.00        0.00         0.00      0.00
40                  Server bank     0.00        0.00         0.00      0.00
41                   Total tips   338.98       53.50        27.40     26.00
42      Server credit card fees     0.00        0.00         0.00      0.00
43                     Net tips   338.98       53.50        27.40     26.00
44                     Net Cash   -98.14      -53.50       -27.40      9.60
45     Other receipts turned in  2209.01      342.88       113.12    270.34
46                 Server Drops     0.00        0.00         0.00      0.00
47                    Turned in  2110.87      289.38        85.72    279.94
48  Restaurant credit card fees     0.00        0.00         0.00      0.00
49            Estimated deposit  2110.87      289.38        85.72    279.94
50          Beginning NRS Total     0.00        0.00         0.00      0.00
51               Total Receipts  2449.85      342.88       113.12    305.94
52                    Discounts     0.00        0.00         0.00      0.00
53                     Paid Ins     0.00        0.00         0.00      0.00
54                  Gross Total  2449.85      342.88       113.12    305.94
55                    NRS Total  2449.85      342.88       113.12    305.94

In [57]:
## Checking number of rows post-drop

df_cleaned.shape

(56, 6)

---

**At this point, I completed the following:**

- [X] Imported specified report data
- [X] Removed blank columns and rows
- [X] Removed any rows missing values

At this point, I condensed the report and removed any extra spacing.

**Now I need to decide which rows contain relevant data to keep and which rows contain extra data that we don't use.**

---

**Keeping vs. Dropping**

# Workflow 1: Keep All Row Labels

In [58]:
## Create new DF to allow for later reuse

df_no_drp = df_cleaned.copy()
df_no_drp

,Label,Bar,Dining Room,Room Service,Starbucks,Page Total
0,Food,742.00,273.00,62.00,247.65,1324.65
1,Beverage,1215.00,0.00,0.00,0.00,1215.00
2,Other,0.00,0.00,20.00,16.25,36.25
3,Sales Subtotal,1957.00,273.00,82.00,263.90,2575.90
4,Discount,0.00,0.00,0.00,0.00,0.00
5,Charge,0.00,0.00,0.00,0.00,0.00
6,Total before tax,1957.00,273.00,82.00,263.90,2575.90
7,MD Food 6%,44.52,16.38,3.72,16.04,80.66
8,MD Liq 9%,109.35,0.00,0.00,0.00,109.35
9,None,0.00,0.00,0.00,0.00,0.00
10,None,0.00,0.00,0.00,0.00,0.00
11,Tax Subtotal,153.87,16.38,3.72,16.04,190.01
12,Receipt Rounding,0.00,0.00,0.00,0.00,0.00
13,Total of check,2110.87,289.38,85.72,279.94,2765.91
14,Tip collected,338.98,53.50,27.40,26.00,445.88
15,PaidIn - AR,0.00,0.00,0.00,0.00,0.00
16,PaidIn - Debitek,0.00,0.00,0.00,0.00,0.00
17,PaidIn - Gift Certificates,0.00,0.00,0.00,0.00,0.00
18,Unadjusted receipts,2449.85,342.88,113.12,305.94,3211.79
19,No of Covers,65.00,12.00,4.00,43.00,124.00
20,No of Checks,66,12,4,43,125
21,Avg cover,30.11,22.75,20.50,6.14,20.77
22,Avg check,29.65,22.75,20.50,6.14,20.61
23,ALL A&G CHRG,31.25,31.20,0.00,0.00,62.45
24,Room Charge,585.90,102.20,70.88,46.80,805.78
25,American Express,91.79,0.00,0.00,10.22,102.01
26,Cash,240.84,0.00,0.00,35.60,276.44
27,Discover Card,134.73,0.00,0.00,0.00,134.73
28,MasterCard,334.45,58.32,0.00,31.38,424.15
29,Visa,1030.89,151.16,42.24,181.94,1406.23
30,$2 Tip - Coupon,0.00,0.00,0.00,0.00,0.00
31,PMS A&G,0.00,0.00,0.00,0.00,0.00
32,Paper Gift Certificate,0.00,0.00,0.00,0.00,0.00
33,LevelUp,0.00,0.00,0.00,0.00,0.00
34,S & P,0.00,0.00,0.00,0.00,0.00
35,20% Discount,0.00,0.00,0.00,0.00,0.00
36,Bad Payment,0.00,0.00,0.00,0.00,0.00
37,External Payment,0.00,0.00,0.00,0.00,0.00
38,Unadjusted receipts,2449.85,342.88,113.12,305.94,3211.79
39,Total Paid Outs,0.00,0.00,0.00,0.00,0.00
40,Server bank,0.00,0.00,0.00,0.00,0.00
41,Total tips,338.98,53.50,27.40,26.00,445.88
42,Server credit card fees,0.00,0.00,0.00,0.00,0.00
43,Net tips,338.98,53.50,27.40,26.00,445.88
44,Net Cash,-98.14,-53.50,-27.40,9.60,-169.44
45,Other receipts turned in,2209.01,342.88,113.12,270.34,2935.35
46,Server Drops,0.00,0.00,0.00,0.00,0.00
47,Turned in,2110.87,289.38,85.72,279.94,2765.91
48,Restaurant credit card fees,0.00,0.00,0.00,0.00,0.00
49,Estimated deposit,2110.87,289.38,85.72,279.94,2765.91
50,Beginning NRS Total,0.00,0.00,0.00,0.00,0.00
51,Total Receipts,2449.85,342.88,113.12,305.94,3211.79
52,Discounts,0.00,0.00,0.00,0.00,0.00
53,Paid Ins,0.00,0.00,0.00,0.00,0.00
54,Gross Total,2449.85,342.88,113.12,305.94,3211.79
55,NRS Total,2449.85,342.88,113.12,305.94,3211.79

In [59]:
# ## Dropping blank rows

# df_no_drp = df_no_drp[~df_no_drp.loc[:, "Label"].isin([' '])]
# df_no_drp

In [60]:
## Relabel and reset index with correct labels

df_no_drp = df_no_drp.rename(df_no_drp["Label"])
df_no_drp = df_no_drp.drop(columns = "Label")
df_no_drp

,Bar,Dining Room,Room Service,Starbucks,Page Total
Food,742.00,273.00,62.00,247.65,1324.65
Beverage,1215.00,0.00,0.00,0.00,1215.00
Other,0.00,0.00,20.00,16.25,36.25
Sales Subtotal,1957.00,273.00,82.00,263.90,2575.90
Discount,0.00,0.00,0.00,0.00,0.00
Charge,0.00,0.00,0.00,0.00,0.00
Total before tax,1957.00,273.00,82.00,263.90,2575.90
MD Food 6%,44.52,16.38,3.72,16.04,80.66
MD Liq 9%,109.35,0.00,0.00,0.00,109.35
None,0.00,0.00,0.00,0.00,0.00
None,0.00,0.00,0.00,0.00,0.00
Tax Subtotal,153.87,16.38,3.72,16.04,190.01
Receipt Rounding,0.00,0.00,0.00,0.00,0.00
Total of check,2110.87,289.38,85.72,279.94,2765.91
Tip collected,338.98,53.50,27.40,26.00,445.88
PaidIn - AR,0.00,0.00,0.00,0.00,0.00
PaidIn - Debitek,0.00,0.00,0.00,0.00,0.00
PaidIn - Gift Certificates,0.00,0.00,0.00,0.00,0.00
Unadjusted receipts,2449.85,342.88,113.12,305.94,3211.79
No of Covers,65.00,12.00,4.00,43.00,124.00
No of Checks,66,12,4,43,125
Avg cover,30.11,22.75,20.50,6.14,20.77
Avg check,29.65,22.75,20.50,6.14,20.61
ALL A&G CHRG,31.25,31.20,0.00,0.00,62.45
Room Charge,585.90,102.20,70.88,46.80,805.78
American Express,91.79,0.00,0.00,10.22,102.01
Cash,240.84,0.00,0.00,35.60,276.44
Discover Card,134.73,0.00,0.00,0.00,134.73
MasterCard,334.45,58.32,0.00,31.38,424.15
Visa,1030.89,151.16,42.24,181.94,1406.23
$2 Tip - Coupon,0.00,0.00,0.00,0.00,0.00
PMS A&G,0.00,0.00,0.00,0.00,0.00
Paper Gift Certificate,0.00,0.00,0.00,0.00,0.00
LevelUp,0.00,0.00,0.00,0.00,0.00
S & P,0.00,0.00,0.00,0.00,0.00
20% Discount,0.00,0.00,0.00,0.00,0.00
Bad Payment,0.00,0.00,0.00,0.00,0.00
External Payment,0.00,0.00,0.00,0.00,0.00
Unadjusted receipts,2449.85,342.88,113.12,305.94,3211.79
Total Paid Outs,0.00,0.00,0.00,0.00,0.00
Server bank,0.00,0.00,0.00,0.00,0.00
Total tips,338.98,53.50,27.40,26.00,445.88
Server credit card fees,0.00,0.00,0.00,0.00,0.00
Net tips,338.98,53.50,27.40,26.00,445.88
Net Cash,-98.14,-53.50,-27.40,9.60,-169.44
Other receipts turned in,2209.01,342.88,113.12,270.34,2935.35
Server Drops,0.00,0.00,0.00,0.00,0.00
Turned in,2110.87,289.38,85.72,279.94,2765.91
Restaurant credit card fees,0.00,0.00,0.00,0.00,0.00
Estimated deposit,2110.87,289.38,85.72,279.94,2765.91
Beginning NRS Total,0.00,0.00,0.00,0.00,0.00
Total Receipts,2449.85,342.88,113.12,305.94,3211.79
Discounts,0.00,0.00,0.00,0.00,0.00
Paid Ins,0.00,0.00,0.00,0.00,0.00
Gross Total,2449.85,342.88,113.12,305.94,3211.79
NRS Total,2449.85,342.88,113.12,305.94,3211.79

In [61]:
## Review datatypes

df_no_drp.dtypes

Bar             object
Dining Room     object
Room Service    object
Starbucks       object
Page Total      object
dtype: object

In [62]:
## Recast columns to "float" datatype & review

for col in df_no_drp.columns:
    df_no_drp[col] = pd.to_numeric(df_no_drp[col], downcast = 'float')

print(df_no_drp.dtypes)

display(df_no_drp)

Bar             float32
Dining Room     float32
Room Service    float32
Starbucks       float32
Page Total      float32
dtype: object

,Bar,Dining Room,Room Service,Starbucks,Page Total
Food,742.00,273.00,62.00,247.65,1324.65
Beverage,1215.00,0.00,0.00,0.00,1215.00
Other,0.00,0.00,20.00,16.25,36.25
Sales Subtotal,1957.00,273.00,82.00,263.90,2575.90
Discount,0.00,0.00,0.00,0.00,0.00
Charge,0.00,0.00,0.00,0.00,0.00
Total before tax,1957.00,273.00,82.00,263.90,2575.90
MD Food 6%,44.52,16.38,3.72,16.04,80.66
MD Liq 9%,109.35,0.00,0.00,0.00,109.35
None,0.00,0.00,0.00,0.00,0.00
None,0.00,0.00,0.00,0.00,0.00
Tax Subtotal,153.87,16.38,3.72,16.04,190.01
Receipt Rounding,0.00,0.00,0.00,0.00,0.00
Total of check,2110.87,289.38,85.72,279.94,2765.91
Tip collected,338.98,53.50,27.40,26.00,445.88
PaidIn - AR,0.00,0.00,0.00,0.00,0.00
PaidIn - Debitek,0.00,0.00,0.00,0.00,0.00
PaidIn - Gift Certificates,0.00,0.00,0.00,0.00,0.00
Unadjusted receipts,2449.85,342.88,113.12,305.94,3211.79
No of Covers,65.00,12.00,4.00,43.00,124.00
No of Checks,66.00,12.00,4.00,43.00,125.00
Avg cover,30.11,22.75,20.50,6.14,20.77
Avg check,29.65,22.75,20.50,6.14,20.61
ALL A&G CHRG,31.25,31.20,0.00,0.00,62.45
Room Charge,585.90,102.20,70.88,46.80,805.78
American Express,91.79,0.00,0.00,10.22,102.01
Cash,240.84,0.00,0.00,35.60,276.44
Discover Card,134.73,0.00,0.00,0.00,134.73
MasterCard,334.45,58.32,0.00,31.38,424.15
Visa,1030.89,151.16,42.24,181.94,1406.23
$2 Tip - Coupon,0.00,0.00,0.00,0.00,0.00
PMS A&G,0.00,0.00,0.00,0.00,0.00
Paper Gift Certificate,0.00,0.00,0.00,0.00,0.00
LevelUp,0.00,0.00,0.00,0.00,0.00
S & P,0.00,0.00,0.00,0.00,0.00
20% Discount,0.00,0.00,0.00,0.00,0.00
Bad Payment,0.00,0.00,0.00,0.00,0.00
External Payment,0.00,0.00,0.00,0.00,0.00
Unadjusted receipts,2449.85,342.88,113.12,305.94,3211.79
Total Paid Outs,0.00,0.00,0.00,0.00,0.00
Server bank,0.00,0.00,0.00,0.00,0.00
Total tips,338.98,53.50,27.40,26.00,445.88
Server credit card fees,0.00,0.00,0.00,0.00,0.00
Net tips,338.98,53.50,27.40,26.00,445.88
Net Cash,-98.14,-53.50,-27.40,9.60,-169.44
Other receipts turned in,2209.01,342.88,113.12,270.34,2935.35
Server Drops,0.00,0.00,0.00,0.00,0.00
Turned in,2110.87,289.38,85.72,279.94,2765.91
Restaurant credit card fees,0.00,0.00,0.00,0.00,0.00
Estimated deposit,2110.87,289.38,85.72,279.94,2765.91
Beginning NRS Total,0.00,0.00,0.00,0.00,0.00
Total Receipts,2449.85,342.88,113.12,305.94,3211.79
Discounts,0.00,0.00,0.00,0.00,0.00
Paid Ins,0.00,0.00,0.00,0.00,0.00
Gross Total,2449.85,342.88,113.12,305.94,3211.79
NRS Total,2449.85,342.88,113.12,305.94,3211.79

In [63]:
## Inspect results

df_no_drp[df_no_drp.columns[:-1]].T.describe().T

,count,mean,std,min,25%,50%,75%,max
Food,4.00,331.16,289.59,62.00,201.24,260.32,390.25,742.00
Beverage,4.00,303.75,607.50,0.00,0.00,0.00,303.75,1215.00
Other,4.00,9.06,10.58,0.00,0.00,8.12,17.19,20.00
Sales Subtotal,4.00,643.97,879.76,82.00,218.42,268.45,694.00,1957.00
Discount,4.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Charge,4.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Total before tax,4.00,643.97,879.76,82.00,218.42,268.45,694.00,1957.00
MD Food 6%,4.00,20.17,17.27,3.72,12.96,16.21,23.41,44.52
MD Liq 9%,4.00,27.34,54.67,0.00,0.00,0.00,27.34,109.35
None,4.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
None,4.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Tax Subtotal,4.00,47.50,71.16,3.72,12.96,16.21,50.75,153.87
Receipt Rounding,4.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Total of check,4.00,691.48,950.91,85.72,231.39,284.66,744.75,2110.87
Tip collected,4.00,111.47,152.20,26.00,27.05,40.45,124.87,338.98
PaidIn - AR,4.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
PaidIn - Debitek,4.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
PaidIn - Gift Certificates,4.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Unadjusted receipts,4.00,802.95,1102.55,113.12,257.74,324.41,869.62,2449.85
No of Covers,4.00,31.00,28.23,4.00,10.00,27.50,48.50,65.00
No of Checks,4.00,31.25,28.63,4.00,10.00,27.50,48.75,66.00
Avg cover,4.00,19.88,10.03,6.14,16.91,21.62,24.59,30.11
Avg check,4.00,19.76,9.88,6.14,16.91,21.62,24.47,29.65
ALL A&G CHRG,4.00,15.61,18.03,0.00,0.00,15.60,31.21,31.25
Room Charge,4.00,201.45,257.30,46.80,64.86,86.54,223.12,585.90
American Express,4.00,25.50,44.45,0.00,0.00,5.11,30.61,91.79
Cash,4.00,69.11,115.71,0.00,0.00,17.80,86.91,240.84
Discover Card,4.00,33.68,67.37,0.00,0.00,0.00,33.68,134.73
MasterCard,4.00,106.04,154.13,0.00,23.53,44.85,127.35,334.45
Visa,4.00,351.56,456.84,42.24,123.93,166.55,394.18,1030.89
$2 Tip - Coupon,4.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
PMS A&G,4.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Paper Gift Certificate,4.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
LevelUp,4.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
S & P,4.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
20% Discount,4.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Bad Payment,4.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
External Payment,4.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Unadjusted receipts,4.00,802.95,1102.55,113.12,257.74,324.41,869.62,2449.85
Total Paid Outs,4.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Server bank,4.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Total tips,4.00,111.47,152.20,26.00,27.05,40.45,124.87,338.98
Server credit card fees,4.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Net tips,4.00,111.47,152.20,26.00,27.05,40.45,124.87,338.98
Net Cash,4.00,-42.36,45.31,-98.14,-64.66,-40.45,-18.15,9.60
Other receipts turned in,4.00,733.84,988.11,113.12,231.03,306.61,809.41,2209.01
Server Drops,4.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Turned in,4.00,691.48,950.91,85.72,231.39,284.66,744.75,2110.87
Restaurant credit card fees,4.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Estimated deposit,4.00,691.48,950.91,85.72,231.39,284.66,744.75,2110.87
Beginning NRS Total,4.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Total Receipts,4.00,802.95,1102.55,113.12,257.74,324.41,869.62,2449.85
Discounts,4.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Paid Ins,4.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Gross Total,4.00,802.95,1102.55,113.12,257.74,324.41,869.62,2449.85
NRS Total,4.00,802.95,1102.55,113.12,257.74,324.41,869.62,2449.85

In [64]:
# ## Create new total column

# df_no_drp['Total'] = df_no_drp.sum(axis=1)
# df_no_drp

In [65]:
## Filter rows without any activity

## CURRENTLY UNUSED - FILTERING BELOW ##

# df_no_zero = df_no_drp[df_no_drp['Total'] > 0]
# df_no_zero

In [66]:
## Identify all unique labels from total data

df_no_drp.index.unique()

Index(['Food', 'Beverage', 'Other', 'Sales Subtotal', 'Discount', 'Charge',
       'Total before tax', 'MD Food 6%', 'MD Liq 9%', 'None', 'Tax Subtotal',
       'Receipt Rounding', 'Total of check', 'Tip collected', 'PaidIn - AR',
       'PaidIn - Debitek', 'PaidIn - Gift Certificates', 'Unadjusted receipts',
       'No of Covers', 'No of Checks', 'Avg cover', 'Avg check',
       'ALL A&G CHRG', 'Room Charge', 'American Express', 'Cash',
       'Discover Card', 'MasterCard', 'Visa', '$2 Tip - Coupon', 'PMS A&G',
       'Paper Gift Certificate', 'LevelUp', 'S & P', '20% Discount',
       'Bad Payment', 'External Payment', 'Total Paid Outs', 'Server bank',
       'Total tips', 'Server credit card fees', 'Net tips', 'Net Cash',
       'Other receipts turned in', 'Server Drops', 'Turned in',
       'Restaurant credit card fees', 'Estimated deposit',
       'Beginning NRS Total', 'Total Receipts', 'Discounts', 'Paid Ins',
       'Gross Total', 'NRS Total'],
      dtype='object')

In [67]:
## Create list of frequently-used labels

freq_cats = ['Food', 'Beverage', 'Other','Discount', 'Charge','MD Food 6%',
             'MD Liq 9%','Tip collected','ALL A&G CHRG', 'Room Charge',
             'American Express', 'Cash', 'Discover Card', 'MasterCard',
             'Visa']
freq_cats

['Food',
 'Beverage',
 'Other',
 'Discount',
 'Charge',
 'MD Food 6%',
 'MD Liq 9%',
 'Tip collected',
 'ALL A&G CHRG',
 'Room Charge',
 'American Express',
 'Cash',
 'Discover Card',
 'MasterCard',
 'Visa']

In [68]:
## Filtering frequent labels from total data

df_no_drp.loc[freq_cats, :]

                     Bar  Dining Room  Room Service  Starbucks  Page Total
Food              742.00       273.00         62.00     247.65     1324.65
Beverage         1215.00         0.00          0.00       0.00     1215.00
Other               0.00         0.00         20.00      16.25       36.25
Discount            0.00         0.00          0.00       0.00        0.00
Charge              0.00         0.00          0.00       0.00        0.00
MD Food 6%         44.52        16.38          3.72      16.04       80.66
MD Liq 9%         109.35         0.00          0.00       0.00      109.35
Tip collected     338.98        53.50         27.40      26.00      445.88
ALL A&G CHRG       31.25        31.20          0.00       0.00       62.45
Room Charge       585.90       102.20         70.88      46.80      805.78
American Express   91.79         0.00          0.00      10.22      102.01
Cash              240.84         0.00          0.00      35.60      276.44
Discover Card     134.73         0.00          0.00       0.00      134.73
MasterCard        334.45        58.32          0.00      31.38      424.15
Visa             1030.89       151.16         42.24     181.94     1406.23

In [69]:
## Creating lists to subset the data

cats_profit_centers = df_no_drp.columns[:-1]
cats_revenue = ['Food','Beverage','Other','Charge']
cats_disc = ['Discount']
cats_tax = ['MD Food 6%', 'MD Liq 9%']
cats_tips = ['Tip collected']
cats_mops = ['ALL A&G CHRG', 'American Express', 'Room Charge', 'Cash',
             'Discover Card', 'MasterCard', 'Visa']

In [70]:
# bar_post_rev = {}

# for cat in cats_revenue:
# #     bar_post_rev[cat] = df_no_drp.loc[freq_cats,cat]
#     print(df_no_drp.loc[cat, 'Lounge'])

##   ‚úîÔ∏è FIXED ERROR ‚úîÔ∏è

* Need to switch to individual MOP reports
    * PC report shows total sums
    * Need to break down by MOP for proper details

In [71]:
## Pulling yesterday's files
## Useful for processing during Daily reporting, but not same-day
# yesterday = datetime.now() - timedelta(1)    

# yd_str = datetime.strftime(yesterday, '%m_%d_%Y')
# yd_str

In [72]:
## Pulling today's files

today = datetime.now()   

td_str = datetime.strftime(today, '%m_%d_%Y')
td_str

'03_03_2022'

In [73]:
list_mops = ['ag', 'ax', 'ca', 'di', 'rc', 'vimc']

In [74]:
def clean_data(file_path):
    """Work flow to import, clean, and eventually save the results as a new report.

    Args:
        file_path (string): file path for the original profit center report
    """    

    ## Read specific columns from Excel file

    df = pd.read_excel(file_path, skiprows = 2)

    ## Reassign label names: shifting to the right and dropping extra

    df.columns = ['Label', *df.columns[:-1]]
    ## Creating list of columns to keep/drop

    col_labels = ['Label', 'Bar', 'Dining Room', 'Room Service', 'Starbucks',
                'Page Total']

    drop_cols = []

    for col in df.columns:
        if col not in col_labels:
            drop_cols.append(col)
            
    ## Dropping columns not representing an outlet

    df = df.drop(columns = drop_cols)

    ## Filter out those rows with missing/blank values

    df_cleaned = df[df.isna().sum(axis=1) == 0]
    df_cleaned = df_cleaned[~df_cleaned.loc[:, "Label"].isin([' '])]
    df_cleaned = df_cleaned.reset_index(drop=True)

    ## Create new DF to allow for later reuse

    df_no_drp = df_cleaned.copy()

    ## Relabel and reset index with correct labels

    df_no_drp = df_no_drp.rename(df_no_drp["Label"])
    df_no_drp = df_no_drp.drop(columns = "Label")

    ## Recast columns to "float" datatype & review

    for col in df_no_drp.columns:
        df_no_drp[col] = pd.to_numeric(df_no_drp[col], downcast = 'float')
    
#     ## Create list of frequently-used labels

#     freq_cats = ['Food', 'Beverage', 'Other','Discount', 'Charge','MD Food 6%',
#              'MD Liq 9%','Tip collected','ALL A&G CHRG', 'Room Charge',
#              'American Express', 'Cash', 'Discover Card', 'MasterCard',
#              'Visa']

    return df_no_drp

In [75]:
## Pulling all MOP reports and saving to dict

if use_ref_rpt == True:
    yd_str = '02_25_2022'
else:
    yd_str = datetime.strftime(yesterday, '%m_%d_%Y')

dict_reports = {}

for mop in list_mops:
    dict_reports[mop] = clean_data(f'./data/{yd_str}_mop_det_{mop}.xls')

In [76]:
## Review resulting keys
dict_reports.keys()

dict_keys(['ag', 'ax', 'ca', 'di', 'rc', 'vimc'])

In [77]:
## Check number of columns in each report
for key in dict_reports:
    print(key, dict_reports[key].shape[1])

ag 3
ax 3
ca 4
di 2
rc 5
vimc 5

# ‚ö†Ô∏è ‚öíÔ∏è TODO: ‚öíÔ∏è ‚ö†Ô∏è

1. Filter non-zero dataframe into common/uncommon categories
2. Create DF w/ LS XAC for normal use
3. Create DF w/ unusual cats w/ prompt to review

# Workflow 1: Dropping Unused Labels

---

**Dropping Labels**

> Currently, I ignore several sections of the report as they do not report any relevant details. However, **this may lead us to overlook any irregular data.**
>
> This work flow focused on the most commonly used section of the report, highlighting the details used for NA.
>
> While I prefer a more inclusive approach, I am keeping this work flow for reference.

---

In [78]:
## Identify unique labels to determine which to drop

df_cleaned.loc[:, "Label"].unique()

array(['Food', 'Beverage', 'Other', 'Sales Subtotal', 'Discount',
       'Charge', 'Total before tax', 'MD Food 6%', 'MD Liq 9%', 'None',
       'Tax Subtotal', 'Receipt Rounding', 'Total of check',
       'Tip collected', 'PaidIn - AR', 'PaidIn - Debitek',
       'PaidIn - Gift Certificates', 'Unadjusted receipts',
       'No of Covers', 'No of Checks', 'Avg cover', 'Avg check',
       'ALL A&G CHRG', 'Room Charge', 'American Express', 'Cash',
       'Discover Card', 'MasterCard', 'Visa', '$2 Tip - Coupon',
       'PMS A&G', 'Paper Gift Certificate', 'LevelUp', 'S & P',
       '20% Discount', 'Bad Payment', 'External Payment',
       'Total Paid Outs', 'Server bank', 'Total tips',
       'Server credit card fees', 'Net tips', 'Net Cash',
       'Other receipts turned in', 'Server Drops', 'Turned in',
       'Restaurant credit card fees', 'Estimated deposit',
       'Beginning NRS Total', 'Total Receipts', 'Discounts', 'Paid Ins',
       'Gross Total', 'NRS Total'], dtype=object)

In [79]:
## Create list of labels to drop

drop_labels = ['Sales Subtotal', 'Total before tax', 'None', 'None', 
               'Tax Subtotal','Receipt Rounding','Total of check', ' ', 'Unadjusted receipts',
               'PaidIn - AR', 'PaidIn - Debitek','PaidIn - Gift Certificates',
               'No of Covers', 'No of Checks', 'Avg cover', 'Avg check',
               'Total Paid Outs', 'Server bank', 'Total tips',
               'Server credit card fees', 'Net tips', 'Net Cash',
               'Other receipts turned in', 'Server Drops', 'Turned in',
               'Restaurant credit card fees', 'Estimated deposit',
               'Beginning NRS Total', 'Total Receipts', 'Discounts',
               'Paid Ins','Gross Total', 'NRS Total']
drop_labels

['Sales Subtotal',
 'Total before tax',
 'None',
 'None',
 'Tax Subtotal',
 'Receipt Rounding',
 'Total of check',
 ' ',
 'Unadjusted receipts',
 'PaidIn - AR',
 'PaidIn - Debitek',
 'PaidIn - Gift Certificates',
 'No of Covers',
 'No of Checks',
 'Avg cover',
 'Avg check',
 'Total Paid Outs',
 'Server bank',
 'Total tips',
 'Server credit card fees',
 'Net tips',
 'Net Cash',
 'Other receipts turned in',
 'Server Drops',
 'Turned in',
 'Restaurant credit card fees',
 'Estimated deposit',
 'Beginning NRS Total',
 'Total Receipts',
 'Discounts',
 'Paid Ins',
 'Gross Total',
 'NRS Total']

In [80]:
## Drop specified labels and save to new DF

df_new_idx =df_cleaned[~df_cleaned.loc[:, "Label"].isin(drop_labels)]
df_new_idx

,Label,Bar,Dining Room,Room Service,Starbucks,Page Total
0,Food,742.00,273.00,62.00,247.65,1324.65
1,Beverage,1215.00,0.00,0.00,0.00,1215.00
2,Other,0.00,0.00,20.00,16.25,36.25
4,Discount,0.00,0.00,0.00,0.00,0.00
5,Charge,0.00,0.00,0.00,0.00,0.00
7,MD Food 6%,44.52,16.38,3.72,16.04,80.66
8,MD Liq 9%,109.35,0.00,0.00,0.00,109.35
14,Tip collected,338.98,53.50,27.40,26.00,445.88
23,ALL A&G CHRG,31.25,31.20,0.00,0.00,62.45
24,Room Charge,585.90,102.20,70.88,46.80,805.78
25,American Express,91.79,0.00,0.00,10.22,102.01
26,Cash,240.84,0.00,0.00,35.60,276.44
27,Discover Card,134.73,0.00,0.00,0.00,134.73
28,MasterCard,334.45,58.32,0.00,31.38,424.15
29,Visa,1030.89,151.16,42.24,181.94,1406.23
30,$2 Tip - Coupon,0.00,0.00,0.00,0.00,0.00
31,PMS A&G,0.00,0.00,0.00,0.00,0.00
32,Paper Gift Certificate,0.00,0.00,0.00,0.00,0.00
33,LevelUp,0.00,0.00,0.00,0.00,0.00
34,S & P,0.00,0.00,0.00,0.00,0.00
35,20% Discount,0.00,0.00,0.00,0.00,0.00
36,Bad Payment,0.00,0.00,0.00,0.00,0.00
37,External Payment,0.00,0.00,0.00,0.00,0.00

In [81]:
## Rename index with remaining labels

df_new_idx = df_new_idx.rename(df_cleaned["Label"])
df_new_idx = df_new_idx.drop(columns = "Label")
df_new_idx

                            Bar Dining Room Room Service Starbucks Page Total
Food                     742.00      273.00        62.00    247.65    1324.65
Beverage                1215.00        0.00         0.00      0.00    1215.00
Other                      0.00        0.00        20.00     16.25      36.25
Discount                   0.00        0.00         0.00      0.00       0.00
Charge                     0.00        0.00         0.00      0.00       0.00
MD Food 6%                44.52       16.38         3.72     16.04      80.66
MD Liq 9%                109.35        0.00         0.00      0.00     109.35
Tip collected            338.98       53.50        27.40     26.00     445.88
ALL A&G CHRG              31.25       31.20         0.00      0.00      62.45
Room Charge              585.90      102.20        70.88     46.80     805.78
American Express          91.79        0.00         0.00     10.22     102.01
Cash                     240.84        0.00         0.00     35.60     276.44
Discover Card            134.73        0.00         0.00      0.00     134.73
MasterCard               334.45       58.32         0.00     31.38     424.15
Visa                    1030.89      151.16        42.24    181.94    1406.23
$2 Tip - Coupon            0.00        0.00         0.00      0.00       0.00
PMS A&G                    0.00        0.00         0.00      0.00       0.00
Paper Gift Certificate     0.00        0.00         0.00      0.00       0.00
LevelUp                    0.00        0.00         0.00      0.00       0.00
S & P                      0.00        0.00         0.00      0.00       0.00
20% Discount               0.00        0.00         0.00      0.00       0.00
Bad Payment                0.00        0.00         0.00      0.00       0.00
External Payment           0.00        0.00         0.00      0.00       0.00

# ‚ö†Ô∏è CONDENSE W/ UPPER WF ‚ö†Ô∏è

In [82]:
## Review remaining datatypes

df_new_idx.dtypes

Bar             object
Dining Room     object
Room Service    object
Starbucks       object
Page Total      object
dtype: object

In [83]:
## Recast DT

for col in df_new_idx.columns:
    df_new_idx[col] = pd.to_numeric(df_new_idx[col], downcast = 'float')

df_new_idx.dtypes

Bar             float32
Dining Room     float32
Room Service    float32
Starbucks       float32
Page Total      float32
dtype: object

In [84]:
## Inspect results

df_new_idx.T.describe()

,Food,Beverage,Other,Discount,Charge,MD Food 6%,MD Liq 9%,Tip collected,ALL A&G CHRG,Room Charge,...,MasterCard,Visa,$2 Tip - Coupon,PMS A&G,Paper Gift Certificate,LevelUp,S & P,20% Discount,Bad Payment,External Payment
count,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,...,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00
mean,529.86,486.00,14.50,0.00,0.00,32.26,43.74,178.35,24.98,322.31,...,169.66,562.49,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
std,510.20,665.48,15.22,0.00,0.00,30.91,59.89,199.35,26.12,350.28,...,195.08,615.62,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
min,62.00,0.00,0.00,0.00,0.00,3.72,0.00,26.00,0.00,46.80,...,0.00,42.24,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,247.65,0.00,0.00,0.00,0.00,16.04,0.00,27.40,0.00,70.88,...,31.38,151.16,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,273.00,0.00,16.25,0.00,0.00,16.38,0.00,53.50,31.20,102.20,...,58.32,181.94,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
75%,742.00,1215.00,20.00,0.00,0.00,44.52,109.35,338.98,31.25,585.90,...,334.45,1030.89,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
max,1324.65,1215.00,36.25,0.00,0.00,80.66,109.35,445.88,62.45,805.78,...,424.15,1406.23,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [85]:
## Create new total column

df_new_idx['Total'] = df_new_idx.sum(axis=1)
df_new_idx

,Bar,Dining Room,Room Service,Starbucks,Page Total,Total
Food,742.00,273.00,62.00,247.65,1324.65,2649.30
Beverage,1215.00,0.00,0.00,0.00,1215.00,2430.00
Other,0.00,0.00,20.00,16.25,36.25,72.50
Discount,0.00,0.00,0.00,0.00,0.00,0.00
Charge,0.00,0.00,0.00,0.00,0.00,0.00
MD Food 6%,44.52,16.38,3.72,16.04,80.66,161.32
MD Liq 9%,109.35,0.00,0.00,0.00,109.35,218.70
Tip collected,338.98,53.50,27.40,26.00,445.88,891.76
ALL A&G CHRG,31.25,31.20,0.00,0.00,62.45,124.90
Room Charge,585.90,102.20,70.88,46.80,805.78,1611.56
American Express,91.79,0.00,0.00,10.22,102.01,204.02
Cash,240.84,0.00,0.00,35.60,276.44,552.88
Discover Card,134.73,0.00,0.00,0.00,134.73,269.46
MasterCard,334.45,58.32,0.00,31.38,424.15,848.30
Visa,1030.89,151.16,42.24,181.94,1406.23,2812.46
$2 Tip - Coupon,0.00,0.00,0.00,0.00,0.00,0.00
PMS A&G,0.00,0.00,0.00,0.00,0.00,0.00
Paper Gift Certificate,0.00,0.00,0.00,0.00,0.00,0.00
LevelUp,0.00,0.00,0.00,0.00,0.00,0.00
S & P,0.00,0.00,0.00,0.00,0.00,0.00
20% Discount,0.00,0.00,0.00,0.00,0.00,0.00
Bad Payment,0.00,0.00,0.00,0.00,0.00,0.00
External Payment,0.00,0.00,0.00,0.00,0.00,0.00

In [86]:
## Filter out zero sums

df_compressed = df_new_idx[df_new_idx['Total'] >0]
df_compressed

,Bar,Dining Room,Room Service,Starbucks,Page Total,Total
Food,742.00,273.00,62.00,247.65,1324.65,2649.30
Beverage,1215.00,0.00,0.00,0.00,1215.00,2430.00
Other,0.00,0.00,20.00,16.25,36.25,72.50
MD Food 6%,44.52,16.38,3.72,16.04,80.66,161.32
MD Liq 9%,109.35,0.00,0.00,0.00,109.35,218.70
Tip collected,338.98,53.50,27.40,26.00,445.88,891.76
ALL A&G CHRG,31.25,31.20,0.00,0.00,62.45,124.90
Room Charge,585.90,102.20,70.88,46.80,805.78,1611.56
American Express,91.79,0.00,0.00,10.22,102.01,204.02
Cash,240.84,0.00,0.00,35.60,276.44,552.88
Discover Card,134.73,0.00,0.00,0.00,134.73,269.46
MasterCard,334.45,58.32,0.00,31.38,424.15,848.30
Visa,1030.89,151.16,42.24,181.94,1406.23,2812.46

In [87]:
df_compressed['Lounge']['Food']

KeyError: 'Lounge'

In [ ]:
## Test print statements for logging purposes

for col in df_compressed.columns[:-1]:
    print(f"Post to {col} food: {df_compressed[col]['Food']+df_compressed[col]['Other']:.2f}")

In [ ]:
## Further testing for logging purposes

dept_list = ["Rain 903", "In Room Dining", "Coffee Corner", "Lobby Bar"]
sd_list = ["Food", "Liquor", "Tax", "Gratuity"]

for dept in dept_list:
    for sd in sd_list:
        print(dept+" - "+sd)