<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Intro" data-toc-modified-id="Intro-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Intro</a></span></li><li><span><a href="#‚≠ê-STAR-‚≠ê" data-toc-modified-id="‚≠ê-STAR-‚≠ê-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>‚≠ê STAR ‚≠ê</a></span><ul class="toc-item"><li><span><a href="#üîé-Situation-üîç" data-toc-modified-id="üîé-Situation-üîç-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>üîé Situation üîç</a></span></li><li><span><a href="#‚ö†Ô∏è-Threat-‚ö†Ô∏è" data-toc-modified-id="‚ö†Ô∏è-Threat-‚ö†Ô∏è-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>‚ö†Ô∏è Threat ‚ö†Ô∏è</a></span></li><li><span><a href="#‚öíÔ∏è-Action-‚öíÔ∏è" data-toc-modified-id="‚öíÔ∏è-Action-‚öíÔ∏è-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>‚öíÔ∏è Action ‚öíÔ∏è</a></span></li><li><span><a href="#üìã-Result-üìã" data-toc-modified-id="üìã-Result-üìã-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>üìã Result üìã</a></span></li></ul></li><li><span><a href="#üì¶-Imports" data-toc-modified-id="üì¶-Imports-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>üì¶ Imports</a></span></li><li><span><a href="#Read-Data" data-toc-modified-id="Read-Data-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Read Data</a></span></li><li><span><a href="#üßº-Cleaning" data-toc-modified-id="üßº-Cleaning-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>üßº Cleaning</a></span></li><li><span><a href="#üî®-Workflow-1:-Keep-All-Row-Labels" data-toc-modified-id="üî®-Workflow-1:-Keep-All-Row-Labels-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>üî® Workflow 1: Keep All Row Labels</a></span><ul class="toc-item"><li><span><a href="#Creating-Summary-for-Posting" data-toc-modified-id="Creating-Summary-for-Posting-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Creating Summary for Posting</a></span></li></ul></li><li><span><a href="#Summarizing-the-Summary" data-toc-modified-id="Summarizing-the-Summary-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Summarizing the Summary</a></span></li><li><span><a href="#∆í:-Workflow" data-toc-modified-id="∆í:-Workflow-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>∆í: Workflow</a></span></li><li><span><a href="#So-Far..." data-toc-modified-id="So-Far...-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>So Far...</a></span></li><li><span><a href="#3.15.22" data-toc-modified-id="3.15.22-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>3.15.22</a></span></li><li><span><a href="#Generating-Alerts-for-RC:-Dupes-and-A&amp;G" data-toc-modified-id="Generating-Alerts-for-RC:-Dupes-and-A&amp;G-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Generating Alerts for RC: Dupes and A&amp;G</a></span><ul class="toc-item"><li><span><a href="#Using-Python-Logger" data-toc-modified-id="Using-Python-Logger-11.1"><span class="toc-item-num">11.1&nbsp;&nbsp;</span>Using Python Logger</a></span></li></ul></li><li><span><a href="#Checkpoint---4.19.22" data-toc-modified-id="Checkpoint---4.19.22-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Checkpoint - 4.19.22</a></span></li><li><span><a href="#Final-Script" data-toc-modified-id="Final-Script-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>Final Script</a></span></li><li><span><a href="#‚ö†Ô∏è-Old-Code---Raises-Error" data-toc-modified-id="‚ö†Ô∏è-Old-Code---Raises-Error-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>‚ö†Ô∏è Old Code - Raises Error</a></span><ul class="toc-item"><li><span><a href="#‚úîÔ∏è-FIXED-ERROR-‚úîÔ∏è" data-toc-modified-id="‚úîÔ∏è-FIXED-ERROR-‚úîÔ∏è-14.1"><span class="toc-item-num">14.1&nbsp;&nbsp;</span>‚úîÔ∏è FIXED ERROR ‚úîÔ∏è</a></span></li><li><span><a href="#‚ö†Ô∏è-‚öíÔ∏è-TODO:-‚öíÔ∏è-‚ö†Ô∏è" data-toc-modified-id="‚ö†Ô∏è-‚öíÔ∏è-TODO:-‚öíÔ∏è-‚ö†Ô∏è-14.2"><span class="toc-item-num">14.2&nbsp;&nbsp;</span>‚ö†Ô∏è ‚öíÔ∏è TODO: ‚öíÔ∏è ‚ö†Ô∏è</a></span></li><li><span><a href="#Workflow-1:-Dropping-Unused-Labels" data-toc-modified-id="Workflow-1:-Dropping-Unused-Labels-14.3"><span class="toc-item-num">14.3&nbsp;&nbsp;</span>Workflow 1: Dropping Unused Labels</a></span></li><li><span><a href="#‚ö†Ô∏è-CONDENSE-W/-UPPER-WF-‚ö†Ô∏è" data-toc-modified-id="‚ö†Ô∏è-CONDENSE-W/-UPPER-WF-‚ö†Ô∏è-14.4"><span class="toc-item-num">14.4&nbsp;&nbsp;</span>‚ö†Ô∏è CONDENSE W/ UPPER WF ‚ö†Ô∏è</a></span></li></ul></li></ul></div>

# Intro

# ‚≠ê STAR ‚≠ê

## üîé Situation üîç

---

* NA uses DRR summary reports to post revenue in LS
* I use report packet to review for DRR

---

## ‚ö†Ô∏è Threat ‚ö†Ô∏è

---

* **Pro:** clearly provide total sum amounts for audit to post directly

* **Cons:**
    * "Food" = "Food" + "Other"
    * Discounts are ambiguous
        * FBC vs. Assoc vs. others
    * *LOTS* of unused rows/labels create visual confusion
    * Not always clear to which XAC to post revenue/tax/tips
    * Unusual/new/unused categories are not always accounted for

All issues result in manual review of all transactions during the Daily reporting process.

---

## ‚öíÔ∏è Action ‚öíÔ∏è

---

**Create workflow to:**

* *Read existing DD reports*


* *Clean the report to isolate relevant details*


* *Report any irregularities:*
    * Any discounts or charges?
    * Any new/non-standard MOPs?
    * Report exact amounts to post to each LS XAC
        * See below

---

---

**End Goal:**

---

> **Post these amounts in LightSpeed:**

<!-- | |Dept | Rain 903 | IRD  | CC | Bar| 
| - | - | - | - | - | - |
|**Sub-Dept** | |  |  |  |
|Food | 1.00 | 1.00 | 1.00 | 1.00 |
|Liquor | 2.00 | 2.00 | 2.00 | 2.00 
|Tax | 3.00 | 3.00 | 3.00 | 3.00 
|Gratuity | 4.00 | 4.00 | 4.00 | 4.00  -->

|Dept| Food | Liquor | Tax  | Gratuity | 
| -  | -    | -      | -    | -        |
| DR | 1.00 | 1.00   | 1.00 | 1.00     |
| RS | 4.00 | 4.00   | 4.00 | 4.00     |
| CC | 1.00 | 1.00   | 1.00 | 1.00     |
| LB | 4.00 | 4.00   | 4.00 | 4.00     |

---

 >**Investigate these amounts:**
 
 | Item            | Amount |
 | -               | - |
 | Discount        | 1.00 |
 | Charge          | 1.00 |
 | $2 Tip - Coupon | 1.00 |

---

## üìã Result üìã

# üì¶ Imports

---

I will **use standard data reading/wrangling/EDA packages,** such as Numpy, Pandas, Matplotlib, and Seaborn, to prepare and review my data prior to generating the final report.

Additionally, I will **import my own personal EDA module,** containing a selection of hand-written functions to make the EDA process a bit easier.

Finally, I will **create two particular variables to help determine the source data:**
1. A Boolean variable controlling whether to use the reference files included in this repo (versus live/new reports).
2. A filepath as a string datatype to import the data.

---

In [1]:
## Importing Packages

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# from datetime import datetime, timedelta

import bmcds.eda as eda

from functions.script import *

pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', '{:.2f}'.format)
%matplotlib inline

In [2]:
import logging

logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(message)s', 
                    datefmt='%d-%b-%y %H:%M:%S',filename='logs.log',filemode='a')

## Adapted from http://docs.python.org/howto/logging-cookbook.html#logging-cookbook

# Create logger and set level
logger = logging.getLogger('Report_Logs')
logger.setLevel(logging.INFO)

# Create log file
fh = logging.FileHandler('logs.log')
fh.setLevel(logging.INFO)

formatter = logging.Formatter('%(asctime)s - %(name)s - %(levelname)s - %(message)s')
fh.setFormatter(formatter)

logger.addHandler(fh)

#  Read Data

In [3]:
## Specify file path

file_path = './data/02_25_2022_pc.xls'

In [4]:
# ## Read specific columns from Excel file

# df = pd.read_excel(file_path, skiprows = 3, header = None,
#                    usecols = 'A, B, D, F, H', 
#                    names = ['Label', 'Lounge', 'Rain 903', 'In-Room Dining',
#                             'Coffee Corner'])
# df

In [5]:
## Read all columns from file (incl. empty columns)

df = pd.read_excel(file_path, skiprows = 2)
df

,Bar,Unnamed: 1,Dining Room,Unnamed: 3,Room Service,Unnamed: 5,Starbucks,Unnamed: 7,Page Total,Unnamed: 9
0,Food,742.00,NaN,273.00,NaN,62.00,NaN,247.65,NaN,1324.65
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Beverage,1215.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,1215.00
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Other,0.00,NaN,0.00,NaN,20.00,NaN,16.25,NaN,36.25
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Sales Subtotal,1957.00,NaN,273.00,NaN,82.00,NaN,263.90,NaN,2575.90
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Discount,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Charge,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Total before tax,1957.00,NaN,273.00,NaN,82.00,NaN,263.90,NaN,2575.90
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MD Food 6%,44.52,NaN,16.38,NaN,3.72,NaN,16.04,NaN,80.66
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,MD Liq 9%,109.35,NaN,0.00,NaN,0.00,NaN,0.00,NaN,109.35
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,None,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,None,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Tax Subtotal,153.87,NaN,16.38,NaN,3.72,NaN,16.04,NaN,190.01
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Receipt Rounding,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Total of check,2110.87,NaN,289.38,NaN,85.72,NaN,279.94,NaN,2765.91
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,,,NaN,,NaN,,NaN,,NaN,
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Tip collected,338.98,NaN,53.50,NaN,27.40,NaN,26.00,NaN,445.88
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,PaidIn - AR,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,PaidIn - Debitek,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,PaidIn - Gift Certificates,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Unadjusted receipts,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,,,NaN,,NaN,,NaN,,NaN,
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,No of Covers,65.00,NaN,12.00,NaN,4.00,NaN,43.00,NaN,124.00
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,No of Checks,66,NaN,12,NaN,4,NaN,43,NaN,125
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Avg cover,30.11,NaN,22.75,NaN,20.50,NaN,6.14,NaN,20.77
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Avg check,29.65,NaN,22.75,NaN,20.50,NaN,6.14,NaN,20.61
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,,,NaN,,NaN,,NaN,,NaN,
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,ALL A&G CHRG,31.25,NaN,31.20,NaN,0.00,NaN,0.00,NaN,62.45
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Room Charge,585.90,NaN,102.20,NaN,70.88,NaN,46.80,NaN,805.78
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,American Express,91.79,NaN,0.00,NaN,0.00,NaN,10.22,NaN,102.01
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Cash,240.84,NaN,0.00,NaN,0.00,NaN,35.60,NaN,276.44
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Discover Card,134.73,NaN,0.00,NaN,0.00,NaN,0.00,NaN,134.73
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,MasterCard,334.45,NaN,58.32,NaN,0.00,NaN,31.38,NaN,424.15
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,Visa,1030.89,NaN,151.16,NaN,42.24,NaN,181.94,NaN,1406.23
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,$2 Tip - Coupon,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,PMS A&G,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,Paper Gift Certificate,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,LevelUp,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,S & P,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,20% Discount,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,Bad Payment,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,External Payment,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,,,NaN,,NaN,,NaN,,NaN,
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Unadjusted receipts,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,Total Paid Outs,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,Server bank,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,Total tips,338.98,NaN,53.50,NaN,27.40,NaN,26.00,NaN,445.88
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,Server credit card fees,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,Net tips,338.98,NaN,53.50,NaN,27.40,NaN,26.00,NaN,445.88
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,Net Cash,-98.14,NaN,-53.50,NaN,-27.40,NaN,9.60,NaN,-169.44
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,Other receipts turned in,2209.01,NaN,342.88,NaN,113.12,NaN,270.34,NaN,2935.35
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,Server Drops,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,Turned in,2110.87,NaN,289.38,NaN,85.72,NaN,279.94,NaN,2765.91
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,Restaurant credit card fees,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,Estimated deposit,2110.87,NaN,289.38,NaN,85.72,NaN,279.94,NaN,2765.91
107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,,,NaN,,NaN,,NaN,,NaN,
109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,Beginning NRS Total,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,Total Receipts,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,Discounts,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,Paid Ins,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,Gross Total,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NRS Total,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,*** End of Report ***,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# üßº Cleaning

---

I imported the data into a dataframe and immediately see that I will need to fix the alignment of my column names.

Additionally, there are several "Unnamed" columns (representing empty, unlabeled columns generated as part of the report). Knowing those columns are empty, I will drop those as well.

---

In [6]:
## Shifting label names one to the right and drop extra column

df.columns = ['Label', *df.columns[:-1]]
df

,Label,Bar,Unnamed: 1,Dining Room,Unnamed: 3,Room Service,Unnamed: 5,Starbucks,Unnamed: 7,Page Total
0,Food,742.00,NaN,273.00,NaN,62.00,NaN,247.65,NaN,1324.65
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Beverage,1215.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,1215.00
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Other,0.00,NaN,0.00,NaN,20.00,NaN,16.25,NaN,36.25
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Sales Subtotal,1957.00,NaN,273.00,NaN,82.00,NaN,263.90,NaN,2575.90
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Discount,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Charge,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Total before tax,1957.00,NaN,273.00,NaN,82.00,NaN,263.90,NaN,2575.90
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MD Food 6%,44.52,NaN,16.38,NaN,3.72,NaN,16.04,NaN,80.66
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,MD Liq 9%,109.35,NaN,0.00,NaN,0.00,NaN,0.00,NaN,109.35
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,None,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,None,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Tax Subtotal,153.87,NaN,16.38,NaN,3.72,NaN,16.04,NaN,190.01
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Receipt Rounding,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Total of check,2110.87,NaN,289.38,NaN,85.72,NaN,279.94,NaN,2765.91
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,,,NaN,,NaN,,NaN,,NaN,
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Tip collected,338.98,NaN,53.50,NaN,27.40,NaN,26.00,NaN,445.88
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,PaidIn - AR,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,PaidIn - Debitek,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,PaidIn - Gift Certificates,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Unadjusted receipts,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,,,NaN,,NaN,,NaN,,NaN,
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,No of Covers,65.00,NaN,12.00,NaN,4.00,NaN,43.00,NaN,124.00
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,No of Checks,66,NaN,12,NaN,4,NaN,43,NaN,125
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Avg cover,30.11,NaN,22.75,NaN,20.50,NaN,6.14,NaN,20.77
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Avg check,29.65,NaN,22.75,NaN,20.50,NaN,6.14,NaN,20.61
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,,,NaN,,NaN,,NaN,,NaN,
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,ALL A&G CHRG,31.25,NaN,31.20,NaN,0.00,NaN,0.00,NaN,62.45
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Room Charge,585.90,NaN,102.20,NaN,70.88,NaN,46.80,NaN,805.78
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,American Express,91.79,NaN,0.00,NaN,0.00,NaN,10.22,NaN,102.01
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Cash,240.84,NaN,0.00,NaN,0.00,NaN,35.60,NaN,276.44
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Discover Card,134.73,NaN,0.00,NaN,0.00,NaN,0.00,NaN,134.73
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,MasterCard,334.45,NaN,58.32,NaN,0.00,NaN,31.38,NaN,424.15
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,Visa,1030.89,NaN,151.16,NaN,42.24,NaN,181.94,NaN,1406.23
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,$2 Tip - Coupon,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,PMS A&G,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,Paper Gift Certificate,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,LevelUp,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,S & P,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,20% Discount,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,Bad Payment,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,External Payment,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,,,NaN,,NaN,,NaN,,NaN,
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Unadjusted receipts,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,Total Paid Outs,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,Server bank,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,Total tips,338.98,NaN,53.50,NaN,27.40,NaN,26.00,NaN,445.88
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,Server credit card fees,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,Net tips,338.98,NaN,53.50,NaN,27.40,NaN,26.00,NaN,445.88
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,Net Cash,-98.14,NaN,-53.50,NaN,-27.40,NaN,9.60,NaN,-169.44
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,Other receipts turned in,2209.01,NaN,342.88,NaN,113.12,NaN,270.34,NaN,2935.35
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,Server Drops,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,Turned in,2110.87,NaN,289.38,NaN,85.72,NaN,279.94,NaN,2765.91
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,Restaurant credit card fees,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,Estimated deposit,2110.87,NaN,289.38,NaN,85.72,NaN,279.94,NaN,2765.91
107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,,,NaN,,NaN,,NaN,,NaN,
109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,Beginning NRS Total,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,Total Receipts,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,Discounts,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,Paid Ins,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,Gross Total,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NRS Total,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,*** End of Report ***,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
## Creating list of columns to keep/drop

col_labels = ['Label', 'Bar', 'Dining Room', 'Room Service', 'Starbucks']
drop_cols = []

for col in df.columns:
    if col not in col_labels:
        drop_cols.append(col)
        
drop_cols

['Unnamed: 1', 'Unnamed: 3', 'Unnamed: 5', 'Unnamed: 7', 'Page Total']

In [8]:
## Dropping columns not representing an outlet

df = df.drop(columns = drop_cols)
df

                           Label      Bar Dining Room Room Service Starbucks
0                           Food   742.00      273.00        62.00    247.65
1                            NaN      NaN         NaN          NaN       NaN
2                       Beverage  1215.00        0.00         0.00      0.00
3                            NaN      NaN         NaN          NaN       NaN
4                          Other     0.00        0.00        20.00     16.25
5                            NaN      NaN         NaN          NaN       NaN
6                 Sales Subtotal  1957.00      273.00        82.00    263.90
7                            NaN      NaN         NaN          NaN       NaN
8                       Discount     0.00        0.00         0.00      0.00
9                            NaN      NaN         NaN          NaN       NaN
10                        Charge     0.00        0.00         0.00      0.00
11                           NaN      NaN         NaN          NaN       NaN
12              Total before tax  1957.00      273.00        82.00    263.90
13                           NaN      NaN         NaN          NaN       NaN
14                    MD Food 6%    44.52       16.38         3.72     16.04
15                           NaN      NaN         NaN          NaN       NaN
16                     MD Liq 9%   109.35        0.00         0.00      0.00
17                           NaN      NaN         NaN          NaN       NaN
18                          None     0.00        0.00         0.00      0.00
19                           NaN      NaN         NaN          NaN       NaN
20                          None     0.00        0.00         0.00      0.00
21                           NaN      NaN         NaN          NaN       NaN
22                  Tax Subtotal   153.87       16.38         3.72     16.04
23                           NaN      NaN         NaN          NaN       NaN
24              Receipt Rounding     0.00        0.00         0.00      0.00
25                           NaN      NaN         NaN          NaN       NaN
26                Total of check  2110.87      289.38        85.72    279.94
27                           NaN      NaN         NaN          NaN       NaN
28
29                           NaN      NaN         NaN          NaN       NaN
30                 Tip collected   338.98       53.50        27.40     26.00
31                           NaN      NaN         NaN          NaN       NaN
32                   PaidIn - AR     0.00        0.00         0.00      0.00
33                           NaN      NaN         NaN          NaN       NaN
34              PaidIn - Debitek     0.00        0.00         0.00      0.00
35                           NaN      NaN         NaN          NaN       NaN
36    PaidIn - Gift Certificates     0.00        0.00         0.00      0.00
37                           NaN      NaN         NaN          NaN       NaN
38           Unadjusted receipts  2449.85      342.88       113.12    305.94
39                           NaN      NaN         NaN          NaN       NaN
40
41                           NaN      NaN         NaN          NaN       NaN
42                  No of Covers    65.00       12.00         4.00     43.00
43                           NaN      NaN         NaN          NaN       NaN
44                  No of Checks       66          12            4        43
45                           NaN      NaN         NaN          NaN       NaN
46                     Avg cover    30.11       22.75        20.50      6.14
47                           NaN      NaN         NaN          NaN       NaN
48                     Avg check    29.65       22.75        20.50      6.14
49                           NaN      NaN         NaN          NaN       NaN
50
51                           NaN      NaN         NaN          NaN       NaN
52                  ALL A&G CHRG    31.25       31.20         0.00      0.00
53                           NaN      NaN         NaN          NaN       NaN
54                   Room Charge   585.90      102.20        70.88     46.80
55                           NaN      NaN         NaN          NaN       NaN
56              American Express    91.79        0.00         0.00     10.22
57                           NaN      NaN         NaN          NaN       NaN
58                          Cash   240.84        0.00         0.00     35.60
59                           NaN      NaN         NaN          NaN       NaN
60                 Discover Card   134.73        0.00         0.00      0.00
61                           NaN      NaN         NaN          NaN       NaN
62                    MasterCard   334.45       58.32         0.00     31.38
63                           NaN      NaN         NaN          NaN       NaN
64                          Visa  1030.89      151.16        42.24    181.94
65                           NaN      NaN         NaN          NaN       NaN
66               $2 Tip - Coupon     0.00        0.00         0.00      0.00
67                           NaN      NaN         NaN          NaN       NaN
68                       PMS A&G     0.00        0.00         0.00      0.00
69                           NaN      NaN         NaN          NaN       NaN
70        Paper Gift Certificate     0.00        0.00         0.00      0.00
71                           NaN      NaN         NaN          NaN       NaN
72                       LevelUp     0.00        0.00         0.00      0.00
73                           NaN      NaN         NaN          NaN       NaN
74                         S & P     0.00        0.00         0.00      0.00
75                           NaN      NaN         NaN          NaN       NaN
76                  20% Discount     0.00        0.00         0.00      0.00
77                           NaN      NaN         NaN          NaN       NaN
78                   Bad Payment     0.00        0.00         0.00      0.00
79                           NaN      NaN         NaN          NaN       NaN
80              External Payment     0.00        0.00         0.00      0.00
81                           NaN      NaN         NaN          NaN       NaN
82
83                           NaN      NaN         NaN          NaN       NaN
84           Unadjusted receipts  2449.85      342.88       113.12    305.94
85                           NaN      NaN         NaN          NaN       NaN
86               Total Paid Outs     0.00        0.00         0.00      0.00
87                           NaN      NaN         NaN          NaN       NaN
88                   Server bank     0.00        0.00         0.00      0.00
89                           NaN      NaN         NaN          NaN       NaN
90                    Total tips   338.98       53.50        27.40     26.00
91                           NaN      NaN         NaN          NaN       NaN
92       Server credit card fees     0.00        0.00         0.00      0.00
93                           NaN      NaN         NaN          NaN       NaN
94                      Net tips   338.98       53.50        27.40     26.00
95                           NaN      NaN         NaN          NaN       NaN
96                      Net Cash   -98.14      -53.50       -27.40      9.60
97                           NaN      NaN         NaN          NaN       NaN
98      Other receipts turned in  2209.01      342.88       113.12    270.34
99                           NaN      NaN         NaN          NaN       NaN
100                 Server Drops     0.00        0.00         0.00      0.00
101                          NaN      NaN         NaN          NaN       NaN
102                    Turned in  2110.87      289.38        85.72    279.94
103                          NaN      NaN         NaN          NaN       NaN
104  Restaurant credit card fees     0.00        0.00         0.00      0.00
105                          NaN      NaN         NaN          NaN       NaN
106            Estimated deposit  2110.87      289.38        85.72    279.94
107                          NaN      NaN         NaN          NaN       NaN
108
109                          NaN      NaN         NaN          NaN       NaN
110          Beginning NRS Total     0.00        0.00         0.00      0.00
111                          NaN      NaN         NaN          NaN       NaN
112               Total Receipts  2449.85      342.88       113.12    305.94
113                          NaN      NaN         NaN          NaN       NaN
114                    Discounts     0.00        0.00         0.00      0.00
115                          NaN      NaN         NaN          NaN       NaN
116                     Paid Ins     0.00        0.00         0.00      0.00
117                          NaN      NaN         NaN          NaN       NaN
118                  Gross Total  2449.85      342.88       113.12    305.94
119                          NaN      NaN         NaN          NaN       NaN
120                    NRS Total  2449.85      342.88       113.12    305.94
121                          NaN      NaN         NaN          NaN       NaN
122                          NaN      NaN         NaN          NaN       NaN
123                          NaN      NaN         NaN          NaN       NaN
124                          NaN      NaN         NaN          NaN       NaN
125        *** End of Report ***      NaN         NaN          NaN       NaN

---

Now that I re-labeled the columns to match the data, I see there are blank rows between each row, similar to the blank columns experienced above.

Knowing that the reports do not have any rows that are either missing values or completely blank, I will drop rows with any blank values.

---

In [9]:
## How many rows have missing values, and how many do they contain?

df.isna().sum(axis=1).value_counts()
# df.isna().sum(axis=0)

5    64
0    61
4     1
dtype: int64

In [10]:
## Displaying only rows without any missing values

df[df.isna().sum(axis=1) == 0]

                           Label      Bar Dining Room Room Service Starbucks
0                           Food   742.00      273.00        62.00    247.65
2                       Beverage  1215.00        0.00         0.00      0.00
4                          Other     0.00        0.00        20.00     16.25
6                 Sales Subtotal  1957.00      273.00        82.00    263.90
8                       Discount     0.00        0.00         0.00      0.00
10                        Charge     0.00        0.00         0.00      0.00
12              Total before tax  1957.00      273.00        82.00    263.90
14                    MD Food 6%    44.52       16.38         3.72     16.04
16                     MD Liq 9%   109.35        0.00         0.00      0.00
18                          None     0.00        0.00         0.00      0.00
20                          None     0.00        0.00         0.00      0.00
22                  Tax Subtotal   153.87       16.38         3.72     16.04
24              Receipt Rounding     0.00        0.00         0.00      0.00
26                Total of check  2110.87      289.38        85.72    279.94
28
30                 Tip collected   338.98       53.50        27.40     26.00
32                   PaidIn - AR     0.00        0.00         0.00      0.00
34              PaidIn - Debitek     0.00        0.00         0.00      0.00
36    PaidIn - Gift Certificates     0.00        0.00         0.00      0.00
38           Unadjusted receipts  2449.85      342.88       113.12    305.94
40
42                  No of Covers    65.00       12.00         4.00     43.00
44                  No of Checks       66          12            4        43
46                     Avg cover    30.11       22.75        20.50      6.14
48                     Avg check    29.65       22.75        20.50      6.14
50
52                  ALL A&G CHRG    31.25       31.20         0.00      0.00
54                   Room Charge   585.90      102.20        70.88     46.80
56              American Express    91.79        0.00         0.00     10.22
58                          Cash   240.84        0.00         0.00     35.60
60                 Discover Card   134.73        0.00         0.00      0.00
62                    MasterCard   334.45       58.32         0.00     31.38
64                          Visa  1030.89      151.16        42.24    181.94
66               $2 Tip - Coupon     0.00        0.00         0.00      0.00
68                       PMS A&G     0.00        0.00         0.00      0.00
70        Paper Gift Certificate     0.00        0.00         0.00      0.00
72                       LevelUp     0.00        0.00         0.00      0.00
74                         S & P     0.00        0.00         0.00      0.00
76                  20% Discount     0.00        0.00         0.00      0.00
78                   Bad Payment     0.00        0.00         0.00      0.00
80              External Payment     0.00        0.00         0.00      0.00
82
84           Unadjusted receipts  2449.85      342.88       113.12    305.94
86               Total Paid Outs     0.00        0.00         0.00      0.00
88                   Server bank     0.00        0.00         0.00      0.00
90                    Total tips   338.98       53.50        27.40     26.00
92       Server credit card fees     0.00        0.00         0.00      0.00
94                      Net tips   338.98       53.50        27.40     26.00
96                      Net Cash   -98.14      -53.50       -27.40      9.60
98      Other receipts turned in  2209.01      342.88       113.12    270.34
100                 Server Drops     0.00        0.00         0.00      0.00
102                    Turned in  2110.87      289.38        85.72    279.94
104  Restaurant credit card fees     0.00        0.00         0.00      0.00
106            Estimated deposit  2110.87      289.38        85.72    279.94
108
110          Beginning NRS Total     0.00        0.00         0.00      0.00
112               Total Receipts  2449.85      342.88       113.12    305.94
114                    Discounts     0.00        0.00         0.00      0.00
116                     Paid Ins     0.00        0.00         0.00      0.00
118                  Gross Total  2449.85      342.88       113.12    305.94
120                    NRS Total  2449.85      342.88       113.12    305.94

In [11]:
## Displaying only rows missing any values

# df[df.isna().sum(axis=1) > 0]
df[df.isna().sum(axis=1) > 0].value_counts(dropna=False)

Label                  Bar  Dining Room  Room Service  Starbucks
NaN                    NaN  NaN          NaN           NaN          64
*** End of Report ***  NaN  NaN          NaN           NaN           1
dtype: int64

---

The simple filtering above confirms my assumption that rows missing any number of missing values do not contain any relevant information. In the normal printout, these rows would be blank spaces between lines.

Additionally, I noticed there are a few rows that are "blank;" they contain some sort of data, but they do not provide meaningful information.

I will filter out rows with missing values and blank rows.

---

In [12]:
## Checking size of dataframe prior to dropping rows
df.shape

(126, 5)

In [13]:
## Checking for blank rows
df['Label'].value_counts()

                               5
None                           2
Unadjusted receipts            2
Food                           1
Net tips                       1
Paper Gift Certificate         1
LevelUp                        1
S & P                          1
20% Discount                   1
Bad Payment                    1
External Payment               1
Total Paid Outs                1
Server bank                    1
Total tips                     1
Server credit card fees        1
Other receipts turned in       1
Net Cash                       1
$2 Tip - Coupon                1
Server Drops                   1
Turned in                      1
Restaurant credit card fees    1
Estimated deposit              1
Beginning NRS Total            1
Total Receipts                 1
Discounts                      1
Paid Ins                       1
Gross Total                    1
NRS Total                      1
PMS A&G                        1
MasterCard                     1
Visa                           1
Beverage                       1
Other                          1
Sales Subtotal                 1
Discount                       1
Charge                         1
Total before tax               1
MD Food 6%                     1
MD Liq 9%                      1
Tax Subtotal                   1
Receipt Rounding               1
Total of check                 1
Tip collected                  1
PaidIn - AR                    1
PaidIn - Debitek               1
PaidIn - Gift Certificates     1
No of Covers                   1
No of Checks                   1
Avg cover                      1
Avg check                      1
ALL A&G CHRG                   1
Room Charge                    1
American Express               1
Cash                           1
Discover Card                  1
*** End of Report ***          1
Name: Label, dtype: int64

In [14]:
## Reviewing rows containing a blank space for a label
df[df.loc[:, "Label"].isin([' '])]

    Label Bar Dining Room Room Service Starbucks
28
40
50
82
108

In [15]:
## Filter out those rows with missing/blank values

df_cleaned = df[df.isna().sum(axis=1) == 0]
df_cleaned = df_cleaned[~df_cleaned.loc[:, "Label"].isin([' '])]
df_cleaned = df_cleaned.reset_index(drop=True)
df_cleaned

                          Label      Bar Dining Room Room Service Starbucks
0                          Food   742.00      273.00        62.00    247.65
1                      Beverage  1215.00        0.00         0.00      0.00
2                         Other     0.00        0.00        20.00     16.25
3                Sales Subtotal  1957.00      273.00        82.00    263.90
4                      Discount     0.00        0.00         0.00      0.00
5                        Charge     0.00        0.00         0.00      0.00
6              Total before tax  1957.00      273.00        82.00    263.90
7                    MD Food 6%    44.52       16.38         3.72     16.04
8                     MD Liq 9%   109.35        0.00         0.00      0.00
9                          None     0.00        0.00         0.00      0.00
10                         None     0.00        0.00         0.00      0.00
11                 Tax Subtotal   153.87       16.38         3.72     16.04
12             Receipt Rounding     0.00        0.00         0.00      0.00
13               Total of check  2110.87      289.38        85.72    279.94
14                Tip collected   338.98       53.50        27.40     26.00
15                  PaidIn - AR     0.00        0.00         0.00      0.00
16             PaidIn - Debitek     0.00        0.00         0.00      0.00
17   PaidIn - Gift Certificates     0.00        0.00         0.00      0.00
18          Unadjusted receipts  2449.85      342.88       113.12    305.94
19                 No of Covers    65.00       12.00         4.00     43.00
20                 No of Checks       66          12            4        43
21                    Avg cover    30.11       22.75        20.50      6.14
22                    Avg check    29.65       22.75        20.50      6.14
23                 ALL A&G CHRG    31.25       31.20         0.00      0.00
24                  Room Charge   585.90      102.20        70.88     46.80
25             American Express    91.79        0.00         0.00     10.22
26                         Cash   240.84        0.00         0.00     35.60
27                Discover Card   134.73        0.00         0.00      0.00
28                   MasterCard   334.45       58.32         0.00     31.38
29                         Visa  1030.89      151.16        42.24    181.94
30              $2 Tip - Coupon     0.00        0.00         0.00      0.00
31                      PMS A&G     0.00        0.00         0.00      0.00
32       Paper Gift Certificate     0.00        0.00         0.00      0.00
33                      LevelUp     0.00        0.00         0.00      0.00
34                        S & P     0.00        0.00         0.00      0.00
35                 20% Discount     0.00        0.00         0.00      0.00
36                  Bad Payment     0.00        0.00         0.00      0.00
37             External Payment     0.00        0.00         0.00      0.00
38          Unadjusted receipts  2449.85      342.88       113.12    305.94
39              Total Paid Outs     0.00        0.00         0.00      0.00
40                  Server bank     0.00        0.00         0.00      0.00
41                   Total tips   338.98       53.50        27.40     26.00
42      Server credit card fees     0.00        0.00         0.00      0.00
43                     Net tips   338.98       53.50        27.40     26.00
44                     Net Cash   -98.14      -53.50       -27.40      9.60
45     Other receipts turned in  2209.01      342.88       113.12    270.34
46                 Server Drops     0.00        0.00         0.00      0.00
47                    Turned in  2110.87      289.38        85.72    279.94
48  Restaurant credit card fees     0.00        0.00         0.00      0.00
49            Estimated deposit  2110.87      289.38        85.72    279.94
50          Beginning NRS Total     0.00        0.00         0.00      0.00
51               Total Receipts  2449.85      342.88       113.12    305.94
52                    Discounts     0.00        0.00         0.00      0.00
53                     Paid Ins     0.00        0.00         0.00      0.00
54                  Gross Total  2449.85      342.88       113.12    305.94
55                    NRS Total  2449.85      342.88       113.12    305.94

In [16]:
## Checking number of rows post-drop

df_cleaned.shape

(56, 5)

In [17]:
## Inspecting datatype and remaining data
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Label         56 non-null     object
 1   Bar           56 non-null     object
 2   Dining Room   56 non-null     object
 3   Room Service  56 non-null     object
 4   Starbucks     56 non-null     object
dtypes: object(5)
memory usage: 2.3+ KB

---

**Review Current Status**

At this point, I completed the following:

- [X] Imported specified report data
- [X] Removed blank columns and rows
- [X] Removed any rows missing values

At this point, I condensed the report and removed any extra spacing.

**Now I need to decide which rows contain relevant data to keep and which rows contain extra data that we don't use.**

---

**Keeping vs. Dropping**

My original intention for this notebook/eventual script was to create a very minimalistic summary of the relevant day-to-day data, cutting out the extra stuff that we ignore.
- This would provide me with the data specifically used during our night audit processes and remove any confusing extra details.

However, I realized that approach would cause problems if/when we introduce new payment methods or would have any rare situations where relevant data would come through to the reports. 
- Missing such data could result in problems creating the daily reports or worse - obscure potential problems/irregularities.

---

**Final Decision:**

I will focus my code on keeping all row labels while maintaining a focus on the most important day-to-day details.
- To address the concern about irregularities, I will create warnings to highlight such data.

---

# üî® Workflow 1: Keep All Row Labels

---

To create my ideal report, **I will focus on specific rows that I use most often for my reporting.** 

I will split the remaining rows into two groups:
1. Regularly-occurring (but irrelevant) data
    - This includes subtotals and most of the rows at the end
    - These rows are irrelevant for the day-to-day reports


2. Infrequent but highly valuable data
    - This group would also act as a catch-all for any new rows, such as when we create a new payment method.

**I will sub-divide the dataframe into the three new dataframes, one for each group.**

- Both the "regular" data and "infrequent-but-valuable" dataframes will be included on the first sheet of the final Excel workbook
- The extra dataframe will be saved to the second page.

---

In [18]:
## Create new DF

df_all_cols = df_cleaned.copy().T
df_all_cols

,0,1,2,3,4,5,6,7,8,9,...,46,47,48,49,50,51,52,53,54,55
Label,Food,Beverage,Other,Sales Subtotal,Discount,Charge,Total before tax,MD Food 6%,MD Liq 9%,None,...,Server Drops,Turned in,Restaurant credit card fees,Estimated deposit,Beginning NRS Total,Total Receipts,Discounts,Paid Ins,Gross Total,NRS Total
Bar,742.00,1215.00,0.00,1957.00,0.00,0.00,1957.00,44.52,109.35,0.00,...,0.00,2110.87,0.00,2110.87,0.00,2449.85,0.00,0.00,2449.85,2449.85
Dining Room,273.00,0.00,0.00,273.00,0.00,0.00,273.00,16.38,0.00,0.00,...,0.00,289.38,0.00,289.38,0.00,342.88,0.00,0.00,342.88,342.88
Room Service,62.00,0.00,20.00,82.00,0.00,0.00,82.00,3.72,0.00,0.00,...,0.00,85.72,0.00,85.72,0.00,113.12,0.00,0.00,113.12,113.12
Starbucks,247.65,0.00,16.25,263.90,0.00,0.00,263.90,16.04,0.00,0.00,...,0.00,279.94,0.00,279.94,0.00,305.94,0.00,0.00,305.94,305.94

In [19]:
## Re-labeling columns based on "Label" row
df_all_cols.columns = df_all_cols.iloc[0]
df_all_cols = df_all_cols.drop(index = 'Label')
df_all_cols

Label,Food,Beverage,Other,Sales Subtotal,Discount,Charge,Total before tax,MD Food 6%,MD Liq 9%,None,...,Server Drops,Turned in,Restaurant credit card fees,Estimated deposit,Beginning NRS Total,Total Receipts,Discounts,Paid Ins,Gross Total,NRS Total
Bar,742.00,1215.00,0.00,1957.00,0.00,0.00,1957.00,44.52,109.35,0.00,...,0.00,2110.87,0.00,2110.87,0.00,2449.85,0.00,0.00,2449.85,2449.85
Dining Room,273.00,0.00,0.00,273.00,0.00,0.00,273.00,16.38,0.00,0.00,...,0.00,289.38,0.00,289.38,0.00,342.88,0.00,0.00,342.88,342.88
Room Service,62.00,0.00,20.00,82.00,0.00,0.00,82.00,3.72,0.00,0.00,...,0.00,85.72,0.00,85.72,0.00,113.12,0.00,0.00,113.12,113.12
Starbucks,247.65,0.00,16.25,263.90,0.00,0.00,263.90,16.04,0.00,0.00,...,0.00,279.94,0.00,279.94,0.00,305.94,0.00,0.00,305.94,305.94

In [20]:
## Specifying daily-use labels

daily_rows = ['Food', 'Beverage', 'Other', 'Discount', 'MD Food 6%',
              'MD Liq 9%', 'Tip collected', "ALL A&G CHRG", 'Room Charge',
              'American Express', 'Cash', 'Discover Card', 'MasterCard', 'Visa']

df_daily = df_all_cols[daily_rows]
df_daily

Label,Food,Beverage,Other,Discount,MD Food 6%,MD Liq 9%,Tip collected,ALL A&G CHRG,Room Charge,American Express,Cash,Discover Card,MasterCard,Visa
Bar,742.00,1215.00,0.00,0.00,44.52,109.35,338.98,31.25,585.90,91.79,240.84,134.73,334.45,1030.89
Dining Room,273.00,0.00,0.00,0.00,16.38,0.00,53.50,31.20,102.20,0.00,0.00,0.00,58.32,151.16
Room Service,62.00,0.00,20.00,0.00,3.72,0.00,27.40,0.00,70.88,0.00,0.00,0.00,0.00,42.24
Starbucks,247.65,0.00,16.25,0.00,16.04,0.00,26.00,0.00,46.80,10.22,35.60,0.00,31.38,181.94

In [21]:
## Converting data to "float"
for col in df_daily.columns:
    df_daily.loc[:,col] = pd.to_numeric(df_daily.loc[:,col], downcast = 'float')
    
df_daily

<ipython-input-21-04263d01f862>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_daily.loc[:,col] = pd.to_numeric(df_daily.loc[:,col], downcast = 'float')

Label,Food,Beverage,Other,Discount,MD Food 6%,MD Liq 9%,Tip collected,ALL A&G CHRG,Room Charge,American Express,Cash,Discover Card,MasterCard,Visa
Bar,742.00,1215.00,0.00,0.00,44.52,109.35,338.98,31.25,585.90,91.79,240.84,134.73,334.45,1030.89
Dining Room,273.00,0.00,0.00,0.00,16.38,0.00,53.50,31.20,102.20,0.00,0.00,0.00,58.32,151.16
Room Service,62.00,0.00,20.00,0.00,3.72,0.00,27.40,0.00,70.88,0.00,0.00,0.00,0.00,42.24
Starbucks,247.65,0.00,16.25,0.00,16.04,0.00,26.00,0.00,46.80,10.22,35.60,0.00,31.38,181.94

## Creating Summary for Posting

---

**My main goal is to create a simple, easy-to-use report that I can roll-out quickly and easily.** Ideally, the summary will be intuitive, clear, and allow for the night auditor to post the charges quickly and easily.

I know that there are only a select few columns that we reference for posting charges, so I will start my summary by creating a small dataframe summarizing the usual charges.

---

In [22]:
## Summarize food charges by outlet
daily_food = df_daily['Food'] + df_daily['Other'] - df_daily['Discount']
daily_food

Bar            742.00
Dining Room    273.00
Room Service    82.00
Starbucks      263.90
dtype: float32

In [23]:
## Summarize tax charges by outlet
daily_tax = df_daily['MD Food 6%']+df_daily['MD Liq 9%']
daily_tax

Bar            153.87
Dining Room     16.38
Room Service     3.72
Starbucks       16.04
dtype: float32

In [24]:
## Summarize all charges by outlet
summary = pd.concat([daily_food, df_daily['Beverage'], daily_tax, 
           df_daily['Tip collected']], axis=1)
summary

                  0  Beverage      1  Tip collected
Bar          742.00   1215.00 153.87         338.98
Dining Room  273.00      0.00  16.38          53.50
Room Service  82.00      0.00   3.72          27.40
Starbucks    263.90      0.00  16.04          26.00

In [25]:
## Creating new labels

col_labels = {0: "Food", 1: "Tax", 'Tip collected': 'Gratuity'}

row_labels = {'Bar': "Lobby Bar", "Dining Room": 'Rain 903', 
              'Room Service': 'In-Room Dining', 'Starbucks': 'Coffee Corner'}

col_labels, row_labels

({0: 'Food', 1: 'Tax', 'Tip collected': 'Gratuity'},
 {'Bar': 'Lobby Bar',
  'Dining Room': 'Rain 903',
  'Room Service': 'In-Room Dining',
  'Starbucks': 'Coffee Corner'})

In [26]:
## Renaming columns
summary = summary.rename(columns = col_labels, index = row_labels)
summary

                 Food  Beverage    Tax  Gratuity
Lobby Bar      742.00   1215.00 153.87    338.98
Rain 903       273.00      0.00  16.38     53.50
In-Room Dining  82.00      0.00   3.72     27.40
Coffee Corner  263.90      0.00  16.04     26.00

In [27]:
## Rounding values - preventing long numbers
summary = summary.applymap(lambda x: round(x, 2))
summary

                 Food  Beverage    Tax  Gratuity
Lobby Bar      742.00   1215.00 153.87    338.98
Rain 903       273.00      0.00  16.38     53.50
In-Room Dining  82.00      0.00   3.72     27.40
Coffee Corner  263.90      0.00  16.04     26.00

In [28]:
# summary.to_excel('Test_Summary_Workbook.xlsx')

# Summarizing the Summary

---

First summary working - need to expand

* Repeat process per MOP
    * A&G
    * RC
    * CA
    * AX
    * DI
    * VI/MC
    
* Save results to different sheets?

---

# ∆í: Workflow

---

 - [ ] Create workflow function to reuse w/ each report
 - [ ] Test specific MOP reports

In [29]:
def cleaning_mops(file_path, new_file = None):

    df = pd.read_excel(file_path, skiprows = 2)

    df.columns = ['Label', *df.columns[:-1]]

    col_labels = ['Label', 'Bar', 'Dining Room', 'Room Service', 'Starbucks']
    drop_cols = []

    for col in df.columns:
        if col not in col_labels:
            drop_cols.append(col)

    df = df.drop(columns = drop_cols)

    df_cleaned = df[df.isna().sum(axis=1) == 0]
    df_cleaned = df_cleaned[~df_cleaned.loc[:, "Label"].isin([' '])]
    df_cleaned = df_cleaned.reset_index(drop=True)

    df_all_cols = df_cleaned.T

    df_all_cols.columns = df_all_cols.iloc[0]
    df_all_cols = df_all_cols.drop(index = 'Label')

    daily_rows = ['Food', 'Beverage', 'Other', 'Discount', 'MD Food 6%',
              'MD Liq 9%', 'Tip collected', "ALL A&G CHRG", 'Room Charge',
              'American Express', 'Cash', 'Discover Card', 'MasterCard', 'Visa']

    df_daily = df_all_cols.loc[:,daily_rows]

    for col in df_daily.columns:
        df_daily.loc[:,col] = pd.to_numeric(df_daily.loc[:,col], downcast = 'float')

    daily_food = df_daily.loc[:,'Food'] + df_daily.loc[:,'Other'] - df_daily.loc[:,'Discount']

    daily_tax = df_daily.loc[:,'MD Food 6%'] + df_daily.loc[:,'MD Liq 9%']

    summary = pd.concat([daily_food, df_daily.loc[:,'Beverage'], daily_tax, 
           df_daily.loc[:,'Tip collected']], axis=1)
    
    col_labels = {0: "Food", 1: "Tax", 'Tip collected': 'Gratuity'}

    row_labels = {'Bar': "Lobby Bar", "Dining Room": 'Rain 903', 
              'Room Service': 'In-Room Dining', 'Starbucks': 'Coffee Corner'}

    summary = summary.rename(columns = col_labels, index = row_labels)

    summary = summary.applymap(lambda x: round(x, 2))

#     summary.to_excel(new_file)
    return summary

In [30]:
test_df = cleaning_mops(file_path = './data/02_25_2022_mop_det_VIMC.xls')
test_df

                 Food  Beverage   Tax  Gratuity
Lobby Bar      478.00    612.00 83.76    191.58
Rain 903       163.00      0.00  9.78     36.70
In-Room Dining  29.00      0.00  1.44     11.80
Coffee Corner  181.30      0.00 11.02     21.00

In [31]:
test_df['MoP'] ='VI/MC'
test_df

                 Food  Beverage   Tax  Gratuity    MoP
Lobby Bar      478.00    612.00 83.76    191.58  VI/MC
Rain 903       163.00      0.00  9.78     36.70  VI/MC
In-Room Dining  29.00      0.00  1.44     11.80  VI/MC
Coffee Corner  181.30      0.00 11.02     21.00  VI/MC

In [32]:
test_df = test_df.reset_index()
test_df = test_df.set_index(['MoP', 'index'])
test_df

                       Food  Beverage   Tax  Gratuity
MoP   index
VI/MC Lobby Bar      478.00    612.00 83.76    191.58
      Rain 903       163.00      0.00  9.78     36.70
      In-Room Dining  29.00      0.00  1.44     11.80
      Coffee Corner  181.30      0.00 11.02     21.00

In [33]:
mop = 'AG'
file_path = f'./data/02_25_2022_mop_det_{mop}.xls'
results = cleaning_mops(file_path)
results.loc[:,'MoP'] = mop.upper()

results

           Food  Beverage  Tax  Gratuity MoP
Lobby Bar  0.00     25.00 2.25      4.00  AG
Rain 903  29.43      0.00 1.77      0.00  AG

In [34]:
list_mops = ['ag', 'rc', 'ax', 'ca', 'di', 'vimc']

results = pd.DataFrame()

for mop in list_mops:
    file_path = f'./data/02_25_2022_mop_det_{mop}.xls'
    results = cleaning_mops(file_path)
    results.loc[:,'MoP'] = mop.upper()

In [35]:
results.keys()

Index(['Food', 'Beverage', 'Tax', 'Gratuity', 'MoP'], dtype='object')

In [36]:
results

                 Food  Beverage   Tax  Gratuity   MoP
Lobby Bar      478.00    612.00 83.76    191.58  VIMC
Rain 903       163.00      0.00  9.78     36.70  VIMC
In-Room Dining  29.00      0.00  1.44     11.80  VIMC
Coffee Corner  181.30      0.00 11.02     21.00  VIMC

# So Far...

---

**‚àö: MVP**

- [x] Created function to clean, organize data from summary reports
 - [x] Tested results by looping through list of files


**TD: MVP**

 - [ ] Add additional column identifying MOP
 - [ ] Create multi-index w/ MOP, PC
 - [ ] Concat DFs
 - [ ] Save results to XL
 - [ ] Convert to script
 
 
**TD: AAB**

 - [ ] Create filters to include extra details
     * *Ex: Discounts, charges, any new MOPs, payments other than listed MOPs*

---

# 3.15.22

Goal: MVP up & running

 - [ ] Check status
 - [ ] Add/create multi-index for MOP
 - [ ] Create SINGLE results XL

In [37]:
def cleaning_mops_test(file_path, mop_name = None, new_file_name = None):
    
    ## Read file
    df = pd.read_excel(file_path, skiprows = 2)
    
    ## Shift label names one to the right and drop extra column
    df.columns = ['Label', *df.columns[:-1]]
    
    ## Specify features to keep
    col_labels = ['Label', 'Bar', 'Dining Room', 'Room Service', 'Starbucks']
    drop_cols = []
    
    ## Create list of column names to drop
    for col in df.columns:
        if col not in col_labels:
            drop_cols.append(col)
    
    ## Drop columns
    df = df.drop(columns = drop_cols)
    
    ## Drop rows with NaNs and/or blank labels
    df_cleaned = df[df.isna().sum(axis=1) == 0]
    df_cleaned = df_cleaned[~df_cleaned.loc[:, "Label"].isin([' '])]
    df_cleaned = df_cleaned.reset_index(drop=True)
    
    ## Transpose for easy reading
    df_all_cols = df_cleaned.T
    
    ## Relabel based on values in first row
    df_all_cols.columns = df_all_cols.iloc[0]
    df_all_cols = df_all_cols.drop(index = 'Label')

    daily_rows = ['Food', 'Beverage', 'Other', 'Discount', 'MD Food 6%',
              'MD Liq 9%', 'Tip collected', "ALL A&G CHRG", 'Room Charge',
              'American Express', 'Cash', 'Discover Card', 'MasterCard', 'Visa']
    
    ## Slicing out specific labels of interest
    df_daily = df_all_cols.loc[:, daily_rows]
    
    ## Recast datatypes
    for col in df_daily.columns:
        df_daily.loc[:,col] = pd.to_numeric(df_daily.loc[:,col], downcast = 'float')

    ## Generate totals for each outlet
    daily_food = df_daily['Food'] + df_daily['Other'] - df_daily['Discount']

    daily_tax = df_daily['MD Food 6%'] + df_daily['MD Liq 9%']

    summary = pd.concat([daily_food, df_daily.loc[:,'Beverage'], daily_tax,
                         df_daily.loc[:,'Tip collected']], axis=1)
    
    ## Relabel columns/rows
    col_labels = {0: "Food", 1: "Tax", 'Tip collected': 'Gratuity'}
    row_labels = {'Bar': "Lobby Bar", "Dining Room": 'Rain 903', 
              'Room Service': 'In-Room Dining', 'Starbucks': 'Coffee Corner'}
        
    summary = summary.rename(columns = col_labels, index = row_labels)
    
    ## Round to prevent unnecessary decimals
    summary = summary.applymap(lambda x: round(x, 2))
    
    ## Generate new index to group MOPs
    if mop_name != None:
        summary.loc[:,'Payment'] = mop_name.upper()
        summary = summary.reset_index()
        summary = summary.rename(columns = {'index':'Outlet'})
        summary = summary.set_index(['Payment', 'Outlet'])
        
#     summary.to_excel(new_file)
    return summary

In [38]:
## For a specified MOP, pull specific file and run cleaning function

mop = 'vimc'

file_path = f'./data/02_25_2022_mop_det_{mop}.xls'

cleaning_mops_test(file_path=file_path, mop_name=mop)

                         Food  Beverage   Tax  Gratuity
Payment Outlet
VIMC    Lobby Bar      478.00    612.00 83.76    191.58
        Rain 903       163.00      0.00  9.78     36.70
        In-Room Dining  29.00      0.00  1.44     11.80
        Coffee Corner  181.30      0.00 11.02     21.00

In [39]:
## Run all MOPs through function

list_mops = ['ag', 'rc', 'ax', 'ca', 'di', 'vimc']

new_results = []

for mop in list_mops:
    file_path = f'./data/02_25_2022_mop_det_{mop}.xls'
    new_results.append(cleaning_mops_test(file_path=file_path, mop_name=mop))
    
new_results_df = pd.concat(new_results)
new_results_df

                         Food  Beverage   Tax  Gratuity
Payment Outlet
AG      Lobby Bar        0.00     25.00  2.25      4.00
        Rain 903        29.43      0.00  1.77      0.00
RC      Lobby Bar      182.00    262.00 34.50    107.40
        Rain 903        80.57      0.00  4.83     16.80
        In-Room Dining  53.00      0.00  2.28     15.60
        Coffee Corner   41.30      0.00  2.50      3.00
AX      Lobby Bar       14.00     55.00  5.79     17.00
        Coffee Corner    7.75      0.00  0.47      2.00
CA      Lobby Bar       38.00    184.00 18.84      0.00
        Rain 903         0.00      0.00  0.00      0.00
        Coffee Corner   33.55      0.00  2.05      0.00
DI      Lobby Bar       30.00     77.00  8.73     19.00
VIMC    Lobby Bar      478.00    612.00 83.76    191.58
        Rain 903       163.00      0.00  9.78     36.70
        In-Room Dining  29.00      0.00  1.44     11.80
        Coffee Corner  181.30      0.00 11.02     21.00

In [40]:
# new_results_df.to_excel('./data/02_25_2022_summary.xlsx')

# Generating Alerts for RC: Dupes and A&G

* Two possible errors for Room Charge settlements:
    * Duplicate checks
    * Charged to A&G
* Need report to check guest names to ID and warn of these postings

In [41]:
ra_rc_df = pd.read_excel(io = './data/april_2022_rc_receipts.xls', header = None, skiprows = 1,
                        names = ['Table #', 'Check #', 'Server #', 'Server Name', 'Cashier #',
                                 'Cashier Name','MoP', 'Profit Center', 'Blank1', 'Blank2',
                                 'Tip', 'Total Receipt', 'Guest Name/Room', 'Date', 'Time'])
ra_rc_df

,Table #,Check #,Server #,Server Name,Cashier #,Cashier Name,MoP,Profit Center,Blank1,Blank2,Tip,Total Receipt,Guest Name/Room,Date,Time
0,31,131864.00,139.00,AngelaB,139.00,AngelaB,Room,Manager Lunch,NaN,NaN,0.00,4.24,"TINTER, R150641, Room: 918",2022-04-01,07:03
1,9623,131865.00,122.00,Lane,122.00,Lane,Room,Starbucks,NaN,NaN,1.00,4.18,"PHELAN, T149941, Room: 326",2022-04-01,07:08
2,9628,131872.00,122.00,Lane,122.00,Lane,Room,Starbucks,NaN,NaN,1.00,6.04,"POTTER, L150015, Room: 527",2022-04-01,07:33
3,427,131874.00,139.00,AngelaB,139.00,AngelaB,Room,Manager Lunch,NaN,NaN,5.00,23.78,"MOLINA, N150914, Room: 427",2022-04-01,11:44
4,9631,131877.00,122.00,Lane,122.00,Lane,Room,Starbucks,NaN,NaN,0.00,6.26,"SONG, SUH150840, Room: 818",2022-04-01,07:44
5,32,131885.00,139.00,AngelaB,139.00,AngelaB,Room,Manager Lunch,NaN,NaN,19.08,131.44,"REYNOLDS,150964, Room: 729",2022-04-01,11:59
6,17,131887.00,139.00,AngelaB,139.00,AngelaB,Room,Manager Lunch,NaN,NaN,3.00,29.50,"YAZAMI, R150945, Room: 1111",2022-04-01,11:54
7,23,131890.00,139.00,AngelaB,139.00,AngelaB,Room,Manager Lunch,NaN,NaN,5.00,27.26,"KORNSTEDT150842, Room: 614",2022-04-01,11:42
8,9648,131899.00,122.00,Lane,122.00,Lane,Room,Starbucks,NaN,NaN,1.00,4.56,"RICHARDS,149940, Room: 327",2022-04-01,08:38
9,20,131902.00,139.00,AngelaB,139.00,AngelaB,Room,Manager Lunch,NaN,NaN,0.00,27.56,"BAXTER, R150592, Room: 727",2022-04-01,11:34
10,27,131904.00,139.00,AngelaB,139.00,AngelaB,Room,Manager Lunch,NaN,NaN,6.00,29.32,"ZASLER, C150303, Room: 1224",2022-04-01,11:37
11,56,131905.00,139.00,AngelaB,139.00,AngelaB,Room,Manager Lunch,NaN,NaN,5.00,31.50,"VANGUNDY,150930, Room: 822",2022-04-01,11:40
12,9657,131913.00,122.00,Lane,122.00,Lane,Room,Starbucks,NaN,NaN,2.23,7.00,"GALIANO-H150603, Room: 315",2022-04-01,09:16
13,59,131932.00,139.00,AngelaB,139.00,AngelaB,Room,Manager Lunch,NaN,NaN,27.50,160.00,"WILHELM, 150842, Room: 706",2022-04-01,11:33
14,9674,131934.00,122.00,Lane,122.00,Lane,Room,Starbucks,NaN,NaN,0.00,5.83,"BODEN, DA150511, Room: 1220",2022-04-01,11:33
15,9687,131948.00,373.00,Cardoni,373.00,Cardoni,Room,Bar HH,NaN,NaN,15.00,62.48,"OSLEY, PH150881, Room: 919",2022-04-01,17:12
16,9689,131950.00,373.00,Cardoni,373.00,Cardoni,Room,Bar HH,NaN,NaN,27.00,172.08,"BODEN, DA150489, Room: 1221",2022-04-01,18:28
17,9692,131953.00,79.00,Kiarra,79.00,Kiarra,Room,Bar,NaN,NaN,10.00,59.60,"BOSWELL, 150937, Room: 411",2022-04-01,20:38
18,9693,131954.00,373.00,Cardoni,373.00,Cardoni,Room,Bar HH,NaN,NaN,15.00,86.94,"BODEN, JO150764, Room: 1122",2022-04-01,18:20
19,9694,131955.00,79.00,Kiarra,79.00,Kiarra,Room,Bar,NaN,NaN,15.40,49.02,"MALENAB, 150470, Room: 1024",2022-04-01,20:39
20,12,131959.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR,NaN,NaN,5.00,25.14,"MOLINA, N150914, Room: 427",2022-04-01,20:02
21,9698,131960.00,79.00,Kiarra,79.00,Kiarra,Room,Bar,NaN,NaN,8.00,55.40,"SINCLAIR,151021, Room: 719",2022-04-01,20:37
22,9701,131963.00,137.00,JohnsonA,139.00,AngelaB,Room,Time Range 2-Manager,NaN,NaN,5.60,40.28,"GAINEY, R148234, Room: 1205",2022-04-01,21:52
23,9706,131967.00,79.00,Kiarra,79.00,Kiarra,Room,Bar,NaN,NaN,2.00,10.48,"SCHNAPP, 150934, Room: 508",2022-04-01,22:37
24,9707,131968.00,373.00,Cardoni,373.00,Cardoni,Room,Bar,NaN,NaN,4.00,20.96,"ISAACSON,150964, Room: 1110",2022-04-01,21:36
25,9710,131970.00,79.00,Kiarra,79.00,Kiarra,Room,Bar,NaN,NaN,5.00,23.53,"CLINE, JO150994, Room: 601",2022-04-01,22:38
26,9712,131971.00,373.00,Cardoni,373.00,Cardoni,Room,Bar,NaN,NaN,20.00,117.01,"CAPLAN, E150805, Room: 924",2022-04-01,22:29
27,9717,131975.00,79.00,Kiarra,79.00,Kiarra,Room,Bar,NaN,NaN,10.00,40.52,"BOSWELL, 150937, Room: 411",2022-04-01,22:50
28,9721,131977.00,373.00,Cardoni,373.00,Cardoni,Room,Bar,NaN,NaN,2.00,11.81,"STAUNTON,150858, Room: 414",2022-04-01,23:27
29,13,131989.00,494.00,"Smith, A",494.00,"Smith, A",Room,DR-Breakfast,NaN,NaN,7.00,41.98,"HAMILTON,150744, Room: 1111",2022-04-02,07:45
30,31,131996.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Breakfast,NaN,NaN,0.00,132.50,"REYNOLDS,150964, Room: 729",2022-04-02,07:25
31,600,131998.00,137.00,JohnsonA,139.00,AngelaB,Room,Room Service,NaN,NaN,7.80,54.14,"PKMMSABBI150898, Room: 600",2022-04-02,08:25
32,31,132000.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Breakfast,NaN,NaN,0.00,11.66,"REYNOLDS,150964, Room: 729",2022-04-02,07:32
33,9744,132004.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,1.00,3.92,"POTTER, L150015, Room: 527",2022-04-02,07:34
34,612,132006.00,139.00,AngelaB,139.00,AngelaB,Room,Room Service,NaN,NaN,0.00,34.98,"CHAMBERLA151039, Room: 612",2022-04-02,08:35
35,R10,132009.00,139.00,AngelaB,139.00,AngelaB,Room,Time Range 2-Manager,NaN,NaN,12.00,70.30,"FERGUSON,150013, Room: 1212",2022-04-02,09:38
36,36,132010.00,494.00,"Smith, A",494.00,"Smith, A",Room,DR-Breakfast,NaN,NaN,6.00,35.68,"MEDIO, ST149435, Room: 1017",2022-04-02,08:29
37,1210,132021.00,139.00,AngelaB,139.00,AngelaB,Room,Room Service,NaN,NaN,0.00,28.32,"FERGUSON,150011, Room: 1210",2022-04-02,09:40
38,25,132023.00,494.00,"Smith, A",494.00,"Smith, A",Room,DR-Breakfast,NaN,NaN,8.00,48.88,"FERGUSON,150916, Room: 1105",2022-04-02,08:37
39,13,132026.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Breakfast,NaN,NaN,5.00,29.38,"BAXTER, R150592, Room: 727",2022-04-02,08:49
40,9759,132027.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,1.00,8.69,"KOHLER, A150867, Room: 921",2022-04-02,08:07
41,717,132039.00,137.00,JohnsonA,139.00,AngelaB,Room,Room Service,NaN,NaN,8.20,56.66,"DAVIS, ZA150993, Room: 717",2022-04-02,08:59
42,9769,132040.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,1.00,4.56,"HOLLINGTO150708, Room: 1026",2022-04-02,08:24
43,9770,132041.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,1.00,6.62,"ADAMS, MI151033, Room: 319",2022-04-02,08:27
44,9771,132044.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,2.00,13.45,"BENJAMIN,150732, Room: 603",2022-04-02,08:29
45,11,132056.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Breakfast,NaN,NaN,6.00,43.10,"WOHLBERG,150966, Room: 416",2022-04-02,09:33
46,12,132057.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Breakfast,NaN,NaN,7.00,60.00,"LANCELOT,150673, Room: 526",2022-04-02,10:32
47,9788,132063.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,0.00,10.98,"GALIANO-H150603, Room: 315",2022-04-02,09:17
48,22,132067.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Breakfast,NaN,NaN,7.00,60.00,"BALL, KAT151017, Room: 606",2022-04-02,10:05
49,34,132070.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Breakfast,NaN,NaN,6.00,35.68,"WHITE, ME150935, Room: 604",2022-04-02,10:03
50,21,132079.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Breakfast,NaN,NaN,5.00,26.20,"MOLINA, N150914, Room: 427",2022-04-02,10:46
51,9800,132080.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,1.00,5.40,"BODENHOLL150532, Room: 1116",2022-04-02,10:13
52,33,132081.00,494.00,"Smith, A",494.00,"Smith, A",Room,DR-Breakfast,NaN,NaN,0.00,53.00,"PROBEYAHN150704, Room: 529",2022-04-02,10:25
53,9801,132082.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,1.28,6.00,"WILHELM, 150842, Room: 706",2022-04-02,10:25
54,9807,132088.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,0.00,6.10,"GINSBURG,150596, Room: 1118",2022-04-02,10:37
55,11,132090.00,494.00,"Smith, A",494.00,"Smith, A",Room,DR-Breakfast,NaN,NaN,7.00,60.00,"BECERRA, 150677, Room: 1019",2022-04-02,10:54
56,21,132093.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Breakfast,NaN,NaN,0.00,6.36,"GINSBURG,150596, Room: 1118",2022-04-02,10:51
57,23,132097.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Lunch,NaN,NaN,14.50,200.00,"WILHELM, 150844, Room: 715",2022-04-02,11:01
58,9813,132100.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,0.00,2.12,"BODEN, DA150489, Room: 1221",2022-04-02,11:11
59,9828,132116.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,0.50,2.09,"BLACKWELL150703, Room: 507",2022-04-02,13:37
60,9831,132119.00,138.00,KJones,138.00,KJones,Room,Bar Lunch,NaN,NaN,18.40,67.92,"MURRAY, B150796, Room: 705",2022-04-02,15:44
61,9834,132122.00,373.00,Cardoni,373.00,Cardoni,Room,Bar HH,NaN,NaN,7.00,40.79,"DIMITRI, 151001, Room: 623",2022-04-02,17:39
62,9840,132126.00,373.00,Cardoni,373.00,Cardoni,Room,Bar,NaN,NaN,4.00,27.98,"CLINE, JO150994, Room: 601",2022-04-02,22:43
63,9841,132127.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,18.00,106.29,"KATZ, GAR151010, Room: 1202",2022-04-02,21:37
64,9846,132132.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,13.60,37.68,"LEFTWICH,151032, Room: 510",2022-04-02,21:34
65,9848,132133.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,3.00,17.84,"BODEN, JO150764, Room: 1122",2022-04-02,00:29
66,9857,132140.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,6.00,34.62,"DIMITRI, 151001, Room: 623",2022-04-02,21:36
67,9858,132141.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,218.40,743.72,"CORDAN, R150789, Room: 1127",2022-04-02,00:31
68,9859,132142.00,373.00,Cardoni,373.00,Cardoni,Room,Bar,NaN,NaN,0.00,69.76,"MURRAY, J150915, Room: 810",2022-04-02,22:40
69,9860,132143.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,10.80,41.24,"SANJUAN, 151042, Room: 503",2022-04-02,21:35
70,31,132149.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR,NaN,NaN,20.00,75.30,"WILHELM, 150844, Room: 715",2022-04-02,21:39
71,9870,132151.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,2.92,34.53,"CAPLAN, E150805, Room: 924",2022-04-02,00:30
72,9876,132155.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,14.80,71.74,"MARTIGNON150554, Room: 425",2022-04-02,21:34
73,22,132156.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR,NaN,NaN,5.00,26.20,"MATHIESON150901, Room: 1113",2022-04-02,21:42
74,9878,132158.00,373.00,Cardoni,373.00,Cardoni,Room,Bar,NaN,NaN,3.60,27.68,"SINCLAIR,151021, Room: 719",2022-04-02,21:49
75,9883,132162.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,3.00,14.99,"DOODY, KA150453, Room: 1200",2022-04-02,21:54
76,9884,132163.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,6.00,39.79,"WILHELM, 150844, Room: 715",2022-04-02,21:51
77,9899,132173.00,373.00,Cardoni,373.00,Cardoni,Room,Bar,NaN,NaN,3.00,46.60,"MEERHOLZ,151017, Room: ME",2022-04-02,23:08
78,R9911,132180.00,373.00,Cardoni,373.00,Cardoni,Room,Bar,NaN,NaN,20.00,41.80,"KILLENBER150569, Room: 906",2022-04-02,00:27
79,710,132194.00,497.00,Simon,497.00,Simon,Room,Room Service,NaN,NaN,3.00,23.90,"O'LEARY, 150785, Room: 710",2022-04-03,07:37
80,514,132195.00,497.00,Simon,497.00,Simon,Room,Room Service,NaN,NaN,15.80,104.54,"LYONS, RE151028, Room: 514",2022-04-03,07:35
81,31,132198.00,139.00,AngelaB,139.00,AngelaB,Room,Manager Lunch,NaN,NaN,0.00,34.88,"KNISKERN,151049, Room: 505",2022-04-03,08:23
82,9927,132200.00,122.00,Lane,122.00,Lane,Room,Starbucks,NaN,NaN,0.00,22.26,"MARTIGNON150554, Room: 425",2022-04-03,07:35
83,9929,132202.00,122.00,Lane,122.00,Lane,Room,Starbucks,NaN,NaN,0.00,6.36,"JAIN, VER151038, Room: 511",2022-04-03,08:00
84,23,132211.00,104.00,BrookeG,104.00,BrookeG,Room,DR-Breakfast,NaN,NaN,10.00,56.64,"WENIG, NO151015, Room: 725",2022-04-03,09:18
85,13,132212.00,104.00,BrookeG,104.00,BrookeG,Room,DR-Breakfast,NaN,NaN,0.00,53.00,"PROBEYAHN150704, Room: 529",2022-04-03,09:25
86,9939,132215.00,122.00,Lane,122.00,Lane,Room,Starbucks,NaN,NaN,0.00,12.19,"MEERHOLZ,151017, Room: 1005",2022-04-03,08:38
87,9944,132220.00,122.00,Lane,122.00,Lane,Room,Starbucks,NaN,NaN,1.00,4.56,"HOLLINGTO150708, Room: 1026",2022-04-03,08:47
88,9949,132225.00,122.00,Lane,122.00,Lane,Room,Starbucks,NaN,NaN,1.00,3.92,"LUIZA, JO150786, Room: 826",2022-04-03,09:01
89,23,132235.00,497.00,Simon,497.00,Simon,Room,DR-Breakfast,NaN,NaN,2.00,12.60,"BODEN, JO150764, Room: 1122",2022-04-03,10:35
90,21,132243.00,104.00,BrookeG,104.00,BrookeG,Room,DR-Breakfast,NaN,NaN,16.00,95.50,"GIAMPICCO150261, Room: 722",2022-04-03,10:08
91,22,132246.00,104.00,BrookeG,104.00,BrookeG,Room,DR-Breakfast,NaN,NaN,0.00,53.00,"HARTSFIEL151039, Room: 619",2022-04-03,10:22
92,612,132249.00,497.00,Simon,497.00,Simon,Room,Room Service,NaN,NaN,11.40,76.82,"CHAMBERLA151039, Room: 612",2022-04-03,10:49
93,9964,132250.00,122.00,Lane,122.00,Lane,Room,Starbucks,NaN,NaN,0.00,3.71,"BODEN, DA150489, Room: 1221",2022-04-03,10:21
94,21,132257.00,497.00,Simon,497.00,Simon,Room,DR-Breakfast,NaN,NaN,30.50,216.00,"WILHELM, 150844, Room: 715",2022-04-03,10:40
95,1033,132288.00,127.00,Brown,127.00,Brown,Room,Bar HH,NaN,NaN,3.00,18.26,"CAPLAN, E150805, Room: 924",2022-04-03,17:14
96,1046,132296.00,127.00,Brown,127.00,Brown,Room,Bar HH,NaN,NaN,5.00,35.52,"TILFORD, 150244, Room: 310",2022-04-03,18:28
97,1050,132299.00,127.00,Brown,127.00,Brown,Room,Bar HH,NaN,NaN,19.40,68.92,"HODGSON, 150817, Room: 524",2022-04-03,18:52
98,1053,132302.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,8.00,45.76,"VISNICK, 151034, Room: 1102",2022-04-03,20:04
99,1054,132303.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,4.80,35.24,"BURNS, TH150968, Room: 803",2022-04-03,20:01
100,1055,132304.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,3.00,17.84,"PEREIRA, 151016, Room: 508",2022-04-03,20:01
101,1056,132305.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,6.00,38.70,"CAPLAN, E150805, Room: 924",2022-04-03,20:00
102,1057,132306.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,5.00,19.84,"SELF, KAT150999, Room: 520",2022-04-03,20:30
103,1058,132307.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,5.00,25.14,"MOLINA, N150914, Room: 427",2022-04-03,20:40
104,1065,132312.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,2.00,9.63,"LUIZA, JO150786, Room: 826",2022-04-03,22:31
105,1066,132313.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,5.04,53.00,"ALUNNOFEG150993, Room: 502",2022-04-03,22:20
106,1067,132314.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,4.02,28.00,"CLINE, JO150994, Room: 601",2022-04-03,22:49
107,22,132323.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Breakfast,NaN,NaN,4.00,27.32,"HAWKINS, 150995, Room: 426",2022-04-04,07:17
108,1076,132324.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,2.00,5.13,"BURNS, TH150968, Room: 803",2022-04-04,07:17
109,1077,132325.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,0.00,6.63,"MURPHY, L150894, Room: 611",2022-04-04,07:19
110,36,132338.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Breakfast,NaN,NaN,20.00,45.44,"MUSCARIJR150902, Room: 407",2022-04-04,08:26
111,12,132344.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Breakfast,NaN,NaN,4.00,23.08,"CROSSLEY,150427, Room: 510",2022-04-04,09:12
112,31,132353.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Breakfast,NaN,NaN,6.00,48.40,"O'LEARY, 150785, Room: 710",2022-04-04,09:30
113,1132,132358.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,0.00,6.05,"MCDANIEL,151052, Room: 318",2022-04-04,09:21
114,33,132361.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Breakfast,NaN,NaN,6.20,38.00,"HODGSON, 150817, Room: 524",2022-04-04,10:12
115,1144,132375.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,1.00,4.03,"LUIZA, JO150786, Room: 826",2022-04-04,11:06
116,1148,132380.00,127.00,Brown,127.00,Brown,Room,Bar HH,NaN,NaN,2.60,15.68,"CAPLAN, E150805, Room: 924",2022-04-04,17:27
117,1157,132386.00,127.00,Brown,127.00,Brown,Room,Bar HH,NaN,NaN,0.00,18.53,"CHRISTANT150972, Room: 1223",2022-04-04,18:59
118,1160,132388.00,127.00,Brown,127.00,Brown,Room,Bar HH,NaN,NaN,16.40,55.32,"WILKS, CH151054, Room: 314",2022-04-04,18:58
119,1165,132391.00,127.00,Brown,127.00,Brown,Room,Bar HH,NaN,NaN,5.00,31.50,"YEAGER, L150984, Room: 706",2022-04-04,18:38
120,1168,132394.00,127.00,Brown,127.00,Brown,Room,Bar HH,NaN,NaN,2.00,7.45,"LARSON, B151004, Room: 827",2022-04-04,18:59
121,1169,132395.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,6.80,26.64,"IZETA, PA150980, Room: 1219",2022-04-04,22:35
122,1170,132396.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,7.80,27.64,"HENDRIX, 150967, Room: 1211",2022-04-04,22:19
123,1171,132397.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,6.80,26.64,"KOCH, ADA150844, Room: 619",2022-04-04,22:22
124,1173,132399.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,4.00,20.96,"DELLAMONI150965, Room: 526",2022-04-04,22:38
125,1174,132400.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,5.00,31.16,"CAPLAN, E150805, Room: 924",2022-04-04,22:19
126,1176,132402.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,10.00,41.50,"STEUER, M151064, Room: 629",2022-04-04,22:18
127,1186,132409.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,5.00,25.14,"MOLINA, N150914, Room: 427",2022-04-04,22:17
128,1187,132410.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,3.60,16.68,"CAPLAN, E150805, Room: 924",2022-04-04,22:04
129,1194,132416.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,6.40,45.32,"YOUNG, DA151058, Room: 1015",2022-04-04,22:03
130,1195,132417.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,5.04,53.00,"ALUNNOFEG150993, Room: 502",2022-04-04,22:16
131,13,132422.00,494.00,"Smith, A",494.00,"Smith, A",Room,DR-Breakfast,NaN,NaN,8.00,54.64,"HUBER, MA151058, Room: 317",2022-04-05,09:00
132,1233,132425.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,0.00,2.97,"BALASUBRA150979, Room: 1115",2022-04-05,07:02
133,1235,132427.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,1.00,11.87,"LARSON, B151004, Room: 827",2022-04-05,07:08
134,1241,132433.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,0.00,7.69,"MURPHY, L150894, Room: 611",2022-04-05,07:19
135,12,132434.00,494.00,"Smith, A",494.00,"Smith, A",Room,DR-Breakfast,NaN,NaN,3.00,17.84,"CROSSLEY,150427, Room: 510",2022-04-05,09:02
136,31,132454.00,494.00,"Smith, A",494.00,"Smith, A",Room,DR-Breakfast,NaN,NaN,8.50,50.90,"HODGSON, 150817, Room: 524",2022-04-05,08:59
137,11,132457.00,494.00,"Smith, A",494.00,"Smith, A",Room,DR-Breakfast,NaN,NaN,5.00,26.20,"SELF, KAT150999, Room: 520",2022-04-05,09:11
138,1262,132458.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,0.00,4.93,"MOLINA, N150914, Room: 427",2022-04-05,08:34
139,1267,132463.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,0.50,4.06,"SCHOENRIC151028, Room: 605",2022-04-05,09:14
140,22,132465.00,494.00,"Smith, A",494.00,"Smith, A",Room,DR-Breakfast,NaN,NaN,3.00,22.08,"VORSTER, 150616, Room: 907",2022-04-05,10:09
141,527,132468.00,494.00,"Smith, A",494.00,"Smith, A",Room,Room Service,NaN,NaN,5.60,40.28,"ENCISO, A150970, Room: 527",2022-04-05,10:10
142,1278,132476.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,0.00,16.22,"WILKS, CH151054, Room: 314",2022-04-05,10:58
143,1283,132482.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,2.00,14.72,"BAVIS, JI150971, Room: 1200",2022-04-05,13:04
144,1285,132484.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,0.00,6.36,"HENDRIX, 150967, Room: 1211",2022-04-05,13:59
145,1286,132485.00,127.00,Brown,127.00,Brown,Room,Bar HH,NaN,NaN,6.40,45.32,"LYONS, RE151028, Room: 514",2022-04-05,17:20
146,1288,132487.00,127.00,Brown,127.00,Brown,Room,Bar HH,NaN,NaN,2.00,15.08,"FRANCO, M151081, Room: 410",2022-04-05,17:19
147,1293,132491.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,10.00,45.55,"KLINE, MY150658, Room: 1010",2022-04-05,19:47
148,1297,132495.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,7.80,27.64,"SHERIDAN,150937, Room: 500",2022-04-05,19:21
149,1298,132496.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,20.00,131.86,"GRIFFIN, 151076, Room: 1103",2022-04-05,22:54
150,1301,132499.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,9.20,36.46,"STEUER, M151064, Room: 629",2022-04-05,22:56
151,1305,132502.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,6.00,29.56,"BOSTON, W151062, Room: 1120",2022-04-05,22:58
152,1309,132506.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,2.00,9.63,"ASH, STEF150835, Room: 729",2022-04-05,22:55
153,1318,132512.00,140.00,BrownMil,140.00,BrownMil,Room,Bar,NaN,NaN,6.37,14.00,"PATEL, SE151081, Room: 316",2022-04-05,20:57
154,1319,132513.00,140.00,BrownMil,140.00,BrownMil,Room,Bar,NaN,NaN,2.37,10.00,"BOSTON, W151062, Room: 1120",2022-04-05,20:58
155,1321,132515.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,0.00,27.25,"HOWELL, M150930, Room: 503",2022-04-05,23:18
156,1324,132518.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,10.00,44.88,"GRIFFITHS151076, Room: 529",2022-04-05,22:57
157,1342,132529.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,2.00,15.08,"FRANCO, M151081, Room: 410",2022-04-05,22:50
158,1344,132531.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,9.00,52.60,"JENKINS, 150615, Room: 1127",2022-04-05,22:52

In [42]:
## Dropping total rows at end of report
ra_rc_df = ra_rc_df[:-3]
ra_rc_df

,Table #,Check #,Server #,Server Name,Cashier #,Cashier Name,MoP,Profit Center,Blank1,Blank2,Tip,Total Receipt,Guest Name/Room,Date,Time
0,31,131864.00,139.00,AngelaB,139.00,AngelaB,Room,Manager Lunch,NaN,NaN,0.00,4.24,"TINTER, R150641, Room: 918",2022-04-01,07:03
1,9623,131865.00,122.00,Lane,122.00,Lane,Room,Starbucks,NaN,NaN,1.00,4.18,"PHELAN, T149941, Room: 326",2022-04-01,07:08
2,9628,131872.00,122.00,Lane,122.00,Lane,Room,Starbucks,NaN,NaN,1.00,6.04,"POTTER, L150015, Room: 527",2022-04-01,07:33
3,427,131874.00,139.00,AngelaB,139.00,AngelaB,Room,Manager Lunch,NaN,NaN,5.00,23.78,"MOLINA, N150914, Room: 427",2022-04-01,11:44
4,9631,131877.00,122.00,Lane,122.00,Lane,Room,Starbucks,NaN,NaN,0.00,6.26,"SONG, SUH150840, Room: 818",2022-04-01,07:44
5,32,131885.00,139.00,AngelaB,139.00,AngelaB,Room,Manager Lunch,NaN,NaN,19.08,131.44,"REYNOLDS,150964, Room: 729",2022-04-01,11:59
6,17,131887.00,139.00,AngelaB,139.00,AngelaB,Room,Manager Lunch,NaN,NaN,3.00,29.50,"YAZAMI, R150945, Room: 1111",2022-04-01,11:54
7,23,131890.00,139.00,AngelaB,139.00,AngelaB,Room,Manager Lunch,NaN,NaN,5.00,27.26,"KORNSTEDT150842, Room: 614",2022-04-01,11:42
8,9648,131899.00,122.00,Lane,122.00,Lane,Room,Starbucks,NaN,NaN,1.00,4.56,"RICHARDS,149940, Room: 327",2022-04-01,08:38
9,20,131902.00,139.00,AngelaB,139.00,AngelaB,Room,Manager Lunch,NaN,NaN,0.00,27.56,"BAXTER, R150592, Room: 727",2022-04-01,11:34
10,27,131904.00,139.00,AngelaB,139.00,AngelaB,Room,Manager Lunch,NaN,NaN,6.00,29.32,"ZASLER, C150303, Room: 1224",2022-04-01,11:37
11,56,131905.00,139.00,AngelaB,139.00,AngelaB,Room,Manager Lunch,NaN,NaN,5.00,31.50,"VANGUNDY,150930, Room: 822",2022-04-01,11:40
12,9657,131913.00,122.00,Lane,122.00,Lane,Room,Starbucks,NaN,NaN,2.23,7.00,"GALIANO-H150603, Room: 315",2022-04-01,09:16
13,59,131932.00,139.00,AngelaB,139.00,AngelaB,Room,Manager Lunch,NaN,NaN,27.50,160.00,"WILHELM, 150842, Room: 706",2022-04-01,11:33
14,9674,131934.00,122.00,Lane,122.00,Lane,Room,Starbucks,NaN,NaN,0.00,5.83,"BODEN, DA150511, Room: 1220",2022-04-01,11:33
15,9687,131948.00,373.00,Cardoni,373.00,Cardoni,Room,Bar HH,NaN,NaN,15.00,62.48,"OSLEY, PH150881, Room: 919",2022-04-01,17:12
16,9689,131950.00,373.00,Cardoni,373.00,Cardoni,Room,Bar HH,NaN,NaN,27.00,172.08,"BODEN, DA150489, Room: 1221",2022-04-01,18:28
17,9692,131953.00,79.00,Kiarra,79.00,Kiarra,Room,Bar,NaN,NaN,10.00,59.60,"BOSWELL, 150937, Room: 411",2022-04-01,20:38
18,9693,131954.00,373.00,Cardoni,373.00,Cardoni,Room,Bar HH,NaN,NaN,15.00,86.94,"BODEN, JO150764, Room: 1122",2022-04-01,18:20
19,9694,131955.00,79.00,Kiarra,79.00,Kiarra,Room,Bar,NaN,NaN,15.40,49.02,"MALENAB, 150470, Room: 1024",2022-04-01,20:39
20,12,131959.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR,NaN,NaN,5.00,25.14,"MOLINA, N150914, Room: 427",2022-04-01,20:02
21,9698,131960.00,79.00,Kiarra,79.00,Kiarra,Room,Bar,NaN,NaN,8.00,55.40,"SINCLAIR,151021, Room: 719",2022-04-01,20:37
22,9701,131963.00,137.00,JohnsonA,139.00,AngelaB,Room,Time Range 2-Manager,NaN,NaN,5.60,40.28,"GAINEY, R148234, Room: 1205",2022-04-01,21:52
23,9706,131967.00,79.00,Kiarra,79.00,Kiarra,Room,Bar,NaN,NaN,2.00,10.48,"SCHNAPP, 150934, Room: 508",2022-04-01,22:37
24,9707,131968.00,373.00,Cardoni,373.00,Cardoni,Room,Bar,NaN,NaN,4.00,20.96,"ISAACSON,150964, Room: 1110",2022-04-01,21:36
25,9710,131970.00,79.00,Kiarra,79.00,Kiarra,Room,Bar,NaN,NaN,5.00,23.53,"CLINE, JO150994, Room: 601",2022-04-01,22:38
26,9712,131971.00,373.00,Cardoni,373.00,Cardoni,Room,Bar,NaN,NaN,20.00,117.01,"CAPLAN, E150805, Room: 924",2022-04-01,22:29
27,9717,131975.00,79.00,Kiarra,79.00,Kiarra,Room,Bar,NaN,NaN,10.00,40.52,"BOSWELL, 150937, Room: 411",2022-04-01,22:50
28,9721,131977.00,373.00,Cardoni,373.00,Cardoni,Room,Bar,NaN,NaN,2.00,11.81,"STAUNTON,150858, Room: 414",2022-04-01,23:27
29,13,131989.00,494.00,"Smith, A",494.00,"Smith, A",Room,DR-Breakfast,NaN,NaN,7.00,41.98,"HAMILTON,150744, Room: 1111",2022-04-02,07:45
30,31,131996.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Breakfast,NaN,NaN,0.00,132.50,"REYNOLDS,150964, Room: 729",2022-04-02,07:25
31,600,131998.00,137.00,JohnsonA,139.00,AngelaB,Room,Room Service,NaN,NaN,7.80,54.14,"PKMMSABBI150898, Room: 600",2022-04-02,08:25
32,31,132000.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Breakfast,NaN,NaN,0.00,11.66,"REYNOLDS,150964, Room: 729",2022-04-02,07:32
33,9744,132004.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,1.00,3.92,"POTTER, L150015, Room: 527",2022-04-02,07:34
34,612,132006.00,139.00,AngelaB,139.00,AngelaB,Room,Room Service,NaN,NaN,0.00,34.98,"CHAMBERLA151039, Room: 612",2022-04-02,08:35
35,R10,132009.00,139.00,AngelaB,139.00,AngelaB,Room,Time Range 2-Manager,NaN,NaN,12.00,70.30,"FERGUSON,150013, Room: 1212",2022-04-02,09:38
36,36,132010.00,494.00,"Smith, A",494.00,"Smith, A",Room,DR-Breakfast,NaN,NaN,6.00,35.68,"MEDIO, ST149435, Room: 1017",2022-04-02,08:29
37,1210,132021.00,139.00,AngelaB,139.00,AngelaB,Room,Room Service,NaN,NaN,0.00,28.32,"FERGUSON,150011, Room: 1210",2022-04-02,09:40
38,25,132023.00,494.00,"Smith, A",494.00,"Smith, A",Room,DR-Breakfast,NaN,NaN,8.00,48.88,"FERGUSON,150916, Room: 1105",2022-04-02,08:37
39,13,132026.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Breakfast,NaN,NaN,5.00,29.38,"BAXTER, R150592, Room: 727",2022-04-02,08:49
40,9759,132027.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,1.00,8.69,"KOHLER, A150867, Room: 921",2022-04-02,08:07
41,717,132039.00,137.00,JohnsonA,139.00,AngelaB,Room,Room Service,NaN,NaN,8.20,56.66,"DAVIS, ZA150993, Room: 717",2022-04-02,08:59
42,9769,132040.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,1.00,4.56,"HOLLINGTO150708, Room: 1026",2022-04-02,08:24
43,9770,132041.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,1.00,6.62,"ADAMS, MI151033, Room: 319",2022-04-02,08:27
44,9771,132044.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,2.00,13.45,"BENJAMIN,150732, Room: 603",2022-04-02,08:29
45,11,132056.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Breakfast,NaN,NaN,6.00,43.10,"WOHLBERG,150966, Room: 416",2022-04-02,09:33
46,12,132057.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Breakfast,NaN,NaN,7.00,60.00,"LANCELOT,150673, Room: 526",2022-04-02,10:32
47,9788,132063.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,0.00,10.98,"GALIANO-H150603, Room: 315",2022-04-02,09:17
48,22,132067.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Breakfast,NaN,NaN,7.00,60.00,"BALL, KAT151017, Room: 606",2022-04-02,10:05
49,34,132070.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Breakfast,NaN,NaN,6.00,35.68,"WHITE, ME150935, Room: 604",2022-04-02,10:03
50,21,132079.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Breakfast,NaN,NaN,5.00,26.20,"MOLINA, N150914, Room: 427",2022-04-02,10:46
51,9800,132080.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,1.00,5.40,"BODENHOLL150532, Room: 1116",2022-04-02,10:13
52,33,132081.00,494.00,"Smith, A",494.00,"Smith, A",Room,DR-Breakfast,NaN,NaN,0.00,53.00,"PROBEYAHN150704, Room: 529",2022-04-02,10:25
53,9801,132082.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,1.28,6.00,"WILHELM, 150842, Room: 706",2022-04-02,10:25
54,9807,132088.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,0.00,6.10,"GINSBURG,150596, Room: 1118",2022-04-02,10:37
55,11,132090.00,494.00,"Smith, A",494.00,"Smith, A",Room,DR-Breakfast,NaN,NaN,7.00,60.00,"BECERRA, 150677, Room: 1019",2022-04-02,10:54
56,21,132093.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Breakfast,NaN,NaN,0.00,6.36,"GINSBURG,150596, Room: 1118",2022-04-02,10:51
57,23,132097.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Lunch,NaN,NaN,14.50,200.00,"WILHELM, 150844, Room: 715",2022-04-02,11:01
58,9813,132100.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,0.00,2.12,"BODEN, DA150489, Room: 1221",2022-04-02,11:11
59,9828,132116.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,0.50,2.09,"BLACKWELL150703, Room: 507",2022-04-02,13:37
60,9831,132119.00,138.00,KJones,138.00,KJones,Room,Bar Lunch,NaN,NaN,18.40,67.92,"MURRAY, B150796, Room: 705",2022-04-02,15:44
61,9834,132122.00,373.00,Cardoni,373.00,Cardoni,Room,Bar HH,NaN,NaN,7.00,40.79,"DIMITRI, 151001, Room: 623",2022-04-02,17:39
62,9840,132126.00,373.00,Cardoni,373.00,Cardoni,Room,Bar,NaN,NaN,4.00,27.98,"CLINE, JO150994, Room: 601",2022-04-02,22:43
63,9841,132127.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,18.00,106.29,"KATZ, GAR151010, Room: 1202",2022-04-02,21:37
64,9846,132132.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,13.60,37.68,"LEFTWICH,151032, Room: 510",2022-04-02,21:34
65,9848,132133.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,3.00,17.84,"BODEN, JO150764, Room: 1122",2022-04-02,00:29
66,9857,132140.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,6.00,34.62,"DIMITRI, 151001, Room: 623",2022-04-02,21:36
67,9858,132141.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,218.40,743.72,"CORDAN, R150789, Room: 1127",2022-04-02,00:31
68,9859,132142.00,373.00,Cardoni,373.00,Cardoni,Room,Bar,NaN,NaN,0.00,69.76,"MURRAY, J150915, Room: 810",2022-04-02,22:40
69,9860,132143.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,10.80,41.24,"SANJUAN, 151042, Room: 503",2022-04-02,21:35
70,31,132149.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR,NaN,NaN,20.00,75.30,"WILHELM, 150844, Room: 715",2022-04-02,21:39
71,9870,132151.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,2.92,34.53,"CAPLAN, E150805, Room: 924",2022-04-02,00:30
72,9876,132155.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,14.80,71.74,"MARTIGNON150554, Room: 425",2022-04-02,21:34
73,22,132156.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR,NaN,NaN,5.00,26.20,"MATHIESON150901, Room: 1113",2022-04-02,21:42
74,9878,132158.00,373.00,Cardoni,373.00,Cardoni,Room,Bar,NaN,NaN,3.60,27.68,"SINCLAIR,151021, Room: 719",2022-04-02,21:49
75,9883,132162.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,3.00,14.99,"DOODY, KA150453, Room: 1200",2022-04-02,21:54
76,9884,132163.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,6.00,39.79,"WILHELM, 150844, Room: 715",2022-04-02,21:51
77,9899,132173.00,373.00,Cardoni,373.00,Cardoni,Room,Bar,NaN,NaN,3.00,46.60,"MEERHOLZ,151017, Room: ME",2022-04-02,23:08
78,R9911,132180.00,373.00,Cardoni,373.00,Cardoni,Room,Bar,NaN,NaN,20.00,41.80,"KILLENBER150569, Room: 906",2022-04-02,00:27
79,710,132194.00,497.00,Simon,497.00,Simon,Room,Room Service,NaN,NaN,3.00,23.90,"O'LEARY, 150785, Room: 710",2022-04-03,07:37
80,514,132195.00,497.00,Simon,497.00,Simon,Room,Room Service,NaN,NaN,15.80,104.54,"LYONS, RE151028, Room: 514",2022-04-03,07:35
81,31,132198.00,139.00,AngelaB,139.00,AngelaB,Room,Manager Lunch,NaN,NaN,0.00,34.88,"KNISKERN,151049, Room: 505",2022-04-03,08:23
82,9927,132200.00,122.00,Lane,122.00,Lane,Room,Starbucks,NaN,NaN,0.00,22.26,"MARTIGNON150554, Room: 425",2022-04-03,07:35
83,9929,132202.00,122.00,Lane,122.00,Lane,Room,Starbucks,NaN,NaN,0.00,6.36,"JAIN, VER151038, Room: 511",2022-04-03,08:00
84,23,132211.00,104.00,BrookeG,104.00,BrookeG,Room,DR-Breakfast,NaN,NaN,10.00,56.64,"WENIG, NO151015, Room: 725",2022-04-03,09:18
85,13,132212.00,104.00,BrookeG,104.00,BrookeG,Room,DR-Breakfast,NaN,NaN,0.00,53.00,"PROBEYAHN150704, Room: 529",2022-04-03,09:25
86,9939,132215.00,122.00,Lane,122.00,Lane,Room,Starbucks,NaN,NaN,0.00,12.19,"MEERHOLZ,151017, Room: 1005",2022-04-03,08:38
87,9944,132220.00,122.00,Lane,122.00,Lane,Room,Starbucks,NaN,NaN,1.00,4.56,"HOLLINGTO150708, Room: 1026",2022-04-03,08:47
88,9949,132225.00,122.00,Lane,122.00,Lane,Room,Starbucks,NaN,NaN,1.00,3.92,"LUIZA, JO150786, Room: 826",2022-04-03,09:01
89,23,132235.00,497.00,Simon,497.00,Simon,Room,DR-Breakfast,NaN,NaN,2.00,12.60,"BODEN, JO150764, Room: 1122",2022-04-03,10:35
90,21,132243.00,104.00,BrookeG,104.00,BrookeG,Room,DR-Breakfast,NaN,NaN,16.00,95.50,"GIAMPICCO150261, Room: 722",2022-04-03,10:08
91,22,132246.00,104.00,BrookeG,104.00,BrookeG,Room,DR-Breakfast,NaN,NaN,0.00,53.00,"HARTSFIEL151039, Room: 619",2022-04-03,10:22
92,612,132249.00,497.00,Simon,497.00,Simon,Room,Room Service,NaN,NaN,11.40,76.82,"CHAMBERLA151039, Room: 612",2022-04-03,10:49
93,9964,132250.00,122.00,Lane,122.00,Lane,Room,Starbucks,NaN,NaN,0.00,3.71,"BODEN, DA150489, Room: 1221",2022-04-03,10:21
94,21,132257.00,497.00,Simon,497.00,Simon,Room,DR-Breakfast,NaN,NaN,30.50,216.00,"WILHELM, 150844, Room: 715",2022-04-03,10:40
95,1033,132288.00,127.00,Brown,127.00,Brown,Room,Bar HH,NaN,NaN,3.00,18.26,"CAPLAN, E150805, Room: 924",2022-04-03,17:14
96,1046,132296.00,127.00,Brown,127.00,Brown,Room,Bar HH,NaN,NaN,5.00,35.52,"TILFORD, 150244, Room: 310",2022-04-03,18:28
97,1050,132299.00,127.00,Brown,127.00,Brown,Room,Bar HH,NaN,NaN,19.40,68.92,"HODGSON, 150817, Room: 524",2022-04-03,18:52
98,1053,132302.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,8.00,45.76,"VISNICK, 151034, Room: 1102",2022-04-03,20:04
99,1054,132303.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,4.80,35.24,"BURNS, TH150968, Room: 803",2022-04-03,20:01
100,1055,132304.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,3.00,17.84,"PEREIRA, 151016, Room: 508",2022-04-03,20:01
101,1056,132305.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,6.00,38.70,"CAPLAN, E150805, Room: 924",2022-04-03,20:00
102,1057,132306.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,5.00,19.84,"SELF, KAT150999, Room: 520",2022-04-03,20:30
103,1058,132307.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,5.00,25.14,"MOLINA, N150914, Room: 427",2022-04-03,20:40
104,1065,132312.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,2.00,9.63,"LUIZA, JO150786, Room: 826",2022-04-03,22:31
105,1066,132313.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,5.04,53.00,"ALUNNOFEG150993, Room: 502",2022-04-03,22:20
106,1067,132314.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,4.02,28.00,"CLINE, JO150994, Room: 601",2022-04-03,22:49
107,22,132323.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Breakfast,NaN,NaN,4.00,27.32,"HAWKINS, 150995, Room: 426",2022-04-04,07:17
108,1076,132324.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,2.00,5.13,"BURNS, TH150968, Room: 803",2022-04-04,07:17
109,1077,132325.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,0.00,6.63,"MURPHY, L150894, Room: 611",2022-04-04,07:19
110,36,132338.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Breakfast,NaN,NaN,20.00,45.44,"MUSCARIJR150902, Room: 407",2022-04-04,08:26
111,12,132344.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Breakfast,NaN,NaN,4.00,23.08,"CROSSLEY,150427, Room: 510",2022-04-04,09:12
112,31,132353.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Breakfast,NaN,NaN,6.00,48.40,"O'LEARY, 150785, Room: 710",2022-04-04,09:30
113,1132,132358.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,0.00,6.05,"MCDANIEL,151052, Room: 318",2022-04-04,09:21
114,33,132361.00,137.00,JohnsonA,137.00,JohnsonA,Room,DR-Breakfast,NaN,NaN,6.20,38.00,"HODGSON, 150817, Room: 524",2022-04-04,10:12
115,1144,132375.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,1.00,4.03,"LUIZA, JO150786, Room: 826",2022-04-04,11:06
116,1148,132380.00,127.00,Brown,127.00,Brown,Room,Bar HH,NaN,NaN,2.60,15.68,"CAPLAN, E150805, Room: 924",2022-04-04,17:27
117,1157,132386.00,127.00,Brown,127.00,Brown,Room,Bar HH,NaN,NaN,0.00,18.53,"CHRISTANT150972, Room: 1223",2022-04-04,18:59
118,1160,132388.00,127.00,Brown,127.00,Brown,Room,Bar HH,NaN,NaN,16.40,55.32,"WILKS, CH151054, Room: 314",2022-04-04,18:58
119,1165,132391.00,127.00,Brown,127.00,Brown,Room,Bar HH,NaN,NaN,5.00,31.50,"YEAGER, L150984, Room: 706",2022-04-04,18:38
120,1168,132394.00,127.00,Brown,127.00,Brown,Room,Bar HH,NaN,NaN,2.00,7.45,"LARSON, B151004, Room: 827",2022-04-04,18:59
121,1169,132395.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,6.80,26.64,"IZETA, PA150980, Room: 1219",2022-04-04,22:35
122,1170,132396.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,7.80,27.64,"HENDRIX, 150967, Room: 1211",2022-04-04,22:19
123,1171,132397.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,6.80,26.64,"KOCH, ADA150844, Room: 619",2022-04-04,22:22
124,1173,132399.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,4.00,20.96,"DELLAMONI150965, Room: 526",2022-04-04,22:38
125,1174,132400.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,5.00,31.16,"CAPLAN, E150805, Room: 924",2022-04-04,22:19
126,1176,132402.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,10.00,41.50,"STEUER, M151064, Room: 629",2022-04-04,22:18
127,1186,132409.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,5.00,25.14,"MOLINA, N150914, Room: 427",2022-04-04,22:17
128,1187,132410.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,3.60,16.68,"CAPLAN, E150805, Room: 924",2022-04-04,22:04
129,1194,132416.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,6.40,45.32,"YOUNG, DA151058, Room: 1015",2022-04-04,22:03
130,1195,132417.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,5.04,53.00,"ALUNNOFEG150993, Room: 502",2022-04-04,22:16
131,13,132422.00,494.00,"Smith, A",494.00,"Smith, A",Room,DR-Breakfast,NaN,NaN,8.00,54.64,"HUBER, MA151058, Room: 317",2022-04-05,09:00
132,1233,132425.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,0.00,2.97,"BALASUBRA150979, Room: 1115",2022-04-05,07:02
133,1235,132427.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,1.00,11.87,"LARSON, B151004, Room: 827",2022-04-05,07:08
134,1241,132433.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,0.00,7.69,"MURPHY, L150894, Room: 611",2022-04-05,07:19
135,12,132434.00,494.00,"Smith, A",494.00,"Smith, A",Room,DR-Breakfast,NaN,NaN,3.00,17.84,"CROSSLEY,150427, Room: 510",2022-04-05,09:02
136,31,132454.00,494.00,"Smith, A",494.00,"Smith, A",Room,DR-Breakfast,NaN,NaN,8.50,50.90,"HODGSON, 150817, Room: 524",2022-04-05,08:59
137,11,132457.00,494.00,"Smith, A",494.00,"Smith, A",Room,DR-Breakfast,NaN,NaN,5.00,26.20,"SELF, KAT150999, Room: 520",2022-04-05,09:11
138,1262,132458.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,0.00,4.93,"MOLINA, N150914, Room: 427",2022-04-05,08:34
139,1267,132463.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,0.50,4.06,"SCHOENRIC151028, Room: 605",2022-04-05,09:14
140,22,132465.00,494.00,"Smith, A",494.00,"Smith, A",Room,DR-Breakfast,NaN,NaN,3.00,22.08,"VORSTER, 150616, Room: 907",2022-04-05,10:09
141,527,132468.00,494.00,"Smith, A",494.00,"Smith, A",Room,Room Service,NaN,NaN,5.60,40.28,"ENCISO, A150970, Room: 527",2022-04-05,10:10
142,1278,132476.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,0.00,16.22,"WILKS, CH151054, Room: 314",2022-04-05,10:58
143,1283,132482.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,2.00,14.72,"BAVIS, JI150971, Room: 1200",2022-04-05,13:04
144,1285,132484.00,120.00,Eric,120.00,Eric,Room,Starbucks,NaN,NaN,0.00,6.36,"HENDRIX, 150967, Room: 1211",2022-04-05,13:59
145,1286,132485.00,127.00,Brown,127.00,Brown,Room,Bar HH,NaN,NaN,6.40,45.32,"LYONS, RE151028, Room: 514",2022-04-05,17:20
146,1288,132487.00,127.00,Brown,127.00,Brown,Room,Bar HH,NaN,NaN,2.00,15.08,"FRANCO, M151081, Room: 410",2022-04-05,17:19
147,1293,132491.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,10.00,45.55,"KLINE, MY150658, Room: 1010",2022-04-05,19:47
148,1297,132495.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,7.80,27.64,"SHERIDAN,150937, Room: 500",2022-04-05,19:21
149,1298,132496.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,20.00,131.86,"GRIFFIN, 151076, Room: 1103",2022-04-05,22:54
150,1301,132499.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,9.20,36.46,"STEUER, M151064, Room: 629",2022-04-05,22:56
151,1305,132502.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,6.00,29.56,"BOSTON, W151062, Room: 1120",2022-04-05,22:58
152,1309,132506.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,2.00,9.63,"ASH, STEF150835, Room: 729",2022-04-05,22:55
153,1318,132512.00,140.00,BrownMil,140.00,BrownMil,Room,Bar,NaN,NaN,6.37,14.00,"PATEL, SE151081, Room: 316",2022-04-05,20:57
154,1319,132513.00,140.00,BrownMil,140.00,BrownMil,Room,Bar,NaN,NaN,2.37,10.00,"BOSTON, W151062, Room: 1120",2022-04-05,20:58
155,1321,132515.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,0.00,27.25,"HOWELL, M150930, Room: 503",2022-04-05,23:18
156,1324,132518.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,10.00,44.88,"GRIFFITHS151076, Room: 529",2022-04-05,22:57
157,1342,132529.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,2.00,15.08,"FRANCO, M151081, Room: 410",2022-04-05,22:50
158,1344,132531.00,127.00,Brown,127.00,Brown,Room,Bar,NaN,NaN,9.00,52.60,"JENKINS, 150615, Room: 1127",2022-04-05,22:52

In [43]:
bool_idx = ra_rc_df.loc[:,'Guest Name/Room'].str.startswith(('A&G', 'Dup'))
bool_idx

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
30     False
31     False
32     False
33     False
34     False
35     False
36     False
37     False
38     False
39     False
40     False
41     False
42     False
43     False
44     False
45     False
46     False
47     False
48     False
49     False
50     False
51     False
52     False
53     False
54     False
55     False
56     False
57     False
58     False
59     False
60     False
61     False
62     False
63     False
64     False
65     False
66     False
67     False
68     False
69     False
70     False
71     False
72     False
73     False
74     False
75     False
76     False
77     False
78     False
79     False
80     False
81     False
82     False
83     False
84     False
85     False
86     False
87     False
88     False
89     False
90     False
91     False
92     False
93     False
94     False
95     False
96     False
97     False
98     False
99     False
100    False
101    False
102    False
103    False
104    False
105    False
106    False
107    False
108    False
109    False
110    False
111    False
112    False
113    False
114    False
115    False
116    False
117    False
118    False
119    False
120    False
121    False
122    False
123    False
124    False
125    False
126    False
127    False
128    False
129    False
130    False
131    False
132    False
133    False
134    False
135    False
136    False
137    False
138    False
139    False
140    False
141    False
142    False
143    False
144    False
145    False
146    False
147    False
148    False
149    False
150    False
151    False
152    False
153    False
154    False
155    False
156    False
157    False
158    False
159    False
160    False
161    False
162    False
163    False
164    False
165    False
166    False
167    False
168    False
169    False
170    False
171    False
172    False
173    False
174    False
175    False
176    False
177    False
178    False
179    False
180    False
181    False
182    False
183    False
184    False
185    False
186    False
187    False
188    False
189    False
190    False
191    False
192    False
193    False
194    False
195    False
196    False
197    False
198    False
199    False
200    False
201    False
202    False
203    False
204    False
205    False
206    False
207    False
208    False
209    False
210    False
211    False
212    False
213    False
214    False
215    False
216    False
217    False
218    False
219    False
220    False
221    False
222    False
223    False
224    False
225    False
226    False
227    False
228    False
229    False
230     True
231    False
232    False
233    False
234    False
235    False
236    False
237    False
238    False
239    False
240    False
241    False
242    False
243    False
244    False
245    False
246    False
247    False
248    False
249    False
250    False
251    False
252    False
253    False
254    False
255    False
256    False
257    False
258    False
259    False
260    False
261    False
262    False
263    False
264    False
265    False
266    False
267    False
268    False
269    False
270    False
271    False
272    False
273    False
274    False
275    False
276    False
277    False
278    False
279    False
280    False
281    False
282    False
283    False
284    False
285    False
286    False
287    False
288    False
289    False
290    False
291    False
292    False
293    False
294    False
295    False
296    False
297    False
298    False
299    False
300    False
301    False
302    False
303    False
304    False
305    False
306    False
307    False
308    False
309    False
310    False
311    False
312    False
313    False
314    False
315    False
316    False
317    False
318    False
319    False
320    False
321    False
322    False
323    False
324    False
325    False
326    False
327    False
328    False
329    False
330    False
331    False
332    False
333    False
334    False
335    False
336    False
337    False
338    False
339    False
340    False
341    False
342    False
343    False
344    False
345    False
346    False
347    False
348    False
349    False
350    False
351    False
352    False
353    False
354    False
355    False
356    False
357    False
358    False
359    False
360    False
361    False
362    False
363    False
364    False
365    False
366    False
367    False
368    False
369    False
370    False
371    False
372    False
373    False
374    False
375    False
376    False
377    False
378    False
379    False
380    False
381    False
382    False
383    False
384    False
385    False
386    False
387    False
388    False
389    False
390    False
391    False
392    False
393    False
394    False
395    False
396    False
397    False
398    False
399    False
400    False
401    False
402    False
403    False
404    False
405    False
406    False
407    False
408    False
409    False
410    False
411    False
412    False
413    False
414    False
415    False
416    False
417    False
418    False
419    False
420    False
421    False
422    False
423    False
424    False
425    False
426    False
427    False
428    False
429    False
430    False
431    False
432    False
433    False
434    False
435    False
436    False
437    False
438    False
439    False
440    False
441    False
442    False
443    False
444    False
445    False
446    False
447    False
448    False
449    False
450    False
451    False
452    False
453    False
454    False
455    False
456    False
457    False
458    False
459    False
460    False
461    False
462    False
463    False
464    False
465    False
466    False
467    False
468    False
469    False
470    False
471    False
472    False
473    False
474    False
475    False
476    False
477    False
478    False
479    False
480    False
481    False
482    False
483    False
484    False
485    False
486    False
487    False
488    False
489    False
490    False
491    False
492    False
493    False
494    False
Name: Guest Name/Room, dtype: bool

In [44]:
## Slicing out checks that meet the criteria
ra_rc_df[bool_idx]

,Table #,Check #,Server #,Server Name,Cashier #,Cashier Name,MoP,Profit Center,Blank1,Blank2,Tip,Total Receipt,Guest Name/Room,Date,Time
230,1682,132858.00,373.00,Cardoni,373.00,Cardoni,Room,Bar,NaN,NaN,4.00,27.98,"A&G1349268, Room: A&G",2022-04-08,22:03

In [45]:
chk_num = list(ra_rc_df[bool_idx]['Check #'].values)
chk_num

[132858.0]

## Using Python Logger

References:
* [Real Python](https://realpython.com/python-logging/)
* [Python Docs](https://docs.python.org/3/howto/logging.html#logging-basic-tutorial)

In [46]:
print(f'Review check numbers {chk_num} for duplicate check/direct A&G postings!')

Review check numbers [132858.0] for duplicate check/direct A&G postings!

In [47]:
if len(chk_num) >0:
    logger.warning(f'Review checks for possible errors: {chk_num}')

# Checkpoint - 4.19.22

---

**Current Status:**

* Read Digital Dining report data *only for Excel files*
    * AAB: read DBF files directly
    * AAB: review sales type for discounts, subtract from proper sales type
        * Currently subtracted from food generally
* Clean the data to generate summaries about food/bev/tax/gratuity amounts
    * MVP: confirm process works for all MOPs
* Log warnings about any "Duplicate Check" or direct A&G postings

---

**Next Steps:**

1. Test on most recent files
2. Artificially generate errors (then cancel before NA)
3. Condense into script to run on server
4. Test script
5. Schedule script to run daily

---

# Final Script

Two parts:

1. Run through workflow above using the overall summary data
2. Loop through a list of the usual MOPs and create a multi-indexed DataFrame containing the results for each outlet.

In [48]:
workflow(data_filepath ='./data/02_25_2022_mop_det_vimc.xls', summary_file_name = 'test_workflow_results.xlsx',
         receipts_filepath ='./data/april_2022_rc_receipts.xls', log_filepath = 'test_workflow_log.log',
        mop_name = 'vimc')

                         Food  Beverage   Tax  Gratuity
Payment Outlet
VIMC    Lobby Bar      478.00    612.00 83.76    191.58
        Rain 903       163.00      0.00  9.78     36.70
        In-Room Dining  29.00      0.00  1.44     11.80
        Coffee Corner  181.30      0.00 11.02     21.00

In [55]:
def workflow_loop(summary_file_name, receipts_filepath, log_filepath,
                 list_mops = ['ag', 'rc', 'ax', 'ca', 'di', 'vimc']):
    
    new_results = []
    for mop in list_mops:
        file_path = f'./data/02_25_2022_mop_det_{mop}.xls'
        summary_file_name = f'results_for_{mop}.xlsx'
        new_results.append(workflow(data_filepath = file_path, mop_name = mop,
                                    summary_file_name = summary_file_name,
                                    receipts_filepath = receipts_filepath,
                                    log_filepath = log_filepath))

    looped_results_df = pd.concat(new_results, axis = 0)

    return looped_results_df

In [56]:
new_loop(summary_file_name = 'test_workflow_results.xlsx',
              receipts_filepath ='./data/april_2022_rc_receipts.xls',
              log_filepath = 'test_workflow_log.log')

                         Food  Beverage   Tax  Gratuity
Payment Outlet
AG      Lobby Bar        0.00     25.00  2.25      4.00
        Rain 903        29.43      0.00  1.77      0.00
RC      Lobby Bar      182.00    262.00 34.50    107.40
        Rain 903        80.57      0.00  4.83     16.80
        In-Room Dining  53.00      0.00  2.28     15.60
        Coffee Corner   41.30      0.00  2.50      3.00
AX      Lobby Bar       14.00     55.00  5.79     17.00
        Coffee Corner    7.75      0.00  0.47      2.00
CA      Lobby Bar       38.00    184.00 18.84      0.00
        Rain 903         0.00      0.00  0.00      0.00
        Coffee Corner   33.55      0.00  2.05      0.00
DI      Lobby Bar       30.00     77.00  8.73     19.00
VIMC    Lobby Bar      478.00    612.00 83.76    191.58
        Rain 903       163.00      0.00  9.78     36.70
        In-Room Dining  29.00      0.00  1.44     11.80
        Coffee Corner  181.30      0.00 11.02     21.00

In [ ]:
# def workflow(data_filepath, mop_name = None):#, summary_file_name, receipts_filepath, log_filepath):
#     """Processes entire workflow to generate summary data for Digital Dining reports.

#     Reads files; cleans; summarizes by MOP; generates log files to confirm any issues.

#     Args:
#         data_filepath (str): Path to data file (.xls/.xlsx files only)
#         summary_file_name (str): Name for results file
#         receipts_filepath (str): Receipts Audit report file
#         log_filepath (str): Name for log file.
#     """

# #     logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(message)s', 
# #                         datefmt='%d-%b-%y %H:%M:%S',filename=log_filepath,
# #                         encoding='utf-8',  filemode='a')

# #     # Create logger and set level
# #     logger = logging.getLogger('Report_Log')
# #     logger.setLevel(logging.INFO)

# #     # Create log file handler
# #     fh = logging.FileHandler(log_filepath)
# #     fh.setLevel(logging.INFO)

# #     formatter = logging.Formatter('%(asctime)s - %(name)s - %(levelname)s - %(message)s')
# #     fh.setFormatter(formatter)

# #     logger.addHandler(fh)



#     ## Read all columns from file (incl. empty columns)
#     df = pd.read_excel(data_filepath,  skiprows = 2)

#     ## Shifting label names one to the right and drop extra column
#     df.columns = ['Label', *df.columns[:-1]]

#     ## Creating list of columns to keep/drop
#     col_labels = ['Label', 'Bar', 'Dining Room', 'Room Service', 'Starbucks']
#     drop_cols = []

#     for col in df.columns:
#         if col not in col_labels:
#             drop_cols.append(col)

#     ## Dropping columns not representing an outlet
#     df = df.drop(columns = drop_cols)

#     df_cleaned = df[df.isna().sum(axis=1) == 0]
#     df_cleaned = df_cleaned[~df_cleaned.loc[:, "Label"].isin([' '])]
#     df_cleaned = df_cleaned.reset_index(drop=True)

#     df_all_cols = df_cleaned.copy().T
#     df_all_cols

#     ## Re-labeling columns based on "Label" row
#     df_all_cols.columns = df_all_cols.iloc[0]
#     df_all_cols = df_all_cols.drop(index = 'Label')

#     daily_rows = ['Food', 'Beverage', 'Other', 'Discount', 'MD Food 6%',
#                 'MD Liq 9%', 'Tip collected', "ALL A&G CHRG", 'Room Charge',
#                 'American Express', 'Cash', 'Discover Card', 'MasterCard', 'Visa']

#     df_daily = df_all_cols[daily_rows]

#     ## Converting data to "float"
# #     for col in df_daily.columns:
# #         df_daily.loc[:,col] = pd.to_numeric(df_daily.loc[:,col], downcast = 'float')
#     df_daily = df_daily.applymap(lambda x: float(x))

#     ## Summarize food charges by outlet
#     daily_food = df_daily['Food'] + df_daily['Other'] - df_daily['Discount']

#     ## Summarize tax charges by outlet
#     daily_tax = df_daily['MD Food 6%']+df_daily['MD Liq 9%']

#     ## Summarize all charges by outlet
#     summary = pd.concat([daily_food, df_daily['Beverage'], daily_tax, 
#             df_daily['Tip collected']], axis=1)

#     ## Creating new labels
#     col_labels = {0: "Food", 1: "Tax", 'Tip collected': 'Gratuity'}
#     row_labels = {'Bar': "Lobby Bar", "Dining Room": 'Rain 903', 
#                 'Room Service': 'In-Room Dining', 'Starbucks': 'Coffee Corner'}

#     ## Renaming columns
#     summary = summary.rename(columns = col_labels, index = row_labels)

#     ## Rounding values - preventing long numbers
#     summary = summary.applymap(lambda x: round(x, 2))
    
#     ## Generate new index to group MOPs
#     if mop_name != None:
#         summary.loc[:,'Payment'] = mop_name.upper()
#         summary = summary.reset_index()
#         summary = summary.rename(columns = {'index':'Outlet'})
#         summary = summary.set_index(['Payment', 'Outlet'])

# #     # summary.to_excel(summary_file_name, engine = 'openpyxl')

# #     ra_rc_df = pd.read_excel(io = receipts_filepath, header = None, skiprows = 1,
# #                         names = ['Table #', 'Check #', 'Server #', 'Server Name', 'Cashier #',
# #                                 'Cashier Name','MoP', 'Profit Center', 'Blank1', 'Blank2',
# #                                 'Tip', 'Total Receipt', 'Guest Name/Room', 'Date', 'Time'])
    
# #     ## Dropping total rows at end of report
# #     ra_rc_df = ra_rc_df[:-3]

# #     bool_idx = ra_rc_df.loc[:,'Guest Name/Room'].str.startswith(('A&G', 'Dup'))

# #     chk_num = list(ra_rc_df[bool_idx]['Check #'].values)

# #     if len(chk_num) >0:
# #         logger.warning(f'Review checks for possible errors: {chk_num}')
# #     else:
# #         logger.info(f'There are no checks to review.')

#     return summary

In [ ]:
# workflow(data_filepath = './data/02_25_2022_pc.xls')

In [ ]:
# def loop_workflow():#, summary_file_name, receipts_filepath, log_filepath):

    
#     list_mops = ['ag', 'rc', 'ax', 'ca', 'di', 'vimc']
#     new_results = []
#     for mop in list_mops:
#         data_filepath = f'./data/02_25_2022_mop_det_{mop}.xls'
#         summary_file_name = f'results_for_{mop}.xlsx'
#         new_results.append(workflow(data_filepath, mop_name = mop))#, summary_file_name, receipts_filepath, log_filepath))
        
#     new_results_df = pd.concat(new_results)

#     return new_results_df

In [ ]:
# from functions.script import *
# from functions.loop_script import loop_workflow

In [ ]:
# def loop_workflow(data_filepath, summary_file_name, receipts_filepath, log_filepath):

    
#     list_mops = ['ag', 'rc', 'ax', 'ca', 'di', 'vimc']
#     new_results = []
#     for mop in list_mops:
#         file_path = f'./data/02_25_2022_mop_det_{mop}.xls'
#         summary_file_name = f'results_for_{mop}.xlsx'
#         new_results.append(workflow(data_filepath, summary_file_name, receipts_filepath, log_filepath))
        
#     new_results_df = pd.concat(new_results)

#     return new_results_df

In [ ]:
# loop_workflow(summary_file_name = 'test_workflow_results.xlsx',
#               receipts_filepath ='./data/april_2022_rc_receipts.xls',
#               log_filepath = 'test_workflow_log.log')

In [ ]:
# list_mops = ['ag', 'rc', 'ax', 'ca', 'di', 'vimc']

# new_results = []
# for mop in list_mops:
#     file_path = f'./data/02_25_2022_mop_det_{mop}.xls'
#     summary_file_name = f'results_for_{mop}.xlsx'
#     new_results.append(workflow(data_filepath = file_path, mop_name = mop,
#                                 summary_file_name = 'test_workflow_results.xlsx',
#                                 receipts_filepath ='./data/april_2022_rc_receipts.xls',
#                                 log_filepath = 'test_workflow_log.log'))

# new_results_df = pd.concat(new_results, axis = 0)

# new_results_df

In [ ]:
# loop_workflow(summary_file_name = 'test_workflow_results.xlsx',
#               receipts_filepath ='./data/april_2022_rc_receipts.xls',
#               log_filepath = 'test_workflow_log.log')

In [ ]:
# receipts_filepath ='./data/april_2022_rc_receipts.xls'
# log_filepath = 'test_workflow_log.log'

# list_mops = ['ag', 'rc', 'ax', 'ca', 'di', 'vimc']

# new_results = []

# for mop in list_mops:
#     file_path = f'./data/02_25_2022_mop_det_{mop}.xls'
#     summary_file_name = f'results_for_{mop}.xlsx'
#     new_results.append(workflow(data_filepath = file_path, summary_file_name = summary_file_name,
#                                 receipts_filepath = receipts_filepath, log_filepath = log_filepath))

# new_results_df = pd.concat(new_results)

# ‚ö†Ô∏è Old Code - Raises Error

In [ ]:
raise Exception ("End of Development - Resume here")

In [ ]:
## Review datatypes

df_no_drp.dtypes

In [ ]:
## Recast columns to "float" datatype & review

for col in df_no_drp.columns:
    df_no_drp[col] = pd.to_numeric(df_no_drp[col], downcast = 'float')

print(df_no_drp.dtypes)

display(df_no_drp)

In [ ]:
## Inspect results

df_no_drp[df_no_drp.columns[:-1]].T.describe().T

In [ ]:
# ## Create new total column

# df_no_drp['Total'] = df_no_drp.sum(axis=1)
# df_no_drp

In [ ]:
## Filter rows without any activity

## CURRENTLY UNUSED - FILTERING BELOW ##

# df_no_zero = df_no_drp[df_no_drp['Total'] > 0]
# df_no_zero

In [ ]:
## Identify all unique labels from total data

df_no_drp.index.unique()

In [ ]:
## Create list of frequently-used labels

freq_cats = ['Food', 'Beverage', 'Other','Discount', 'Charge','MD Food 6%',
             'MD Liq 9%','Tip collected','ALL A&G CHRG', 'Room Charge',
             'American Express', 'Cash', 'Discover Card', 'MasterCard',
             'Visa']
freq_cats

In [ ]:
## Filtering frequent labels from total data

df_no_drp.loc[freq_cats, :]

In [ ]:
## Creating lists to subset the data

cats_profit_centers = df_no_drp.columns[:-1]
cats_revenue = ['Food','Beverage','Other','Charge']
cats_disc = ['Discount']
cats_tax = ['MD Food 6%', 'MD Liq 9%']
cats_tips = ['Tip collected']
cats_mops = ['ALL A&G CHRG', 'American Express', 'Room Charge', 'Cash',
             'Discover Card', 'MasterCard', 'Visa']

In [ ]:
# bar_post_rev = {}

# for cat in cats_revenue:
# #     bar_post_rev[cat] = df_no_drp.loc[freq_cats,cat]
#     print(df_no_drp.loc[cat, 'Lounge'])

##   ‚úîÔ∏è FIXED ERROR ‚úîÔ∏è

* Need to switch to individual MOP reports
    * PC report shows total sums
    * Need to break down by MOP for proper details

In [ ]:
## Pulling yesterday's files
## Useful for processing during Daily reporting, but not same-day
# yesterday = datetime.now() - timedelta(1)    

# yd_str = datetime.strftime(yesterday, '%m_%d_%Y')
# yd_str

In [ ]:
## Pulling today's files

today = datetime.now()   

td_str = datetime.strftime(today, '%m_%d_%Y')
td_str

In [ ]:
list_mops = ['ag', 'ax', 'ca', 'di', 'rc', 'vimc']

In [ ]:
def clean_data(file_path):
    """Work flow to import, clean, and eventually save the results as a new report.

    Args:
        file_path (string): file path for the original profit center report
    """    

    ## Read specific columns from Excel file

    df = pd.read_excel(file_path, skiprows = 2)

    ## Reassign label names: shifting to the right and dropping extra

    df.columns = ['Label', *df.columns[:-1]]
    ## Creating list of columns to keep/drop

    col_labels = ['Label', 'Bar', 'Dining Room', 'Room Service', 'Starbucks',
                'Page Total']

    drop_cols = []

    for col in df.columns:
        if col not in col_labels:
            drop_cols.append(col)
            
    ## Dropping columns not representing an outlet

    df = df.drop(columns = drop_cols)

    ## Filter out those rows with missing/blank values

    df_cleaned = df[df.isna().sum(axis=1) == 0]
    df_cleaned = df_cleaned[~df_cleaned.loc[:, "Label"].isin([' '])]
    df_cleaned = df_cleaned.reset_index(drop=True)

    ## Create new DF to allow for later reuse

    df_no_drp = df_cleaned.copy()

    ## Relabel and reset index with correct labels

    df_no_drp = df_no_drp.rename(df_no_drp["Label"])
    df_no_drp = df_no_drp.drop(columns = "Label")

    ## Recast columns to "float" datatype & review

    for col in df_no_drp.columns:
        df_no_drp[col] = pd.to_numeric(df_no_drp[col], downcast = 'float')
    
#     ## Create list of frequently-used labels

#     freq_cats = ['Food', 'Beverage', 'Other','Discount', 'Charge','MD Food 6%',
#              'MD Liq 9%','Tip collected','ALL A&G CHRG', 'Room Charge',
#              'American Express', 'Cash', 'Discover Card', 'MasterCard',
#              'Visa']

    return df_no_drp

In [ ]:
## Pulling all MOP reports and saving to dict

if use_ref_rpt == True:
    yd_str = '02_25_2022'
else:
    yd_str = datetime.strftime(yesterday, '%m_%d_%Y')

dict_reports = {}

for mop in list_mops:
    dict_reports[mop] = clean_data(f'./data/{yd_str}_mop_det_{mop}.xls')

In [ ]:
## Review resulting keys
dict_reports.keys()

In [ ]:
## Check number of columns in each report
for key in dict_reports:
    print(key, dict_reports[key].shape[1])

## ‚ö†Ô∏è ‚öíÔ∏è TODO: ‚öíÔ∏è ‚ö†Ô∏è

1. Filter non-zero dataframe into common/uncommon categories
2. Create DF w/ LS XAC for normal use
3. Create DF w/ unusual cats w/ prompt to review

## Workflow 1: Dropping Unused Labels

---

**Dropping Labels**

> Currently, I ignore several sections of the report as they do not report any relevant details. However, **this may lead us to overlook any irregular data.**
>
> This work flow focused on the most commonly used section of the report, highlighting the details used for NA.
>
> While I prefer a more inclusive approach, I am keeping this work flow for reference.

---

In [ ]:
## Identify unique labels to determine which to drop

df_cleaned.loc[:, "Label"].unique()

In [ ]:
## Create list of labels to drop

drop_labels = ['Sales Subtotal', 'Total before tax', 'None', 'None', 
               'Tax Subtotal','Receipt Rounding','Total of check', ' ', 'Unadjusted receipts',
               'PaidIn - AR', 'PaidIn - Debitek','PaidIn - Gift Certificates',
               'No of Covers', 'No of Checks', 'Avg cover', 'Avg check',
               'Total Paid Outs', 'Server bank', 'Total tips',
               'Server credit card fees', 'Net tips', 'Net Cash',
               'Other receipts turned in', 'Server Drops', 'Turned in',
               'Restaurant credit card fees', 'Estimated deposit',
               'Beginning NRS Total', 'Total Receipts', 'Discounts',
               'Paid Ins','Gross Total', 'NRS Total']
drop_labels

In [ ]:
## Drop specified labels and save to new DF

df_new_idx =df_cleaned[~df_cleaned.loc[:, "Label"].isin(drop_labels)]
df_new_idx

In [ ]:
## Rename index with remaining labels

df_new_idx = df_new_idx.rename(df_cleaned["Label"])
df_new_idx = df_new_idx.drop(columns = "Label")
df_new_idx

## ‚ö†Ô∏è CONDENSE W/ UPPER WF ‚ö†Ô∏è

In [ ]:
## Review remaining datatypes

df_new_idx.dtypes

In [ ]:
## Recast DT

for col in df_new_idx.columns:
    df_new_idx[col] = pd.to_numeric(df_new_idx[col], downcast = 'float')

df_new_idx.dtypes

In [ ]:
## Inspect results

df_new_idx.T.describe()

In [ ]:
## Create new total column

df_new_idx['Total'] = df_new_idx.sum(axis=1)
df_new_idx

In [ ]:
## Filter out zero sums

df_compressed = df_new_idx[df_new_idx['Total'] >0]
df_compressed

In [ ]:
df_compressed['Lounge']['Food']

In [ ]:
## Test print statements for logging purposes

for col in df_compressed.columns[:-1]:
    print(f"Post to {col} food: {df_compressed[col]['Food']+df_compressed[col]['Other']:.2f}")

In [ ]:
## Further testing for logging purposes

dept_list = ["Rain 903", "In Room Dining", "Coffee Corner", "Lobby Bar"]
sd_list = ["Food", "Liquor", "Tax", "Gratuity"]

for dept in dept_list:
    for sd in sd_list:
        print(dept+" - "+sd)