<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Intro" data-toc-modified-id="Intro-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Intro</a></span></li><li><span><a href="#STAR" data-toc-modified-id="STAR-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>STAR</a></span><ul class="toc-item"><li><span><a href="#Situation" data-toc-modified-id="Situation-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Situation</a></span></li><li><span><a href="#Threat" data-toc-modified-id="Threat-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Threat</a></span></li><li><span><a href="#Action" data-toc-modified-id="Action-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Action</a></span></li><li><span><a href="#Result" data-toc-modified-id="Result-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Result</a></span></li></ul></li></ul></div>

# Intro

# STAR

## Situation

---

* NA uses DRR summary reports to post revenue in LS
* I use report packet to review for DRR

---

## Threat

---

* **Pro:** clearly provide total sum amounts for audit to post directly

* **Cons:**
    * "Food" = "Food" + "Other"
    * Discounts are ambiguous
        * FBC vs. Assoc vs. others
    * *LOTS* of unused rows/labels create visual confusion
    * Not always clear to which XAC to post revenue/tax/tips
    
---

## Action

---

**End Goal:**

|Sub-Dept | Rain 903 | IRD  | CC | Bar|
| ----- | ----- | ----- | ----- | ----- |
|Food | 1.00 | 1.00 | 1.00 | 1.00 |
|Liquor | 2.00 | 2.00 | 2.00 | 2.00 
|Tax | 3.00 | 3.00 | 3.00 | 3.00 
|Gratuity | 4.00 | 4.00 | 4.00 | 4.00 

---

## Result

In [100]:
## --- Importing Packages --- ##

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import bmcds.eda as eda

pd.set_option('display.max_rows', None)

In [101]:
## --- Specify file path --- ##
file_path = './data/02_25_2022_pc.xls'

In [102]:
df = pd.read_excel(file_path, header = None, skiprows = 3)
df

,0,1,2,3,4,5,6,7,8,9
0,Food,742.00,NaN,273.00,NaN,62.00,NaN,247.65,NaN,1324.65
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Beverage,1215.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,1215.00
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Other,0.00,NaN,0.00,NaN,20.00,NaN,16.25,NaN,36.25
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Sales Subtotal,1957.00,NaN,273.00,NaN,82.00,NaN,263.90,NaN,2575.90
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Discount,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Charge,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Total before tax,1957.00,NaN,273.00,NaN,82.00,NaN,263.90,NaN,2575.90
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MD Food 6%,44.52,NaN,16.38,NaN,3.72,NaN,16.04,NaN,80.66
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,MD Liq 9%,109.35,NaN,0.00,NaN,0.00,NaN,0.00,NaN,109.35
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,None,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,None,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Tax Subtotal,153.87,NaN,16.38,NaN,3.72,NaN,16.04,NaN,190.01
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Receipt Rounding,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Total of check,2110.87,NaN,289.38,NaN,85.72,NaN,279.94,NaN,2765.91
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,,,NaN,,NaN,,NaN,,NaN,
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Tip collected,338.98,NaN,53.50,NaN,27.40,NaN,26.00,NaN,445.88
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,PaidIn - AR,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,PaidIn - Debitek,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,PaidIn - Gift Certificates,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Unadjusted receipts,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,,,NaN,,NaN,,NaN,,NaN,
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,No of Covers,65.00,NaN,12.00,NaN,4.00,NaN,43.00,NaN,124.00
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,No of Checks,66,NaN,12,NaN,4,NaN,43,NaN,125
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Avg cover,30.11,NaN,22.75,NaN,20.50,NaN,6.14,NaN,20.77
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Avg check,29.65,NaN,22.75,NaN,20.50,NaN,6.14,NaN,20.61
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,,,NaN,,NaN,,NaN,,NaN,
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,ALL A&G CHRG,31.25,NaN,31.20,NaN,0.00,NaN,0.00,NaN,62.45
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Room Charge,585.90,NaN,102.20,NaN,70.88,NaN,46.80,NaN,805.78
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,American Express,91.79,NaN,0.00,NaN,0.00,NaN,10.22,NaN,102.01
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Cash,240.84,NaN,0.00,NaN,0.00,NaN,35.60,NaN,276.44
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Discover Card,134.73,NaN,0.00,NaN,0.00,NaN,0.00,NaN,134.73
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,MasterCard,334.45,NaN,58.32,NaN,0.00,NaN,31.38,NaN,424.15
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,Visa,1030.89,NaN,151.16,NaN,42.24,NaN,181.94,NaN,1406.23
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,$2 Tip - Coupon,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,PMS A&G,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,Paper Gift Certificate,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,LevelUp,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,S & P,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,20% Discount,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,Bad Payment,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,External Payment,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,,,NaN,,NaN,,NaN,,NaN,
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Unadjusted receipts,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,Total Paid Outs,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,Server bank,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,Total tips,338.98,NaN,53.50,NaN,27.40,NaN,26.00,NaN,445.88
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,Server credit card fees,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,Net tips,338.98,NaN,53.50,NaN,27.40,NaN,26.00,NaN,445.88
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,Net Cash,-98.14,NaN,-53.50,NaN,-27.40,NaN,9.60,NaN,-169.44
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,Other receipts turned in,2209.01,NaN,342.88,NaN,113.12,NaN,270.34,NaN,2935.35
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,Server Drops,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,Turned in,2110.87,NaN,289.38,NaN,85.72,NaN,279.94,NaN,2765.91
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,Restaurant credit card fees,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,Estimated deposit,2110.87,NaN,289.38,NaN,85.72,NaN,279.94,NaN,2765.91
107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,,,NaN,,NaN,,NaN,,NaN,
109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,Beginning NRS Total,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,Total Receipts,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,Discounts,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,Paid Ins,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,Gross Total,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NRS Total,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,*** End of Report ***,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
df.columns = ['Label', 'Bar', 'drop1', 'Dining Room', 'drop2', 'Room Service', 'drop3', 'Starbucks', 'drop4', 'Page Total']
df

,Label,Bar,drop1,Dining Room,drop2,Room Service,drop3,Starbucks,drop4,Page Total
0,Food,742.00,NaN,273.00,NaN,62.00,NaN,247.65,NaN,1324.65
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Beverage,1215.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,1215.00
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Other,0.00,NaN,0.00,NaN,20.00,NaN,16.25,NaN,36.25
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Sales Subtotal,1957.00,NaN,273.00,NaN,82.00,NaN,263.90,NaN,2575.90
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Discount,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Charge,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Total before tax,1957.00,NaN,273.00,NaN,82.00,NaN,263.90,NaN,2575.90
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MD Food 6%,44.52,NaN,16.38,NaN,3.72,NaN,16.04,NaN,80.66
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,MD Liq 9%,109.35,NaN,0.00,NaN,0.00,NaN,0.00,NaN,109.35
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,None,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,None,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Tax Subtotal,153.87,NaN,16.38,NaN,3.72,NaN,16.04,NaN,190.01
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Receipt Rounding,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Total of check,2110.87,NaN,289.38,NaN,85.72,NaN,279.94,NaN,2765.91
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,,,NaN,,NaN,,NaN,,NaN,
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Tip collected,338.98,NaN,53.50,NaN,27.40,NaN,26.00,NaN,445.88
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,PaidIn - AR,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,PaidIn - Debitek,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,PaidIn - Gift Certificates,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Unadjusted receipts,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,,,NaN,,NaN,,NaN,,NaN,
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,No of Covers,65.00,NaN,12.00,NaN,4.00,NaN,43.00,NaN,124.00
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,No of Checks,66,NaN,12,NaN,4,NaN,43,NaN,125
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Avg cover,30.11,NaN,22.75,NaN,20.50,NaN,6.14,NaN,20.77
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Avg check,29.65,NaN,22.75,NaN,20.50,NaN,6.14,NaN,20.61
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,,,NaN,,NaN,,NaN,,NaN,
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,ALL A&G CHRG,31.25,NaN,31.20,NaN,0.00,NaN,0.00,NaN,62.45
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Room Charge,585.90,NaN,102.20,NaN,70.88,NaN,46.80,NaN,805.78
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,American Express,91.79,NaN,0.00,NaN,0.00,NaN,10.22,NaN,102.01
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Cash,240.84,NaN,0.00,NaN,0.00,NaN,35.60,NaN,276.44
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Discover Card,134.73,NaN,0.00,NaN,0.00,NaN,0.00,NaN,134.73
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,MasterCard,334.45,NaN,58.32,NaN,0.00,NaN,31.38,NaN,424.15
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,Visa,1030.89,NaN,151.16,NaN,42.24,NaN,181.94,NaN,1406.23
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,$2 Tip - Coupon,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,PMS A&G,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,Paper Gift Certificate,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,LevelUp,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,S & P,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,20% Discount,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,Bad Payment,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,External Payment,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,,,NaN,,NaN,,NaN,,NaN,
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Unadjusted receipts,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,Total Paid Outs,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,Server bank,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,Total tips,338.98,NaN,53.50,NaN,27.40,NaN,26.00,NaN,445.88
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,Server credit card fees,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,Net tips,338.98,NaN,53.50,NaN,27.40,NaN,26.00,NaN,445.88
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,Net Cash,-98.14,NaN,-53.50,NaN,-27.40,NaN,9.60,NaN,-169.44
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,Other receipts turned in,2209.01,NaN,342.88,NaN,113.12,NaN,270.34,NaN,2935.35
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,Server Drops,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,Turned in,2110.87,NaN,289.38,NaN,85.72,NaN,279.94,NaN,2765.91
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,Restaurant credit card fees,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,Estimated deposit,2110.87,NaN,289.38,NaN,85.72,NaN,279.94,NaN,2765.91
107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,,,NaN,,NaN,,NaN,,NaN,
109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,Beginning NRS Total,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,Total Receipts,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,Discounts,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,Paid Ins,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,Gross Total,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NRS Total,2449.85,NaN,342.88,NaN,113.12,NaN,305.94,NaN,3211.79
121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,*** End of Report ***,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
df = df.drop(columns = ['drop1', 'drop2', 'drop3', 'drop4', 'Page Total'])
df

                           Label      Bar Dining Room Room Service Starbucks
0                           Food   742.00      273.00        62.00    247.65
1                            NaN      NaN         NaN          NaN       NaN
2                       Beverage  1215.00        0.00         0.00      0.00
3                            NaN      NaN         NaN          NaN       NaN
4                          Other     0.00        0.00        20.00     16.25
5                            NaN      NaN         NaN          NaN       NaN
6                 Sales Subtotal  1957.00      273.00        82.00    263.90
7                            NaN      NaN         NaN          NaN       NaN
8                       Discount     0.00        0.00         0.00      0.00
9                            NaN      NaN         NaN          NaN       NaN
10                        Charge     0.00        0.00         0.00      0.00
11                           NaN      NaN         NaN          NaN       NaN
12              Total before tax  1957.00      273.00        82.00    263.90
13                           NaN      NaN         NaN          NaN       NaN
14                    MD Food 6%    44.52       16.38         3.72     16.04
15                           NaN      NaN         NaN          NaN       NaN
16                     MD Liq 9%   109.35        0.00         0.00      0.00
17                           NaN      NaN         NaN          NaN       NaN
18                          None     0.00        0.00         0.00      0.00
19                           NaN      NaN         NaN          NaN       NaN
20                          None     0.00        0.00         0.00      0.00
21                           NaN      NaN         NaN          NaN       NaN
22                  Tax Subtotal   153.87       16.38         3.72     16.04
23                           NaN      NaN         NaN          NaN       NaN
24              Receipt Rounding     0.00        0.00         0.00      0.00
25                           NaN      NaN         NaN          NaN       NaN
26                Total of check  2110.87      289.38        85.72    279.94
27                           NaN      NaN         NaN          NaN       NaN
28
29                           NaN      NaN         NaN          NaN       NaN
30                 Tip collected   338.98       53.50        27.40     26.00
31                           NaN      NaN         NaN          NaN       NaN
32                   PaidIn - AR     0.00        0.00         0.00      0.00
33                           NaN      NaN         NaN          NaN       NaN
34              PaidIn - Debitek     0.00        0.00         0.00      0.00
35                           NaN      NaN         NaN          NaN       NaN
36    PaidIn - Gift Certificates     0.00        0.00         0.00      0.00
37                           NaN      NaN         NaN          NaN       NaN
38           Unadjusted receipts  2449.85      342.88       113.12    305.94
39                           NaN      NaN         NaN          NaN       NaN
40
41                           NaN      NaN         NaN          NaN       NaN
42                  No of Covers    65.00       12.00         4.00     43.00
43                           NaN      NaN         NaN          NaN       NaN
44                  No of Checks       66          12            4        43
45                           NaN      NaN         NaN          NaN       NaN
46                     Avg cover    30.11       22.75        20.50      6.14
47                           NaN      NaN         NaN          NaN       NaN
48                     Avg check    29.65       22.75        20.50      6.14
49                           NaN      NaN         NaN          NaN       NaN
50
51                           NaN      NaN         NaN          NaN       NaN
52                  ALL A&G CHRG    31.25       31.20         0.00      0.00
53                           NaN      NaN         NaN          NaN       NaN
54                   Room Charge   585.90      102.20        70.88     46.80
55                           NaN      NaN         NaN          NaN       NaN
56              American Express    91.79        0.00         0.00     10.22
57                           NaN      NaN         NaN          NaN       NaN
58                          Cash   240.84        0.00         0.00     35.60
59                           NaN      NaN         NaN          NaN       NaN
60                 Discover Card   134.73        0.00         0.00      0.00
61                           NaN      NaN         NaN          NaN       NaN
62                    MasterCard   334.45       58.32         0.00     31.38
63                           NaN      NaN         NaN          NaN       NaN
64                          Visa  1030.89      151.16        42.24    181.94
65                           NaN      NaN         NaN          NaN       NaN
66               $2 Tip - Coupon     0.00        0.00         0.00      0.00
67                           NaN      NaN         NaN          NaN       NaN
68                       PMS A&G     0.00        0.00         0.00      0.00
69                           NaN      NaN         NaN          NaN       NaN
70        Paper Gift Certificate     0.00        0.00         0.00      0.00
71                           NaN      NaN         NaN          NaN       NaN
72                       LevelUp     0.00        0.00         0.00      0.00
73                           NaN      NaN         NaN          NaN       NaN
74                         S & P     0.00        0.00         0.00      0.00
75                           NaN      NaN         NaN          NaN       NaN
76                  20% Discount     0.00        0.00         0.00      0.00
77                           NaN      NaN         NaN          NaN       NaN
78                   Bad Payment     0.00        0.00         0.00      0.00
79                           NaN      NaN         NaN          NaN       NaN
80              External Payment     0.00        0.00         0.00      0.00
81                           NaN      NaN         NaN          NaN       NaN
82
83                           NaN      NaN         NaN          NaN       NaN
84           Unadjusted receipts  2449.85      342.88       113.12    305.94
85                           NaN      NaN         NaN          NaN       NaN
86               Total Paid Outs     0.00        0.00         0.00      0.00
87                           NaN      NaN         NaN          NaN       NaN
88                   Server bank     0.00        0.00         0.00      0.00
89                           NaN      NaN         NaN          NaN       NaN
90                    Total tips   338.98       53.50        27.40     26.00
91                           NaN      NaN         NaN          NaN       NaN
92       Server credit card fees     0.00        0.00         0.00      0.00
93                           NaN      NaN         NaN          NaN       NaN
94                      Net tips   338.98       53.50        27.40     26.00
95                           NaN      NaN         NaN          NaN       NaN
96                      Net Cash   -98.14      -53.50       -27.40      9.60
97                           NaN      NaN         NaN          NaN       NaN
98      Other receipts turned in  2209.01      342.88       113.12    270.34
99                           NaN      NaN         NaN          NaN       NaN
100                 Server Drops     0.00        0.00         0.00      0.00
101                          NaN      NaN         NaN          NaN       NaN
102                    Turned in  2110.87      289.38        85.72    279.94
103                          NaN      NaN         NaN          NaN       NaN
104  Restaurant credit card fees     0.00        0.00         0.00      0.00
105                          NaN      NaN         NaN          NaN       NaN
106            Estimated deposit  2110.87      289.38        85.72    279.94
107                          NaN      NaN         NaN          NaN       NaN
108
109                          NaN      NaN         NaN          NaN       NaN
110          Beginning NRS Total     0.00        0.00         0.00      0.00
111                          NaN      NaN         NaN          NaN       NaN
112               Total Receipts  2449.85      342.88       113.12    305.94
113                          NaN      NaN         NaN          NaN       NaN
114                    Discounts     0.00        0.00         0.00      0.00
115                          NaN      NaN         NaN          NaN       NaN
116                     Paid Ins     0.00        0.00         0.00      0.00
117                          NaN      NaN         NaN          NaN       NaN
118                  Gross Total  2449.85      342.88       113.12    305.94
119                          NaN      NaN         NaN          NaN       NaN
120                    NRS Total  2449.85      342.88       113.12    305.94
121                          NaN      NaN         NaN          NaN       NaN
122                          NaN      NaN         NaN          NaN       NaN
123                          NaN      NaN         NaN          NaN       NaN
124                          NaN      NaN         NaN          NaN       NaN
125        *** End of Report ***      NaN         NaN          NaN       NaN

In [105]:
df.isna().sum(axis=1).value_counts()

5    64
0    61
4     1
dtype: int64

In [106]:
df_cleaned = df[df.isna().sum(axis=1) ==0]
df_cleaned = df_cleaned.reset_index(drop=True)
df_cleaned

                          Label      Bar Dining Room Room Service Starbucks
0                          Food   742.00      273.00        62.00    247.65
1                      Beverage  1215.00        0.00         0.00      0.00
2                         Other     0.00        0.00        20.00     16.25
3                Sales Subtotal  1957.00      273.00        82.00    263.90
4                      Discount     0.00        0.00         0.00      0.00
5                        Charge     0.00        0.00         0.00      0.00
6              Total before tax  1957.00      273.00        82.00    263.90
7                    MD Food 6%    44.52       16.38         3.72     16.04
8                     MD Liq 9%   109.35        0.00         0.00      0.00
9                          None     0.00        0.00         0.00      0.00
10                         None     0.00        0.00         0.00      0.00
11                 Tax Subtotal   153.87       16.38         3.72     16.04
12             Receipt Rounding     0.00        0.00         0.00      0.00
13               Total of check  2110.87      289.38        85.72    279.94
14
15                Tip collected   338.98       53.50        27.40     26.00
16                  PaidIn - AR     0.00        0.00         0.00      0.00
17             PaidIn - Debitek     0.00        0.00         0.00      0.00
18   PaidIn - Gift Certificates     0.00        0.00         0.00      0.00
19          Unadjusted receipts  2449.85      342.88       113.12    305.94
20
21                 No of Covers    65.00       12.00         4.00     43.00
22                 No of Checks       66          12            4        43
23                    Avg cover    30.11       22.75        20.50      6.14
24                    Avg check    29.65       22.75        20.50      6.14
25
26                 ALL A&G CHRG    31.25       31.20         0.00      0.00
27                  Room Charge   585.90      102.20        70.88     46.80
28             American Express    91.79        0.00         0.00     10.22
29                         Cash   240.84        0.00         0.00     35.60
30                Discover Card   134.73        0.00         0.00      0.00
31                   MasterCard   334.45       58.32         0.00     31.38
32                         Visa  1030.89      151.16        42.24    181.94
33              $2 Tip - Coupon     0.00        0.00         0.00      0.00
34                      PMS A&G     0.00        0.00         0.00      0.00
35       Paper Gift Certificate     0.00        0.00         0.00      0.00
36                      LevelUp     0.00        0.00         0.00      0.00
37                        S & P     0.00        0.00         0.00      0.00
38                 20% Discount     0.00        0.00         0.00      0.00
39                  Bad Payment     0.00        0.00         0.00      0.00
40             External Payment     0.00        0.00         0.00      0.00
41
42          Unadjusted receipts  2449.85      342.88       113.12    305.94
43              Total Paid Outs     0.00        0.00         0.00      0.00
44                  Server bank     0.00        0.00         0.00      0.00
45                   Total tips   338.98       53.50        27.40     26.00
46      Server credit card fees     0.00        0.00         0.00      0.00
47                     Net tips   338.98       53.50        27.40     26.00
48                     Net Cash   -98.14      -53.50       -27.40      9.60
49     Other receipts turned in  2209.01      342.88       113.12    270.34
50                 Server Drops     0.00        0.00         0.00      0.00
51                    Turned in  2110.87      289.38        85.72    279.94
52  Restaurant credit card fees     0.00        0.00         0.00      0.00
53            Estimated deposit  2110.87      289.38        85.72    279.94
54
55          Beginning NRS Total     0.00        0.00         0.00      0.00
56               Total Receipts  2449.85      342.88       113.12    305.94
57                    Discounts     0.00        0.00         0.00      0.00
58                     Paid Ins     0.00        0.00         0.00      0.00
59                  Gross Total  2449.85      342.88       113.12    305.94
60                    NRS Total  2449.85      342.88       113.12    305.94

In [107]:
df_cleaned.loc[:, "Label"].unique()

array(['Food', 'Beverage', 'Other', 'Sales Subtotal', 'Discount',
       'Charge', 'Total before tax', 'MD Food 6%', 'MD Liq 9%', 'None',
       'Tax Subtotal', 'Receipt Rounding', 'Total of check', ' ',
       'Tip collected', 'PaidIn - AR', 'PaidIn - Debitek',
       'PaidIn - Gift Certificates', 'Unadjusted receipts',
       'No of Covers', 'No of Checks', 'Avg cover', 'Avg check',
       'ALL A&G CHRG', 'Room Charge', 'American Express', 'Cash',
       'Discover Card', 'MasterCard', 'Visa', '$2 Tip - Coupon',
       'PMS A&G', 'Paper Gift Certificate', 'LevelUp', 'S & P',
       '20% Discount', 'Bad Payment', 'External Payment',
       'Total Paid Outs', 'Server bank', 'Total tips',
       'Server credit card fees', 'Net tips', 'Net Cash',
       'Other receipts turned in', 'Server Drops', 'Turned in',
       'Restaurant credit card fees', 'Estimated deposit',
       'Beginning NRS Total', 'Total Receipts', 'Discounts', 'Paid Ins',
       'Gross Total', 'NRS Total'], dtype=object)

In [108]:
drop_labels = ['Sales Subtotal', 'Total before tax', 'None', 'None', 
               'Tax Subtotal','Receipt Rounding','Total of check', ' ', 'Unadjusted receipts',
               'PaidIn - AR', 'PaidIn - Debitek','PaidIn - Gift Certificates',
               'No of Covers', 'No of Checks', 'Avg cover', 'Avg check',
               'Total Paid Outs', 'Server bank', 'Total tips',
               'Server credit card fees', 'Net tips', 'Net Cash',
               'Other receipts turned in', 'Server Drops', 'Turned in',
               'Restaurant credit card fees', 'Estimated deposit',
               'Beginning NRS Total', 'Total Receipts', 'Discounts',
               'Paid Ins','Gross Total', 'NRS Total']
drop_labels

['Sales Subtotal',
 'Total before tax',
 'None',
 'None',
 'Tax Subtotal',
 'Receipt Rounding',
 'Total of check',
 ' ',
 'Unadjusted receipts',
 'PaidIn - AR',
 'PaidIn - Debitek',
 'PaidIn - Gift Certificates',
 'No of Covers',
 'No of Checks',
 'Avg cover',
 'Avg check',
 'Total Paid Outs',
 'Server bank',
 'Total tips',
 'Server credit card fees',
 'Net tips',
 'Net Cash',
 'Other receipts turned in',
 'Server Drops',
 'Turned in',
 'Restaurant credit card fees',
 'Estimated deposit',
 'Beginning NRS Total',
 'Total Receipts',
 'Discounts',
 'Paid Ins',
 'Gross Total',
 'NRS Total']

In [109]:
df_cleaned

                          Label      Bar Dining Room Room Service Starbucks
0                          Food   742.00      273.00        62.00    247.65
1                      Beverage  1215.00        0.00         0.00      0.00
2                         Other     0.00        0.00        20.00     16.25
3                Sales Subtotal  1957.00      273.00        82.00    263.90
4                      Discount     0.00        0.00         0.00      0.00
5                        Charge     0.00        0.00         0.00      0.00
6              Total before tax  1957.00      273.00        82.00    263.90
7                    MD Food 6%    44.52       16.38         3.72     16.04
8                     MD Liq 9%   109.35        0.00         0.00      0.00
9                          None     0.00        0.00         0.00      0.00
10                         None     0.00        0.00         0.00      0.00
11                 Tax Subtotal   153.87       16.38         3.72     16.04
12             Receipt Rounding     0.00        0.00         0.00      0.00
13               Total of check  2110.87      289.38        85.72    279.94
14
15                Tip collected   338.98       53.50        27.40     26.00
16                  PaidIn - AR     0.00        0.00         0.00      0.00
17             PaidIn - Debitek     0.00        0.00         0.00      0.00
18   PaidIn - Gift Certificates     0.00        0.00         0.00      0.00
19          Unadjusted receipts  2449.85      342.88       113.12    305.94
20
21                 No of Covers    65.00       12.00         4.00     43.00
22                 No of Checks       66          12            4        43
23                    Avg cover    30.11       22.75        20.50      6.14
24                    Avg check    29.65       22.75        20.50      6.14
25
26                 ALL A&G CHRG    31.25       31.20         0.00      0.00
27                  Room Charge   585.90      102.20        70.88     46.80
28             American Express    91.79        0.00         0.00     10.22
29                         Cash   240.84        0.00         0.00     35.60
30                Discover Card   134.73        0.00         0.00      0.00
31                   MasterCard   334.45       58.32         0.00     31.38
32                         Visa  1030.89      151.16        42.24    181.94
33              $2 Tip - Coupon     0.00        0.00         0.00      0.00
34                      PMS A&G     0.00        0.00         0.00      0.00
35       Paper Gift Certificate     0.00        0.00         0.00      0.00
36                      LevelUp     0.00        0.00         0.00      0.00
37                        S & P     0.00        0.00         0.00      0.00
38                 20% Discount     0.00        0.00         0.00      0.00
39                  Bad Payment     0.00        0.00         0.00      0.00
40             External Payment     0.00        0.00         0.00      0.00
41
42          Unadjusted receipts  2449.85      342.88       113.12    305.94
43              Total Paid Outs     0.00        0.00         0.00      0.00
44                  Server bank     0.00        0.00         0.00      0.00
45                   Total tips   338.98       53.50        27.40     26.00
46      Server credit card fees     0.00        0.00         0.00      0.00
47                     Net tips   338.98       53.50        27.40     26.00
48                     Net Cash   -98.14      -53.50       -27.40      9.60
49     Other receipts turned in  2209.01      342.88       113.12    270.34
50                 Server Drops     0.00        0.00         0.00      0.00
51                    Turned in  2110.87      289.38        85.72    279.94
52  Restaurant credit card fees     0.00        0.00         0.00      0.00
53            Estimated deposit  2110.87      289.38        85.72    279.94
54
55          Beginning NRS Total     0.00        0.00         0.00      0.00
56               Total Receipts  2449.85      342.88       113.12    305.94
57                    Discounts     0.00        0.00         0.00      0.00
58                     Paid Ins     0.00        0.00         0.00      0.00
59                  Gross Total  2449.85      342.88       113.12    305.94
60                    NRS Total  2449.85      342.88       113.12    305.94

In [110]:
df_cleaned =df_cleaned[~df_cleaned.loc[:, "Label"].isin(drop_labels)]
df_cleaned

                     Label      Bar Dining Room Room Service Starbucks
0                     Food   742.00      273.00        62.00    247.65
1                 Beverage  1215.00        0.00         0.00      0.00
2                    Other     0.00        0.00        20.00     16.25
4                 Discount     0.00        0.00         0.00      0.00
5                   Charge     0.00        0.00         0.00      0.00
7               MD Food 6%    44.52       16.38         3.72     16.04
8                MD Liq 9%   109.35        0.00         0.00      0.00
15           Tip collected   338.98       53.50        27.40     26.00
26            ALL A&G CHRG    31.25       31.20         0.00      0.00
27             Room Charge   585.90      102.20        70.88     46.80
28        American Express    91.79        0.00         0.00     10.22
29                    Cash   240.84        0.00         0.00     35.60
30           Discover Card   134.73        0.00         0.00      0.00
31              MasterCard   334.45       58.32         0.00     31.38
32                    Visa  1030.89      151.16        42.24    181.94
33         $2 Tip - Coupon     0.00        0.00         0.00      0.00
34                 PMS A&G     0.00        0.00         0.00      0.00
35  Paper Gift Certificate     0.00        0.00         0.00      0.00
36                 LevelUp     0.00        0.00         0.00      0.00
37                   S & P     0.00        0.00         0.00      0.00
38            20% Discount     0.00        0.00         0.00      0.00
39             Bad Payment     0.00        0.00         0.00      0.00
40        External Payment     0.00        0.00         0.00      0.00

In [111]:
df_new_idx = df_cleaned.copy()

In [114]:
df_new_idx = test_idx.rename(df_cleaned["Label"])
df_new_idx = df_new_idx.drop(columns = "Label")
df_new_idx

                            Bar Dining Room Room Service Starbucks
Food                     742.00      273.00        62.00    247.65
Beverage                1215.00        0.00         0.00      0.00
Other                      0.00        0.00        20.00     16.25
Discount                   0.00        0.00         0.00      0.00
Charge                     0.00        0.00         0.00      0.00
MD Food 6%                44.52       16.38         3.72     16.04
MD Liq 9%                109.35        0.00         0.00      0.00
Tip collected            338.98       53.50        27.40     26.00
ALL A&G CHRG              31.25       31.20         0.00      0.00
Room Charge              585.90      102.20        70.88     46.80
American Express          91.79        0.00         0.00     10.22
Cash                     240.84        0.00         0.00     35.60
Discover Card            134.73        0.00         0.00      0.00
MasterCard               334.45       58.32         0.00     31.38
Visa                    1030.89      151.16        42.24    181.94
$2 Tip - Coupon            0.00        0.00         0.00      0.00
PMS A&G                    0.00        0.00         0.00      0.00
Paper Gift Certificate     0.00        0.00         0.00      0.00
LevelUp                    0.00        0.00         0.00      0.00
S & P                      0.00        0.00         0.00      0.00
20% Discount               0.00        0.00         0.00      0.00
Bad Payment                0.00        0.00         0.00      0.00
External Payment           0.00        0.00         0.00      0.00

In [116]:
df_new_idx.dtypes

Bar             object
Dining Room     object
Room Service    object
Starbucks       object
dtype: object

In [124]:
for col in df_new_idx.columns:
    df_new_idx[col] = pd.to_numeric(df_new_idx[col], downcast = 'float')

In [125]:
df_new_idx.dtypes

Bar             float32
Dining Room     float32
Room Service    float32
Starbucks       float32
dtype: object

In [129]:
df_new_idx.T.describe()

,Food,Beverage,Other,Discount,Charge,MD Food 6%,MD Liq 9%,Tip collected,ALL A&G CHRG,Room Charge,...,MasterCard,Visa,$2 Tip - Coupon,PMS A&G,Paper Gift Certificate,LevelUp,S & P,20% Discount,Bad Payment,External Payment
count,4.000000,4.00,4.000000,4.0,4.0,4.000000,4.000000,4.000000,4.000000,4.000000,...,4.000000,4.000000,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
mean,331.162506,303.75,9.062500,0.0,0.0,20.165001,27.337500,111.470001,15.612500,201.445007,...,106.037506,351.557495,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,289.593475,607.50,10.575867,0.0,0.0,17.271807,54.674999,152.199661,18.027775,257.304962,...,154.128662,456.836670,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,62.000000,0.00,0.000000,0.0,0.0,3.720000,0.000000,26.000000,0.000000,46.799999,...,0.000000,42.240002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,201.237495,0.00,0.000000,0.0,0.0,12.960001,0.000000,27.050000,0.000000,64.859998,...,23.534999,123.930004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,260.324997,0.00,8.125000,0.0,0.0,16.210000,0.000000,40.450000,15.600000,86.539997,...,44.849999,166.550003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,390.250000,303.75,17.187500,0.0,0.0,23.414999,27.337500,124.870003,31.212501,223.125000,...,127.352501,394.177505,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,742.000000,1215.00,20.000000,0.0,0.0,44.520000,109.349998,338.980011,31.250000,585.900024,...,334.450012,1030.890015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [135]:
df_new_idx['Total'] = df_new_idx.sum(axis=1)
df_new_idx

,Bar,Dining Room,Room Service,Starbucks,Total
Food,742.000000,273.000000,62.000000,247.649994,1324.650024
Beverage,1215.000000,0.000000,0.000000,0.000000,1215.000000
Other,0.000000,0.000000,20.000000,16.250000,36.250000
Discount,0.000000,0.000000,0.000000,0.000000,0.000000
Charge,0.000000,0.000000,0.000000,0.000000,0.000000
MD Food 6%,44.520000,16.379999,3.720000,16.040001,80.660004
MD Liq 9%,109.349998,0.000000,0.000000,0.000000,109.349998
Tip collected,338.980011,53.500000,27.400000,26.000000,445.880005
ALL A&G CHRG,31.250000,31.200001,0.000000,0.000000,62.450001
Room Charge,585.900024,102.199997,70.879997,46.799999,805.780029
American Express,91.790001,0.000000,0.000000,10.220000,102.010002
Cash,240.839996,0.000000,0.000000,35.599998,276.440002
Discover Card,134.729996,0.000000,0.000000,0.000000,134.729996
MasterCard,334.450012,58.320000,0.000000,31.379999,424.150024
Visa,1030.890015,151.160004,42.240002,181.940002,1406.229980
$2 Tip - Coupon,0.000000,0.000000,0.000000,0.000000,0.000000
PMS A&G,0.000000,0.000000,0.000000,0.000000,0.000000
Paper Gift Certificate,0.000000,0.000000,0.000000,0.000000,0.000000
LevelUp,0.000000,0.000000,0.000000,0.000000,0.000000
S & P,0.000000,0.000000,0.000000,0.000000,0.000000
20% Discount,0.000000,0.000000,0.000000,0.000000,0.000000
Bad Payment,0.000000,0.000000,0.000000,0.000000,0.000000
External Payment,0.000000,0.000000,0.000000,0.000000,0.000000

In [150]:
df_compressed = df_new_idx[df_new_idx['Total'] >0]
df_compressed

,Bar,Dining Room,Room Service,Starbucks,Total
Food,742.000000,273.000000,62.000000,247.649994,1324.650024
Beverage,1215.000000,0.000000,0.000000,0.000000,1215.000000
Other,0.000000,0.000000,20.000000,16.250000,36.250000
MD Food 6%,44.520000,16.379999,3.720000,16.040001,80.660004
MD Liq 9%,109.349998,0.000000,0.000000,0.000000,109.349998
Tip collected,338.980011,53.500000,27.400000,26.000000,445.880005
ALL A&G CHRG,31.250000,31.200001,0.000000,0.000000,62.450001
Room Charge,585.900024,102.199997,70.879997,46.799999,805.780029
American Express,91.790001,0.000000,0.000000,10.220000,102.010002
Cash,240.839996,0.000000,0.000000,35.599998,276.440002
Discover Card,134.729996,0.000000,0.000000,0.000000,134.729996
MasterCard,334.450012,58.320000,0.000000,31.379999,424.150024
Visa,1030.890015,151.160004,42.240002,181.940002,1406.229980

In [151]:
df_compressed['Bar']['Food']

742.0

In [161]:
for col in df_compressed.columns[:-1]:
    print(f"Post to {col} food: {df_compressed[col]['Food']+df_compressed[col]['Other']:.2f}")

Post to Bar food: 742.00
Post to Dining Room food: 273.00
Post to Room Service food: 82.00
Post to Starbucks food: 263.90

In [164]:
dept_list = ["Rain 903", "In Room Dining", "Coffee Corner", "Lobby Bar"]
sd_list = ["Food", "Liquor", "Tax", "Gratuity"]

for dept in dept_list:
    for sd in sd_list:
        print(dept+" - "+sd)

Rain 903 - Food
Rain 903 - Liquor
Rain 903 - Tax
Rain 903 - Gratuity
In Room Dining - Food
In Room Dining - Liquor
In Room Dining - Tax
In Room Dining - Gratuity
Coffee Corner - Food
Coffee Corner - Liquor
Coffee Corner - Tax
Coffee Corner - Gratuity
Lobby Bar - Food
Lobby Bar - Liquor
Lobby Bar - Tax
Lobby Bar - Gratuity

---

**End Goal:**

|Sub-Dept | Rain 903 | IRD  | CC | Bar|
| ----- | ----- | ----- | ----- | ----- |
|Food | 1.00 | 1.00 | 1.00 | 1.00 |
|Liquor | 2.00 | 2.00 | 2.00 | 2.00 
|Tax | 3.00 | 3.00 | 3.00 | 3.00 
|Gratuity | 4.00 | 4.00 | 4.00 | 4.00 

---

In [ ]:
|