<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Intro" data-toc-modified-id="Intro-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Intro</a></span></li><li><span><a href="#‚≠ê-STAR-‚≠ê" data-toc-modified-id="‚≠ê-STAR-‚≠ê-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>‚≠ê STAR ‚≠ê</a></span><ul class="toc-item"><li><span><a href="#üîé-Situation-üîç" data-toc-modified-id="üîé-Situation-üîç-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>üîé Situation üîç</a></span></li><li><span><a href="#‚ö†Ô∏è-Threat-‚ö†Ô∏è" data-toc-modified-id="‚ö†Ô∏è-Threat-‚ö†Ô∏è-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>‚ö†Ô∏è Threat ‚ö†Ô∏è</a></span></li><li><span><a href="#‚öíÔ∏è-Action-‚öíÔ∏è" data-toc-modified-id="‚öíÔ∏è-Action-‚öíÔ∏è-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>‚öíÔ∏è Action ‚öíÔ∏è</a></span></li><li><span><a href="#üìã-Result-üìã" data-toc-modified-id="üìã-Result-üìã-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>üìã Result üìã</a></span></li></ul></li><li><span><a href="#Workflow-2:-Don't-Drop-Labels" data-toc-modified-id="Workflow-2:-Don't-Drop-Labels-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Workflow 2: Don't Drop Labels</a></span></li><li><span><a href="#Workflow-1:-Dropping-Unused-Labels" data-toc-modified-id="Workflow-1:-Dropping-Unused-Labels-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Workflow 1: Dropping Unused Labels</a></span></li><li><span><a href="#‚ö†Ô∏è-CONDENSE-W/-UPPER-WF-‚ö†Ô∏è" data-toc-modified-id="‚ö†Ô∏è-CONDENSE-W/-UPPER-WF-‚ö†Ô∏è-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>‚ö†Ô∏è CONDENSE W/ UPPER WF ‚ö†Ô∏è</a></span></li></ul></div>

# Intro

# ‚≠ê STAR ‚≠ê

## üîé Situation üîç

---

* NA uses DRR summary reports to post revenue in LS
* I use report packet to review for DRR

---

## ‚ö†Ô∏è Threat ‚ö†Ô∏è

---

* **Pro:** clearly provide total sum amounts for audit to post directly

* **Cons:**
    * "Food" = "Food" + "Other"
    * Discounts are ambiguous
        * FBC vs. Assoc vs. others
    * *LOTS* of unused rows/labels create visual confusion
    * Not always clear to which XAC to post revenue/tax/tips
    * Unusual/new/unused categories are not always accounted for

All issues result in manual review of all transactions during the Daily reporting process.

---

## ‚öíÔ∏è Action ‚öíÔ∏è

---

**Create workflow to:**

* *Read existing DD reports*


* *Clean the report to isolate relevant details*


* *Report any irregularities:*
    * Any discounts or charges?
    * Any new/non-standard MOPs?
    * Report exact amounts to post to each LS XAC
        * See below

---

---

**End Goal:**

---

> **Post these amounts in LightSpeed:**

<!-- | |Dept | Rain 903 | IRD  | CC | Bar| 
| - | - | - | - | - | - |
|**Sub-Dept** | |  |  |  |
|Food | 1.00 | 1.00 | 1.00 | 1.00 |
|Liquor | 2.00 | 2.00 | 2.00 | 2.00 
|Tax | 3.00 | 3.00 | 3.00 | 3.00 
|Gratuity | 4.00 | 4.00 | 4.00 | 4.00  -->

|Dept| Food | Liquor | Tax  | Gratuity | 
| -  | -    | -      | -    | -        |
| DR | 1.00 | 1.00   | 1.00 | 1.00     |
| RS | 4.00 | 4.00   | 4.00 | 4.00     |
| CC | 1.00 | 1.00   | 1.00 | 1.00     |
| LB | 4.00 | 4.00   | 4.00 | 4.00     |

---

 >**Investigate these amounts:**
 
 | Item            | Amount |
 | -               | - |
 | Discount        | 1.00 |
 | Charge          | 1.00 |
 | $2 Tip - Coupon | 1.00 |

---

## üìã Result üìã

In [32]:
## --- Importing Packages --- ##

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import bmcds.eda as eda

pd.set_option('display.max_rows', None)
%matplotlib inline

In [33]:
## --- Specify file path --- ##

file_path = './data/02_25_2022_pc.xls'

In [34]:
## --- Read specific columns from Excel file --- ##

df = pd.read_excel(file_path, header = None, skiprows = 3,
                   usecols = 'A, B, D, F, H', 
                   names = ['Label', 'Lounge', 'Rain 903', 'In-Room Dining',
                            'Coffee Corner'])
df

,Label,Lounge,Rain 903,In-Room Dining,Coffee Corner
0,Food,742.00,273.00,62.00,247.65
1,NaN,NaN,NaN,NaN,NaN
2,Beverage,1215.00,0.00,0.00,0.00
3,NaN,NaN,NaN,NaN,NaN
4,Other,0.00,0.00,20.00,16.25
5,NaN,NaN,NaN,NaN,NaN
6,Sales Subtotal,1957.00,273.00,82.00,263.90
7,NaN,NaN,NaN,NaN,NaN
8,Discount,0.00,0.00,0.00,0.00
9,NaN,NaN,NaN,NaN,NaN
10,Charge,0.00,0.00,0.00,0.00
11,NaN,NaN,NaN,NaN,NaN
12,Total before tax,1957.00,273.00,82.00,263.90
13,NaN,NaN,NaN,NaN,NaN
14,MD Food 6%,44.52,16.38,3.72,16.04
15,NaN,NaN,NaN,NaN,NaN
16,MD Liq 9%,109.35,0.00,0.00,0.00
17,NaN,NaN,NaN,NaN,NaN
18,None,0.00,0.00,0.00,0.00
19,NaN,NaN,NaN,NaN,NaN
20,None,0.00,0.00,0.00,0.00
21,NaN,NaN,NaN,NaN,NaN
22,Tax Subtotal,153.87,16.38,3.72,16.04
23,NaN,NaN,NaN,NaN,NaN
24,Receipt Rounding,0.00,0.00,0.00,0.00
25,NaN,NaN,NaN,NaN,NaN
26,Total of check,2110.87,289.38,85.72,279.94
27,NaN,NaN,NaN,NaN,NaN
28,,,,,
29,NaN,NaN,NaN,NaN,NaN
30,Tip collected,338.98,53.50,27.40,26.00
31,NaN,NaN,NaN,NaN,NaN
32,PaidIn - AR,0.00,0.00,0.00,0.00
33,NaN,NaN,NaN,NaN,NaN
34,PaidIn - Debitek,0.00,0.00,0.00,0.00
35,NaN,NaN,NaN,NaN,NaN
36,PaidIn - Gift Certificates,0.00,0.00,0.00,0.00
37,NaN,NaN,NaN,NaN,NaN
38,Unadjusted receipts,2449.85,342.88,113.12,305.94
39,NaN,NaN,NaN,NaN,NaN
40,,,,,
41,NaN,NaN,NaN,NaN,NaN
42,No of Covers,65.00,12.00,4.00,43.00
43,NaN,NaN,NaN,NaN,NaN
44,No of Checks,66,12,4,43
45,NaN,NaN,NaN,NaN,NaN
46,Avg cover,30.11,22.75,20.50,6.14
47,NaN,NaN,NaN,NaN,NaN
48,Avg check,29.65,22.75,20.50,6.14
49,NaN,NaN,NaN,NaN,NaN
50,,,,,
51,NaN,NaN,NaN,NaN,NaN
52,ALL A&G CHRG,31.25,31.20,0.00,0.00
53,NaN,NaN,NaN,NaN,NaN
54,Room Charge,585.90,102.20,70.88,46.80
55,NaN,NaN,NaN,NaN,NaN
56,American Express,91.79,0.00,0.00,10.22
57,NaN,NaN,NaN,NaN,NaN
58,Cash,240.84,0.00,0.00,35.60
59,NaN,NaN,NaN,NaN,NaN
60,Discover Card,134.73,0.00,0.00,0.00
61,NaN,NaN,NaN,NaN,NaN
62,MasterCard,334.45,58.32,0.00,31.38
63,NaN,NaN,NaN,NaN,NaN
64,Visa,1030.89,151.16,42.24,181.94
65,NaN,NaN,NaN,NaN,NaN
66,$2 Tip - Coupon,0.00,0.00,0.00,0.00
67,NaN,NaN,NaN,NaN,NaN
68,PMS A&G,0.00,0.00,0.00,0.00
69,NaN,NaN,NaN,NaN,NaN
70,Paper Gift Certificate,0.00,0.00,0.00,0.00
71,NaN,NaN,NaN,NaN,NaN
72,LevelUp,0.00,0.00,0.00,0.00
73,NaN,NaN,NaN,NaN,NaN
74,S & P,0.00,0.00,0.00,0.00
75,NaN,NaN,NaN,NaN,NaN
76,20% Discount,0.00,0.00,0.00,0.00
77,NaN,NaN,NaN,NaN,NaN
78,Bad Payment,0.00,0.00,0.00,0.00
79,NaN,NaN,NaN,NaN,NaN
80,External Payment,0.00,0.00,0.00,0.00
81,NaN,NaN,NaN,NaN,NaN
82,,,,,
83,NaN,NaN,NaN,NaN,NaN
84,Unadjusted receipts,2449.85,342.88,113.12,305.94
85,NaN,NaN,NaN,NaN,NaN
86,Total Paid Outs,0.00,0.00,0.00,0.00
87,NaN,NaN,NaN,NaN,NaN
88,Server bank,0.00,0.00,0.00,0.00
89,NaN,NaN,NaN,NaN,NaN
90,Total tips,338.98,53.50,27.40,26.00
91,NaN,NaN,NaN,NaN,NaN
92,Server credit card fees,0.00,0.00,0.00,0.00
93,NaN,NaN,NaN,NaN,NaN
94,Net tips,338.98,53.50,27.40,26.00
95,NaN,NaN,NaN,NaN,NaN
96,Net Cash,-98.14,-53.50,-27.40,9.60
97,NaN,NaN,NaN,NaN,NaN
98,Other receipts turned in,2209.01,342.88,113.12,270.34
99,NaN,NaN,NaN,NaN,NaN
100,Server Drops,0.00,0.00,0.00,0.00
101,NaN,NaN,NaN,NaN,NaN
102,Turned in,2110.87,289.38,85.72,279.94
103,NaN,NaN,NaN,NaN,NaN
104,Restaurant credit card fees,0.00,0.00,0.00,0.00
105,NaN,NaN,NaN,NaN,NaN
106,Estimated deposit,2110.87,289.38,85.72,279.94
107,NaN,NaN,NaN,NaN,NaN
108,,,,,
109,NaN,NaN,NaN,NaN,NaN
110,Beginning NRS Total,0.00,0.00,0.00,0.00
111,NaN,NaN,NaN,NaN,NaN
112,Total Receipts,2449.85,342.88,113.12,305.94
113,NaN,NaN,NaN,NaN,NaN
114,Discounts,0.00,0.00,0.00,0.00
115,NaN,NaN,NaN,NaN,NaN
116,Paid Ins,0.00,0.00,0.00,0.00
117,NaN,NaN,NaN,NaN,NaN
118,Gross Total,2449.85,342.88,113.12,305.94
119,NaN,NaN,NaN,NaN,NaN
120,NRS Total,2449.85,342.88,113.12,305.94
121,NaN,NaN,NaN,NaN,NaN
122,NaN,NaN,NaN,NaN,NaN
123,NaN,NaN,NaN,NaN,NaN
124,NaN,NaN,NaN,NaN,NaN
125,*** End of Report ***,NaN,NaN,NaN,NaN

In [35]:
## --- How many rows have missing values, and how many? --- ##

df.isna().sum(axis=1).value_counts()

5    64
0    61
4     1
dtype: int64

In [36]:
## --- Filter out those rows with missing values --- ##

df_cleaned = df[df.isna().sum(axis=1) ==0]
df_cleaned = df_cleaned.reset_index(drop=True)
df_cleaned

                          Label   Lounge Rain 903 In-Room Dining Coffee Corner
0                          Food   742.00   273.00          62.00        247.65
1                      Beverage  1215.00     0.00           0.00          0.00
2                         Other     0.00     0.00          20.00         16.25
3                Sales Subtotal  1957.00   273.00          82.00        263.90
4                      Discount     0.00     0.00           0.00          0.00
5                        Charge     0.00     0.00           0.00          0.00
6              Total before tax  1957.00   273.00          82.00        263.90
7                    MD Food 6%    44.52    16.38           3.72         16.04
8                     MD Liq 9%   109.35     0.00           0.00          0.00
9                          None     0.00     0.00           0.00          0.00
10                         None     0.00     0.00           0.00          0.00
11                 Tax Subtotal   153.87    16.38           3.72         16.04
12             Receipt Rounding     0.00     0.00           0.00          0.00
13               Total of check  2110.87   289.38          85.72        279.94
14
15                Tip collected   338.98    53.50          27.40         26.00
16                  PaidIn - AR     0.00     0.00           0.00          0.00
17             PaidIn - Debitek     0.00     0.00           0.00          0.00
18   PaidIn - Gift Certificates     0.00     0.00           0.00          0.00
19          Unadjusted receipts  2449.85   342.88         113.12        305.94
20
21                 No of Covers    65.00    12.00           4.00         43.00
22                 No of Checks       66       12              4            43
23                    Avg cover    30.11    22.75          20.50          6.14
24                    Avg check    29.65    22.75          20.50          6.14
25
26                 ALL A&G CHRG    31.25    31.20           0.00          0.00
27                  Room Charge   585.90   102.20          70.88         46.80
28             American Express    91.79     0.00           0.00         10.22
29                         Cash   240.84     0.00           0.00         35.60
30                Discover Card   134.73     0.00           0.00          0.00
31                   MasterCard   334.45    58.32           0.00         31.38
32                         Visa  1030.89   151.16          42.24        181.94
33              $2 Tip - Coupon     0.00     0.00           0.00          0.00
34                      PMS A&G     0.00     0.00           0.00          0.00
35       Paper Gift Certificate     0.00     0.00           0.00          0.00
36                      LevelUp     0.00     0.00           0.00          0.00
37                        S & P     0.00     0.00           0.00          0.00
38                 20% Discount     0.00     0.00           0.00          0.00
39                  Bad Payment     0.00     0.00           0.00          0.00
40             External Payment     0.00     0.00           0.00          0.00
41
42          Unadjusted receipts  2449.85   342.88         113.12        305.94
43              Total Paid Outs     0.00     0.00           0.00          0.00
44                  Server bank     0.00     0.00           0.00          0.00
45                   Total tips   338.98    53.50          27.40         26.00
46      Server credit card fees     0.00     0.00           0.00          0.00
47                     Net tips   338.98    53.50          27.40         26.00
48                     Net Cash   -98.14   -53.50         -27.40          9.60
49     Other receipts turned in  2209.01   342.88         113.12        270.34
50                 Server Drops     0.00     0.00           0.00          0.00
51                    Turned in  2110.87   289.38          85.72        279.94
52  Restaurant credit card fees     0.00     0.00           0.00          0.00
53            Estimated deposit  2110.87   289.38          85.72        279.94
54
55          Beginning NRS Total     0.00     0.00           0.00          0.00
56               Total Receipts  2449.85   342.88         113.12        305.94
57                    Discounts     0.00     0.00           0.00          0.00
58                     Paid Ins     0.00     0.00           0.00          0.00
59                  Gross Total  2449.85   342.88         113.12        305.94
60                    NRS Total  2449.85   342.88         113.12        305.94

# Workflow 2: Don't Drop Labels

In [37]:
## --- Create new DF to allow for later reuse --- ##

df_no_drp = df_cleaned.copy()
df_no_drp

                          Label   Lounge Rain 903 In-Room Dining Coffee Corner
0                          Food   742.00   273.00          62.00        247.65
1                      Beverage  1215.00     0.00           0.00          0.00
2                         Other     0.00     0.00          20.00         16.25
3                Sales Subtotal  1957.00   273.00          82.00        263.90
4                      Discount     0.00     0.00           0.00          0.00
5                        Charge     0.00     0.00           0.00          0.00
6              Total before tax  1957.00   273.00          82.00        263.90
7                    MD Food 6%    44.52    16.38           3.72         16.04
8                     MD Liq 9%   109.35     0.00           0.00          0.00
9                          None     0.00     0.00           0.00          0.00
10                         None     0.00     0.00           0.00          0.00
11                 Tax Subtotal   153.87    16.38           3.72         16.04
12             Receipt Rounding     0.00     0.00           0.00          0.00
13               Total of check  2110.87   289.38          85.72        279.94
14
15                Tip collected   338.98    53.50          27.40         26.00
16                  PaidIn - AR     0.00     0.00           0.00          0.00
17             PaidIn - Debitek     0.00     0.00           0.00          0.00
18   PaidIn - Gift Certificates     0.00     0.00           0.00          0.00
19          Unadjusted receipts  2449.85   342.88         113.12        305.94
20
21                 No of Covers    65.00    12.00           4.00         43.00
22                 No of Checks       66       12              4            43
23                    Avg cover    30.11    22.75          20.50          6.14
24                    Avg check    29.65    22.75          20.50          6.14
25
26                 ALL A&G CHRG    31.25    31.20           0.00          0.00
27                  Room Charge   585.90   102.20          70.88         46.80
28             American Express    91.79     0.00           0.00         10.22
29                         Cash   240.84     0.00           0.00         35.60
30                Discover Card   134.73     0.00           0.00          0.00
31                   MasterCard   334.45    58.32           0.00         31.38
32                         Visa  1030.89   151.16          42.24        181.94
33              $2 Tip - Coupon     0.00     0.00           0.00          0.00
34                      PMS A&G     0.00     0.00           0.00          0.00
35       Paper Gift Certificate     0.00     0.00           0.00          0.00
36                      LevelUp     0.00     0.00           0.00          0.00
37                        S & P     0.00     0.00           0.00          0.00
38                 20% Discount     0.00     0.00           0.00          0.00
39                  Bad Payment     0.00     0.00           0.00          0.00
40             External Payment     0.00     0.00           0.00          0.00
41
42          Unadjusted receipts  2449.85   342.88         113.12        305.94
43              Total Paid Outs     0.00     0.00           0.00          0.00
44                  Server bank     0.00     0.00           0.00          0.00
45                   Total tips   338.98    53.50          27.40         26.00
46      Server credit card fees     0.00     0.00           0.00          0.00
47                     Net tips   338.98    53.50          27.40         26.00
48                     Net Cash   -98.14   -53.50         -27.40          9.60
49     Other receipts turned in  2209.01   342.88         113.12        270.34
50                 Server Drops     0.00     0.00           0.00          0.00
51                    Turned in  2110.87   289.38          85.72        279.94
52  Restaurant credit card fees     0.00     0.00           0.00          0.00
53            Estimated deposit  2110.87   289.38          85.72        279.94
54
55          Beginning NRS Total     0.00     0.00           0.00          0.00
56               Total Receipts  2449.85   342.88         113.12        305.94
57                    Discounts     0.00     0.00           0.00          0.00
58                     Paid Ins     0.00     0.00           0.00          0.00
59                  Gross Total  2449.85   342.88         113.12        305.94
60                    NRS Total  2449.85   342.88         113.12        305.94

In [38]:
## --- Dropping blank rows --- ##

df_no_drp_idx = df_no_drp[~df_no_drp.loc[:, "Label"].isin([' '])]
df_no_drp_idx

                          Label   Lounge Rain 903 In-Room Dining Coffee Corner
0                          Food   742.00   273.00          62.00        247.65
1                      Beverage  1215.00     0.00           0.00          0.00
2                         Other     0.00     0.00          20.00         16.25
3                Sales Subtotal  1957.00   273.00          82.00        263.90
4                      Discount     0.00     0.00           0.00          0.00
5                        Charge     0.00     0.00           0.00          0.00
6              Total before tax  1957.00   273.00          82.00        263.90
7                    MD Food 6%    44.52    16.38           3.72         16.04
8                     MD Liq 9%   109.35     0.00           0.00          0.00
9                          None     0.00     0.00           0.00          0.00
10                         None     0.00     0.00           0.00          0.00
11                 Tax Subtotal   153.87    16.38           3.72         16.04
12             Receipt Rounding     0.00     0.00           0.00          0.00
13               Total of check  2110.87   289.38          85.72        279.94
15                Tip collected   338.98    53.50          27.40         26.00
16                  PaidIn - AR     0.00     0.00           0.00          0.00
17             PaidIn - Debitek     0.00     0.00           0.00          0.00
18   PaidIn - Gift Certificates     0.00     0.00           0.00          0.00
19          Unadjusted receipts  2449.85   342.88         113.12        305.94
21                 No of Covers    65.00    12.00           4.00         43.00
22                 No of Checks       66       12              4            43
23                    Avg cover    30.11    22.75          20.50          6.14
24                    Avg check    29.65    22.75          20.50          6.14
26                 ALL A&G CHRG    31.25    31.20           0.00          0.00
27                  Room Charge   585.90   102.20          70.88         46.80
28             American Express    91.79     0.00           0.00         10.22
29                         Cash   240.84     0.00           0.00         35.60
30                Discover Card   134.73     0.00           0.00          0.00
31                   MasterCard   334.45    58.32           0.00         31.38
32                         Visa  1030.89   151.16          42.24        181.94
33              $2 Tip - Coupon     0.00     0.00           0.00          0.00
34                      PMS A&G     0.00     0.00           0.00          0.00
35       Paper Gift Certificate     0.00     0.00           0.00          0.00
36                      LevelUp     0.00     0.00           0.00          0.00
37                        S & P     0.00     0.00           0.00          0.00
38                 20% Discount     0.00     0.00           0.00          0.00
39                  Bad Payment     0.00     0.00           0.00          0.00
40             External Payment     0.00     0.00           0.00          0.00
42          Unadjusted receipts  2449.85   342.88         113.12        305.94
43              Total Paid Outs     0.00     0.00           0.00          0.00
44                  Server bank     0.00     0.00           0.00          0.00
45                   Total tips   338.98    53.50          27.40         26.00
46      Server credit card fees     0.00     0.00           0.00          0.00
47                     Net tips   338.98    53.50          27.40         26.00
48                     Net Cash   -98.14   -53.50         -27.40          9.60
49     Other receipts turned in  2209.01   342.88         113.12        270.34
50                 Server Drops     0.00     0.00           0.00          0.00
51                    Turned in  2110.87   289.38          85.72        279.94
52  Restaurant credit card fees     0.00     0.00           0.00          0.00
53            Estimated deposit  2110.87   289.38          85.72        279.94
55          Beginning NRS Total     0.00     0.00           0.00          0.00
56               Total Receipts  2449.85   342.88         113.12        305.94
57                    Discounts     0.00     0.00           0.00          0.00
58                     Paid Ins     0.00     0.00           0.00          0.00
59                  Gross Total  2449.85   342.88         113.12        305.94
60                    NRS Total  2449.85   342.88         113.12        305.94

In [39]:
## --- Relabel and reset index with correct labels --- ##

df_no_drp_idx = df_no_drp_idx.rename(df_no_drp_idx["Label"])
df_no_drp_idx = df_no_drp_idx.drop(columns = "Label")
df_no_drp_idx

                              Lounge Rain 903 In-Room Dining Coffee Corner
Food                          742.00   273.00          62.00        247.65
Beverage                     1215.00     0.00           0.00          0.00
Other                           0.00     0.00          20.00         16.25
Sales Subtotal               1957.00   273.00          82.00        263.90
Discount                        0.00     0.00           0.00          0.00
Charge                          0.00     0.00           0.00          0.00
Total before tax             1957.00   273.00          82.00        263.90
MD Food 6%                     44.52    16.38           3.72         16.04
MD Liq 9%                     109.35     0.00           0.00          0.00
None                            0.00     0.00           0.00          0.00
None                            0.00     0.00           0.00          0.00
Tax Subtotal                  153.87    16.38           3.72         16.04
Receipt Rounding                0.00     0.00           0.00          0.00
Total of check               2110.87   289.38          85.72        279.94
Tip collected                 338.98    53.50          27.40         26.00
PaidIn - AR                     0.00     0.00           0.00          0.00
PaidIn - Debitek                0.00     0.00           0.00          0.00
PaidIn - Gift Certificates      0.00     0.00           0.00          0.00
Unadjusted receipts          2449.85   342.88         113.12        305.94
No of Covers                   65.00    12.00           4.00         43.00
No of Checks                      66       12              4            43
Avg cover                      30.11    22.75          20.50          6.14
Avg check                      29.65    22.75          20.50          6.14
ALL A&G CHRG                   31.25    31.20           0.00          0.00
Room Charge                   585.90   102.20          70.88         46.80
American Express               91.79     0.00           0.00         10.22
Cash                          240.84     0.00           0.00         35.60
Discover Card                 134.73     0.00           0.00          0.00
MasterCard                    334.45    58.32           0.00         31.38
Visa                         1030.89   151.16          42.24        181.94
$2 Tip - Coupon                 0.00     0.00           0.00          0.00
PMS A&G                         0.00     0.00           0.00          0.00
Paper Gift Certificate          0.00     0.00           0.00          0.00
LevelUp                         0.00     0.00           0.00          0.00
S & P                           0.00     0.00           0.00          0.00
20% Discount                    0.00     0.00           0.00          0.00
Bad Payment                     0.00     0.00           0.00          0.00
External Payment                0.00     0.00           0.00          0.00
Unadjusted receipts          2449.85   342.88         113.12        305.94
Total Paid Outs                 0.00     0.00           0.00          0.00
Server bank                     0.00     0.00           0.00          0.00
Total tips                    338.98    53.50          27.40         26.00
Server credit card fees         0.00     0.00           0.00          0.00
Net tips                      338.98    53.50          27.40         26.00
Net Cash                      -98.14   -53.50         -27.40          9.60
Other receipts turned in     2209.01   342.88         113.12        270.34
Server Drops                    0.00     0.00           0.00          0.00
Turned in                    2110.87   289.38          85.72        279.94
Restaurant credit card fees     0.00     0.00           0.00          0.00
Estimated deposit            2110.87   289.38          85.72        279.94
Beginning NRS Total             0.00     0.00           0.00          0.00
Total Receipts               2449.85   342.88         113.12        305.94
Discounts                       0.00     0.00           0.00          0.00
Paid Ins                        0.00     0.00           0.00          0.00
Gross Total                  2449.85   342.88         113.12        305.94
NRS Total                    2449.85   342.88         113.12        305.94

In [40]:
## --- Review datatypes --- ##

df_no_drp_idx.dtypes

Lounge            object
Rain 903          object
In-Room Dining    object
Coffee Corner     object
dtype: object

In [42]:
## --- Recast columns to "float" datatype & review --- ##

for col in df_no_drp_idx.columns:
    df_no_drp_idx[col] = pd.to_numeric(df_no_drp_idx[col], downcast = 'float')

print(df_no_drp_idx.dtypes)

display(df_no_drp_idx)

Lounge            float32
Rain 903          float32
In-Room Dining    float32
Coffee Corner     float32
dtype: object

,Lounge,Rain 903,In-Room Dining,Coffee Corner
Food,742.000000,273.000000,62.000000,247.649994
Beverage,1215.000000,0.000000,0.000000,0.000000
Other,0.000000,0.000000,20.000000,16.250000
Sales Subtotal,1957.000000,273.000000,82.000000,263.899994
Discount,0.000000,0.000000,0.000000,0.000000
Charge,0.000000,0.000000,0.000000,0.000000
Total before tax,1957.000000,273.000000,82.000000,263.899994
MD Food 6%,44.520000,16.379999,3.720000,16.040001
MD Liq 9%,109.349998,0.000000,0.000000,0.000000
None,0.000000,0.000000,0.000000,0.000000
None,0.000000,0.000000,0.000000,0.000000
Tax Subtotal,153.869995,16.379999,3.720000,16.040001
Receipt Rounding,0.000000,0.000000,0.000000,0.000000
Total of check,2110.870117,289.380005,85.720001,279.940002
Tip collected,338.980011,53.500000,27.400000,26.000000
PaidIn - AR,0.000000,0.000000,0.000000,0.000000
PaidIn - Debitek,0.000000,0.000000,0.000000,0.000000
PaidIn - Gift Certificates,0.000000,0.000000,0.000000,0.000000
Unadjusted receipts,2449.850098,342.880005,113.120003,305.940002
No of Covers,65.000000,12.000000,4.000000,43.000000
No of Checks,66.000000,12.000000,4.000000,43.000000
Avg cover,30.110001,22.750000,20.500000,6.140000
Avg check,29.650000,22.750000,20.500000,6.140000
ALL A&G CHRG,31.250000,31.200001,0.000000,0.000000
Room Charge,585.900024,102.199997,70.879997,46.799999
American Express,91.790001,0.000000,0.000000,10.220000
Cash,240.839996,0.000000,0.000000,35.599998
Discover Card,134.729996,0.000000,0.000000,0.000000
MasterCard,334.450012,58.320000,0.000000,31.379999
Visa,1030.890015,151.160004,42.240002,181.940002
$2 Tip - Coupon,0.000000,0.000000,0.000000,0.000000
PMS A&G,0.000000,0.000000,0.000000,0.000000
Paper Gift Certificate,0.000000,0.000000,0.000000,0.000000
LevelUp,0.000000,0.000000,0.000000,0.000000
S & P,0.000000,0.000000,0.000000,0.000000
20% Discount,0.000000,0.000000,0.000000,0.000000
Bad Payment,0.000000,0.000000,0.000000,0.000000
External Payment,0.000000,0.000000,0.000000,0.000000
Unadjusted receipts,2449.850098,342.880005,113.120003,305.940002
Total Paid Outs,0.000000,0.000000,0.000000,0.000000
Server bank,0.000000,0.000000,0.000000,0.000000
Total tips,338.980011,53.500000,27.400000,26.000000
Server credit card fees,0.000000,0.000000,0.000000,0.000000
Net tips,338.980011,53.500000,27.400000,26.000000
Net Cash,-98.139999,-53.500000,-27.400000,9.600000
Other receipts turned in,2209.010010,342.880005,113.120003,270.339996
Server Drops,0.000000,0.000000,0.000000,0.000000
Turned in,2110.870117,289.380005,85.720001,279.940002
Restaurant credit card fees,0.000000,0.000000,0.000000,0.000000
Estimated deposit,2110.870117,289.380005,85.720001,279.940002
Beginning NRS Total,0.000000,0.000000,0.000000,0.000000
Total Receipts,2449.850098,342.880005,113.120003,305.940002
Discounts,0.000000,0.000000,0.000000,0.000000
Paid Ins,0.000000,0.000000,0.000000,0.000000
Gross Total,2449.850098,342.880005,113.120003,305.940002
NRS Total,2449.850098,342.880005,113.120003,305.940002

In [21]:
## --- Filter rows without any activity --- ##

df_no_drp_idx[df_no_drp_idx.sum(axis=1) > 0]

                                  Bar  Dining Room  Room Service   Starbucks
Food                       742.000000   273.000000     62.000000  247.649994
Beverage                  1215.000000     0.000000      0.000000    0.000000
Other                        0.000000     0.000000     20.000000   16.250000
Sales Subtotal            1957.000000   273.000000     82.000000  263.899994
Total before tax          1957.000000   273.000000     82.000000  263.899994
MD Food 6%                  44.520000    16.379999      3.720000   16.040001
MD Liq 9%                  109.349998     0.000000      0.000000    0.000000
Tax Subtotal               153.869995    16.379999      3.720000   16.040001
Total of check            2110.870117   289.380005     85.720001  279.940002
Tip collected              338.980011    53.500000     27.400000   26.000000
Unadjusted receipts       2449.850098   342.880005    113.120003  305.940002
No of Covers                65.000000    12.000000      4.000000   43.000000
No of Checks                66.000000    12.000000      4.000000   43.000000
Avg cover                   30.110001    22.750000     20.500000    6.140000
Avg check                   29.650000    22.750000     20.500000    6.140000
ALL A&G CHRG                31.250000    31.200001      0.000000    0.000000
Room Charge                585.900024   102.199997     70.879997   46.799999
American Express            91.790001     0.000000      0.000000   10.220000
Cash                       240.839996     0.000000      0.000000   35.599998
Discover Card              134.729996     0.000000      0.000000    0.000000
MasterCard                 334.450012    58.320000      0.000000   31.379999
Visa                      1030.890015   151.160004     42.240002  181.940002
Unadjusted receipts       2449.850098   342.880005    113.120003  305.940002
Total tips                 338.980011    53.500000     27.400000   26.000000
Net tips                   338.980011    53.500000     27.400000   26.000000
Other receipts turned in  2209.010010   342.880005    113.120003  270.339996
Turned in                 2110.870117   289.380005     85.720001  279.940002
Estimated deposit         2110.870117   289.380005     85.720001  279.940002
Total Receipts            2449.850098   342.880005    113.120003  305.940002
Gross Total               2449.850098   342.880005    113.120003  305.940002
NRS Total                 2449.850098   342.880005    113.120003  305.940002

In [ ]:
## --- Filter rows without any activity --- ##

# Workflow 1: Dropping Unused Labels

---

**Dropping Labels**

> Currently, I ignore several sections of the report as they do not report any relevant details. However, **this may lead us to overlook any irregular data.**
>
> This work flow focused on the most commonly used section of the report, highlighting the details used for NA.
>
> While I prefer a more inclusive approach, I am keeping this work flow for reference.

---

In [ ]:
## --- Identify unique labels to determine which to drop --- ##

df_cleaned.loc[:, "Label"].unique()

In [ ]:
## --- Create list of labels to drop --- ##

drop_labels = ['Sales Subtotal', 'Total before tax', 'None', 'None', 
               'Tax Subtotal','Receipt Rounding','Total of check', ' ', 'Unadjusted receipts',
               'PaidIn - AR', 'PaidIn - Debitek','PaidIn - Gift Certificates',
               'No of Covers', 'No of Checks', 'Avg cover', 'Avg check',
               'Total Paid Outs', 'Server bank', 'Total tips',
               'Server credit card fees', 'Net tips', 'Net Cash',
               'Other receipts turned in', 'Server Drops', 'Turned in',
               'Restaurant credit card fees', 'Estimated deposit',
               'Beginning NRS Total', 'Total Receipts', 'Discounts',
               'Paid Ins','Gross Total', 'NRS Total']
drop_labels

In [ ]:
## --- Drop specified labels and save to new DF --- ##

df_new_idx =df_cleaned[~df_cleaned.loc[:, "Label"].isin(drop_labels)]
df_new_idx

In [ ]:
## --- Rename index with remaining labels --- ##

df_new_idx = df_new_idx.rename(df_cleaned["Label"])
df_new_idx = df_new_idx.drop(columns = "Label")
df_new_idx

# ‚ö†Ô∏è CONDENSE W/ UPPER WF ‚ö†Ô∏è

In [ ]:
## --- Review remaining datatypes --- ##

df_new_idx.dtypes

In [ ]:
## --- Recast DT --- ##

for col in df_new_idx.columns:
    df_new_idx[col] = pd.to_numeric(df_new_idx[col], downcast = 'float')

df_new_idx.dtypes

In [ ]:
## --- Inspect results --- ##

df_new_idx.T.describe()

In [ ]:
## --- Create new total column --- ##

df_new_idx['Total'] = df_new_idx.sum(axis=1)
df_new_idx

In [ ]:
## --- Filter out zero sums --- ##

df_compressed = df_new_idx[df_new_idx['Total'] >0]
df_compressed

In [ ]:
df_compressed['Bar']['Food']

In [ ]:
## --- Test print statements for logging purposes --- ##

for col in df_compressed.columns[:-1]:
    print(f"Post to {col} food: {df_compressed[col]['Food']+df_compressed[col]['Other']:.2f}")

In [43]:
## --- Further testing for logging purposes --- ##

dept_list = ["Rain 903", "In Room Dining", "Coffee Corner", "Lobby Bar"]
sd_list = ["Food", "Liquor", "Tax", "Gratuity"]

for dept in dept_list:
    for sd in sd_list:
        print(dept+" - "+sd)

Rain 903 - Food
Rain 903 - Liquor
Rain 903 - Tax
Rain 903 - Gratuity
In Room Dining - Food
In Room Dining - Liquor
In Room Dining - Tax
In Room Dining - Gratuity
Coffee Corner - Food
Coffee Corner - Liquor
Coffee Corner - Tax
Coffee Corner - Gratuity
Lobby Bar - Food
Lobby Bar - Liquor
Lobby Bar - Tax
Lobby Bar - Gratuity